@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,300,400,500,700,900|Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&subset=korean');


/* 전체적용 */
body {font-family:'Noto Sans',AppleGothic, Verdana, Arial, Helvetica, sans-serif;color:#222;min-width:320px;background: #fff;}
a, a:link	{color:#222; text-decoration:none;} 
a:visited	{color:#222; text-decoration:none;}
a:hover		{color:#222; text-decoration:none;}
a:active	{color:#222; text-decoration:none;} 
a:focus		{color:#222; text-decoration:none;}
ul,li,dl,dt,dd{padding:0;margin:0}
ul{list-style:none;}

.font_malgun {font-family: 'Malgun Gothic', 맑은 고딕;}
.font_georgia {font-family: 'Georgia'}

.bg_primary {background-color:#163f8c;}
.bg_sub {}
.img-responsive {display: block;max-width: 100%;height: auto;}
.ir-pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen-hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.tran-animate {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.fd-transition {-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.fd-transition-2 {-webkit-transition: all .9s ease;-moz-transition: all .9s ease;-o-transition: all .9s ease;-ms-transition: all .9s ease;transition: all .9s ease;}



/* 
** opacity 
*/
.opacity_0	{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity: 0;filter: alpha(opacity=0);zoom:1;}
.opacity_10 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";opacity: 0.1;filter: alpha(opacity=10);zoom:1;}
.opacity_15 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";opacity: 0.15;filter: alpha(opacity=15);zoom:1;}
.opacity_20 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity: 0.2;filter: alpha(opacity=20);zoom:1;}
.opacity_25 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";opacity: 0.25;filter: alpha(opacity=25);zoom:1;}
.opacity_30 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity: 0.3;filter: alpha(opacity=30);zoom:1;}
.opacity_35 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";opacity: 0.35;filter: alpha(opacity=35);zoom:1;}
.opacity_40 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity: 0.4;filter: alpha(opacity=40);zoom:1;}
.opacity_45 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";opacity: 0.45;filter: alpha(opacity=45);zoom:1;}
.opacity_50 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.5;filter: alpha(opacity=50);zoom:1;}
.opacity_55 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";opacity: 0.55;filter: alpha(opacity=55);zoom:1;}
.opacity_60 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity: 0.6;filter: alpha(opacity=60);zoom:1;}
.opacity_65 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity: 0.65;filter: alpha(opacity=65);zoom:1;}
.opacity_70 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity: 0.7;filter: alpha(opacity=70);zoom:1;}
.opacity_75 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";opacity: 0.75;filter: alpha(opacity=75);zoom:1;}
.opacity_80 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: 0.8;filter: alpha(opacity=80);zoom:1;}
.opacity_85 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";opacity: 0.85;filter: alpha(opacity=85);zoom:1;}
.opacity_90 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.opacity_95 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";opacity: 0.95;filter: alpha(opacity=95);zoom:1;}



.k_wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container {position:relative;width:1400px;min-width:1400px;margin:0;padding:0;clear:both;}
.k_container:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container.type_center {margin:0 auto;}


.scrollOpacity {opacity:0;transition:opacity 1s;}
.scrollOpacity.active {opacity:1;}

.pc_only {display: block;}
.mobile_only {display: none}



#wrap {height:auto;background:transparent;}



#m_menu {display: none; position: absolute; top: 0; right: 10px; width: 35px; height: 87px;}
/*top*/
header#header {position: relative; width: 100%;min-width: 1400px;top: 0;left: 0;z-index: 900;}
header.bg {background: #282c37;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";opacity: 0.95;filter: alpha(opacity=95);zoom:1;}
/*header.sub.bg {position: relative; width: 100%;background-image: url("../img/sub_vg.jpg"); background-repeat: no-repeat; background-position: center; height: 441px;}
header.bg {position: relative; width: 100%;height: 936px;}*/
header.m-fixed {top: 0;position: fixed;    z-index: 9999;}
.header_wrap {width: 100%; height: 94px;  z-index: 9999;position: relative;}
/*.header_wrap:after {content:'';background: #ffffff;width:100%;height: 1px;bottom: 0;position: absolute;opacity: 0.4}*/
.headerBox {position: relative;width:1400px;margin:0 auto;}
.header_wrap div.logo {position: absolute; top:0;left:0;width:353px;height:94px;background-image: url("../img/logo.png"); background-repeat: no-repeat;background-position: center;}
.header_wrap h1 {margin:0}
.header_wrap h1 a {    display: block;    height: 94px;}

.etc_menu {position: relative;width: 100%;height:35px;line-height:35px;text-align: right;display: none}
.etc_menu a {font-size:12px;line-height:35px;color:#ffffff;}
.etc_menu a i {line-height:35px;}
/* lang_bg */
#lang_bg{position :fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);left: 0px;top : 0px;z-index: 999;display: none;}
.lang_wrap{width: 1400px;margin: 0 auto;position : relative;}
.lang_nemo{width: 140px;background-color: #fff;border-radius: 5px;top: 50px;position: absolute;right: 25px;}
.lang_nemo:before {content:'▲';position: absolute;top:-19px;left:50%;color:#fff;margin-left:-8px;}
.lang_nemo a{position : relative;padding: 5px 30px;font-size: 16px;color: #666;display: block;text-align: left;}
.lang_nemo a span{content : "";display: none;position : absolute;width: 30px;height: 1px; right: 30px;background-color: #d41814;top : 16px;}
.lang_active {color : #d41814 !important;}
.lang_active span{display: block !important;}


.header_inner {clear: both;position: absolute; top:0;right:0; width:950px; display: block;text-align: right}

.header_wrap .lang {position: absolute; top:0;right:0;text-align: right}
.header_wrap .lang a {position:relative;display: block;width:64px;line-height: 87px;}
.header_wrap .lang a i {color:#fff;font-size: 17px;}
.header_wrap .lang a:hover i {color: #03e1f5;}

#gnbnav {background:transparent;}
#gnbnav:after {content: '';position: absolute;right:0;bottom: 0;width:10px;height: 10px;background: transparent;}
#gnbnav ul.gnb_list {width: 100%;font-size: 0;line-height: 0;}
#gnbnav ul.gnb_list > li {display: inline-block;text-align: center;position: relative;}
#gnbnav ul.gnb_list > li > a {display:block;color: #6c6c6c; font-size: 20px;line-height: 94px;position: relative;padding:0 15px;font-weight: 400;letter-spacing: -1px;}
#gnbnav ul.gnb_list > li > a:before {content:'';position: absolute;top:50%;left:0;margin-top:-3px;width:1px;height: 10px;background: #b4b4b4;}
#gnbnav ul.gnb_list > li:first-child > a:before {content:'';width:0;height: 0;}
#gnbnav ul.gnb_list > li:last-child > a:after {content:'';width:0;height: 0;}

#gnbnav ul.gnb_list > li > a.on,
#gnbnav ul.gnb_list > li > a:hover {color: #0d2c54;}

#gnbnav ul.gnb_list > li > a .line {position: absolute;display: block;bottom: 0;height: 3px;width: 0%;background: #0d2c54;left: 50%;}
#gnbnav ul.gnb_list > li > a.on .line,
#gnbnav ul.gnb_list > li > a:hover > a .line {width: 100% !important;left: 0px !important;}

/*header.sub .etc_menu a {color:#272727;}
header.sub .header_wrap:after {content:'';background: #b5b5b5;width:100%;height: 1px;bottom: 0;position: absolute;}
header.sub .header_wrap div.logo {background-image: url("../img/sub_logo.png");background-repeat: no-repeat;background-position: center;}
header.sub #gnbnav ul.gnb_list > li > a {color:#272727;}*/


.header_wrap.active {background: url(../img/bg_header_line_on.png);height:71px;}

.header_wrap.active div.logo {height:71px;}
.header_wrap.active h1 a {height:71px;}
.header_wrap.active .lang a {line-height: 71px;}

.header_wrap.active #gnbnav ul.gnb_list > li > a {color: #ffffff;line-height: 71px;}
.header_wrap.active #gnbnav ul.gnb_list > li > a.on,
.header_wrap.active #gnbnav ul.gnb_list > li > a:hover {color: #ff0000;}

#gnbnav ul.subNavi {position: absolute;left:0;width:100%;padding: 20px 0;overflow:hidden;z-index:100;display:none;}
#gnbnav ul.subNavi li {display: block;}
#gnbnav ul.subNavi li a {color:#4e4e4e; font-size: 16px;padding:0 10px;line-height:40px;display: block; text-align:center;font-weight: 400;}
#gnbnav ul.subNavi li a:hover {color:#7fb800;font-weight: 500;}
#gnbnav ul.subNavi.on {display: block;}

.subMenuBg {position:fixed;left:0;top:94px;width:100%;background: #fff;padding:0;z-index:99;display:none; }
.subMenuBg:before {content:'';position: absolute;top:0;left:0;width:100%;height: 1px;background: #b2b2b2;}


/*모바일메뉴*/
.m_menu_h {position: fixed; top: 0; right: 0; z-index: 99999; width: 310px; height: 100%;overflow-y: auto;}
.nav-top {border-bottom: 1px solid #d01c25;background: #fff;}
.btn-x {text-align: right; padding: 0  10px;}
.btn-x i {color:#454545;line-height: 57px}
.m-nav > li {border-bottom: 1px solid #d01c25; padding:0;}
.m-nav > li.mmli_up {}
.m-nav > li > a {color: #454545; font-size: 16px; font-weight: bold;display:block;line-height:57px;padding-left:20px; position:relative; }
.m-nav > li > a.on {background: #d01c25;color: #ffffff;}
.m-nav > li > a i {position: absolute;top:50%;right:10px;margin-top:-8px;}

.sub_menu {margin-top: 0;display: none;background:#fff;opacity: 0.7;}
.sub_menu > li {}
.sub_menu > li > a {font-size:14px;color: #d01c25;display:block;line-height: 35px;padding-left:20px; }
.sub_menu > li > a:hover {color:#ffffff;text-decoration: none;background:#6298db;}
.m_lang {padding: 0 20px; margin-top: 40px;}
.m_lang ul {overflow: hidden; width: 100%; border: 1px solid #d01c25;}
.m_lang ul li {width: 50%; float: left; text-align: center; }
.m_lang ul li a {background: #fff;color:#454545; font-size: 14px; padding: 12px 0; display: block; width: 100%; }
.m_lang ul li a.on  {background: #d01c25;color:#fff; }


.m_menu_h p {color: #d01c25; font-size: 13px; letter-spacing: 0; padding-left: 20px; margin-top: 20px;}
.dim {position: fixed; width: 100%; max-width: 996px; height: 100%; background: #000; opacity: 0.5; top: 0;z-index: 999;}
.m_menu_bg {position: fixed; width: 100%; width: 310px; height: 100%; background: #fff; top: 0;right: 0;z-index: 1000;}
.m_menu_wrap {position: fixed; display: none; top: 0; left: 0; right: 0; max-width: 996px; width: 100%; height: 100%; margin: 0 auto; z-index: 9999; overflow-y: auto;}      

      


body{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
body.on-side {margin-left: -308px;}
#sideToggleWrap {position: fixed;overflow-y: auto;top: 0;right: -308px;width: 308px;padding: 21px 17px;height: 100%;display: block;background-color: #323232;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
z-index: 9;
}
#sideToggleWrap.on{right: 0;}
#sideToggleWrap .close-sideToggle {float: right;color: #fff;position: relative;z-index: 2;font-size: 16px;}
#sideToggleWrap .widget {position: relative;z-index: 1;clear:both;}

#sideToggleWrap .widget .logocopy {margin:65px 0 30px; }
#sideToggleWrap .widget p.logo_desc {font-family:'Nanum Barun Gothic', sans-serif;color: #fff;margin:0 0 50px 0;font-size: 18px;letter-spacing: -1px;}
#sideToggleWrap .widget p.tel_text {font-family:'Nanum Barun Gothic', sans-serif;color: #fff;margin:0 0 50px 0;font-size: 30px;letter-spacing: -1px;}

#sideToggleWrap .widget div.sns_btnLink {margin-bottom: 45px;overflow: hidden;}
#sideToggleWrap .widget div.sns_btnLink ul {padding: 0;margin: 0;clear:both;}
#sideToggleWrap .widget div.sns_btnLink ul li {float:left;margin-right:15px;}
#sideToggleWrap .widget div.sns_btnLink ul li:last-child {margin-right: 0;}
#sideToggleWrap .widget div.sns_btnLink ul li a {display:table-cell;vertical-align: middle;width:50px;height:50px;border:1px solid #bdbdbe;border-radius:10px;text-align: center;line-height: 1;}
#sideToggleWrap .widget div.sns_btnLink ul li a.location {display: block;width:127px;height:35px;line-height: 33px;}
#sideToggleWrap .widget div.sns_btnLink ul li a span {color:#bdbdbe;font-size:14px;}


/* 서브 상단 */
.sub_vg { position : relative;width: 100%;min-width:1400px;height:256px; background: url(../img/sub_vg.jpg) no-repeat; background-position: center; background-size: cover;  }
div#vg_con {width:1400px;height:100%;margin: 0 auto; position : relative;}
div#vg_con p {width: 100%;text-align: center;color: #ffffff;font-size: 20px; font-weight: 400;padding:74px 0 0;margin:0;}
div#vg_con h2 {position:relative;padding:0;color: #fff;font-size: 36px;padding:0;  margin:0;line-height: 1.5;font-weight: 900;    text-align: center;}

#tabMiddleWrap {}
div.vg_sub_area2 {display: none;width: 100%;}
div.vg_sub_area2.sub {margin-top:0;}
.sub_tab2 {display:block;width:100%;height: 49px;    white-space: nowrap; text-align: left; clear: both;margin:0;}
.sub_tab2 li.tab_list { display:inline-block;height:49px;white-space: nowrap;position:relative;margin:0;padding:0 35px 0 0;}
.sub_tab2 li.tab_list:last-child {padding:0;}
.sub_tab2 li.tab_list > a {font-size:14px;line-height:49px;letter-spacing:-1px;display:inline;position:relative;color:#ffffff;}
.sub_tab2 li.tab_list > a:after {content: ''; position: absolute;top:3px;right:-22px;width:1px;height:10px;background:#aec2dc;}
.sub_tab2 li.tab_list:last-child > a:after {width:0;height:0;}
.sub_tab2 li.tab_list > a.selected,
.sub_tab2 li.tab_list > a:hover {color:#00e4ff;}


div.vg_sub_area {position: absolute;top: -35px;}
.sub_tab {    width: 100%;overflow: hidden; table-layout: fixed;margin:0;  border-collapse: collapse;  display: table;}
.sub_tab li.tab_list { display: table-cell;position:relative;margin:0;border: solid #dddddd;border-width:1px;vertical-align: middle; line-height: 68px  }
.sub_tab li.tab_list > a {font-size:18px;letter-spacing:-1px;display:inline-block;    width: 100%;text-align:center;position:relative;color:#898989;background: #f5f5f5}
.sub_tab li.tab_list > a.selected {background:#cb4c2c;color:#ffffff;}




.sub_depth_1, .sub_depth_2 {display:none;}





.text-center img {max-width: 100%;height: auto;}

/* footer */

#footer {width:100%; min-width:1400px;padding:0; background:#1a1a1a;}
.copyright_wrap {width:1400px;height:100%;position:relative;margin:0 auto; }

.goTop {position: absolute;top:0;right:0;background: #bababa;}
.goTop a {display: block;width:60px;height:60px;text-align: center;}
.goTop a i {color:#fff;line-height: 60px;font-size:2.0em;}

.copy_logo	{display:block;line-height: 140px;position: absolute;top:0;left:0;}
.copy_logo img {vertical-align: middle;    max-width: 100%;    max-height: 100%;}
address	{display:block;color:#6d6d6d; font-size:15px;padding:40px 0 40px 376px;line-height: 1.5;font-style: normal;}
address p {color:#c3c2c2;}

.copy_by	{position: absolute;bottom:15px; right:0;}

.copy_by a.copy_link {color:#bebdbd;font-size:0.8rem;}
.copy_by a.copy_link small {font-style: italic}

.foot_menu {position: absolute;bottom:40px;left:0;}
.foot_menu a {font-size:14px;line-height:1.5;color:#c3c2c2;position: relative;}
.foot_menu a:after {content: '';position: absolute;background: #c3c2c2;width:1px;height:10px;margin-top: -3px;top: 50%;right: -9px;}
.foot_menu a:last-child:after {content: '';width:0;height: 0}




/* */
#main_container{
	width: 100%;
	padding:0;
	margin:0 auto 0px auto;
	position:relative;
	top: 0px;
	z-index:0;
	overflow: hidden;
}



/* 비쥬얼그래픽 */
.vg_inner {width:100%;min-width:1400px;height:800px;position: relative;z-index: 1;top: 0;overflow: hidden;}

.vg_title {width:1400px;position: absolute;top:28%;left:50%;margin-top:0;margin-left:-700px;z-index: 555;}
.vg_title .vg_box {position: relative;padding:50px 0;}
/*.vg_title .vg_box:before {content: '';position: absolute;top: 0;bottom: 0;left: -100%;right:0;background: #0b2f8d;opacity: 0.8;z-index: -1;}*/
.vg_title h2 {color:#ffffff;margin:0;text-align:left;line-height: 1.3;text-align: center;}
.vg_title h2 div.topTxt {font-size:68px;font-weight: 900;}
.vg_title p {color:#ffffff;margin:35px 0 0;text-align:left;font-size:20px;padding:10px 0;text-transform: uppercase;letter-spacing: 0.1em;text-align: center;}

/*.vg_tit_box {margin:0;height:80px;overflow: hidden;text-align: center;}*/
.vg_title h2 span,
.vg_title p span {opacity: 0;}

.vg_down {position: absolute;bottom: 140px;left: 50%;margin-left: -70px;width: 80px;z-index: 500;text-align: center;}
.vg_down a {display: block;cursor: default;}
.vg_down a span {margin-top:20px;color:#fff;font-weight: 500;letter-spacing: -1px;display:block;position: relative;}
.vg_down a span:after {content: '>';position: absolute;right:-20px;top:2px;transform: rotate(90deg);}

.upDownAni { animation: upDownAnimation .4s ease-in-out infinite alternate}
@-webkit-keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}
@-moz-keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}
@-o-keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}
@keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}



.box_wrap {position:relative;width:1400px;margin:0 auto;clear:both;}

#subQuickMenu {position:absolute;top:105px;left:1400px;width:135px;z-index: 3333;border:1px solid #bbbbbb;}
#subQuickMenu.m-fixed {top:250px;}
#subQuickMenu ul {width:100%;margin:0 auto;background: #ffffff;}
#subQuickMenu ul li {}
#subQuickMenu ul li.title {display: block;background: #293040;line-height:1.5;color:#fff;font-size:20px;letter-spacing: -1px;text-align: center;padding:5px 0;}

#subQuickMenu ul li.mm {text-align: center;}
#subQuickMenu ul li.mm a {padding:10px 0;display: block;color:#505050;font-size:15px;line-height:1.5;letter-spacing: -1px;}

#subQuickMenu ul li.ttt {padding:10px 0;text-align: center;}
#subQuickMenu ul li.ttt p {color:#272727;font-size:16px;line-height:1.5;letter-spacing: -1px;}
#subQuickMenu ul li.ttt div.ico_tel {padding-left:30px;background:url(../img/ico_tel.png) no-repeat;background-position: 10px 5px;}
#subQuickMenu ul li.ttt div.round {display:inline-block;padding:5px 10px;border-radius: 10px;background:#2a3141;color:#fff;margin:10px 0;}


.updown_btn {position: relative;width: 100%;}
.updown_btn .btn_updown {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 1.5;
    border: 0 none;
    border-top:1px solid #bbb;
    background-color: #fff;
    font-size: 16px;
    color: #505050;
}
.updown_btn .btn_updown:hover {cursor:pointer;}



.invisible { visibility: hidden; overflow: hidden; position: absolute; left:-1000em; width: 0; height: 0; font-size: 0; line-height: 0 }



/* */
div#vg_wrap_sub	{background:url(../img/main_vg.jpg) no-repeat 50% 0; text-align:center; clear:both;position: relative;}
div#vg_sub	{height:287px; width:1400px;margin: 0 auto; text-align:left;}



.subNavWrap {position: relative;	width: 100%;	min-width:1400px;background-color: #292f40;height:62px; display: block}
.subNavWrap:after {content:'';position:absolute;top:61px;left:0;width:100%;height:1px;background:#6a6e7a;}
.subNavWrap.hei20 {height:168px;}
.subNavWrap.hei80 {display:none}
.subNavWrap div.subNavInner {position:relative;width: 1400px;margin: 0 auto;}
.subNavWrap .btn_home {display:block;float:left;width:62px;height:62px;border-right:1px solid #6a6e7a;border-left:1px solid #6a6e7a;background: url(../img/sub_home.png) no-repeat center;}



.subNav1st {display:block;float:left;zoom:1;font-size:14px;list-style:none;    margin-left: -1px;}
.subNav1st:after {display:block;clear:both;content:''}
.subNav1st > .navi_dp1 {float:left;position:relative;padding:0;height:62px;border-right:1px solid #6a6e7a;}
.subNav1st > .navi_dp1 h2,
.subNav1st > .navi_dp1 h3 {margin:0;line-height:62px;}
.subNav1st > .navi_dp1 a.dp1 {position:relative;display:block;padding:0 30px;text-decoration:none;font-size:17px;line-height:62px;color:#fff;    min-width: 254px;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop {    display: inline-block;vertical-align: middle;margin-left:10px;width:14px;height:9px;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop.bg {background: url(../img/sub_drop.png) no-repeat;background-position: center;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop.hidden {display:none}


.subNav1st > .navi_dp1 div.t_menu_ara {     position: absolute;display:block; width:100%; vertical-align:top; text-align:center; background-color: #292f40;padding:0;z-index:100;}
.subNav1st > .navi_dp1 div.t_menu_ara ul {}
.subNav1st > .navi_dp1 div.t_menu_ara li { width:90%; margin:0 auto; }
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu2 > li > a {display:block; font-size:14px;font-weight:400;line-height:1.5;text-align:left;color:#fff}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu3 > li > a {display:block; font-size:14px;font-weight:400;line-height:1.5;text-align:left;color:#fff}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu3 > li:first-child {padding-top:10px;}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu3 > li:last-child {padding-bottom:10px;}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu4 {text-align:left;padding-left:10px;}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu4 > li {display:inline-block;width:auto;margin-right:10px;}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu4 > li > a {display:block; font-size:13px;font-weight:300;line-height:1.5;text-align:left;color:#fff}

.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu2 > li > a:hover,
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu3 > li > a:hover,
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu4 > li > a:hover {color:#299ce6;}
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu2 > li > a.active,
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu3 > li > a.active,
.subNav1st > .navi_dp1 div.t_menu_ara ul.t_menu4 > li > a.active {color:#299ce6;}


/*.subNav1st > .navi_dp1:hover > ul.subNav2nd {display:block;}*/

.subNav2nd {list-style:none;display:none;position:relative;    background-color: #292f40;z-index:10;}
.subNav2nd > .navi_dp2 {display: table;width: 100%;}
.subNav2nd > .navi_dp2:first-child {padding-top:10px;}
.subNav2nd > .navi_dp2:last-child {padding-bottom:10px;}
.subNav2nd > .navi_dp2 > a {display:table-cell;padding:3px 30px;text-decoration:none;border:solid #6a6e7a;border-width:0;font-size:17px;color:#fff;vertical-align: middle;}
.subNav2nd > .navi_dp2 > a:hover, 
.subNav2nd > .navi_dp2 > a:active, 
.subNav2nd > .navi_dp2 > a:focus,
.subNav2nd > .navi_dp2.active > a {color:#299ce6;}
.subNav2nd > .navi_dp2:last-child > a {border-width:0;}



#m_breadcrumbs_wrap {display: none}

#subPage {padding: 80px 0 100px 0;}



/* 사이드바 */
div.left_wrap	{width:220px;float:left;position:relative; display: none;}
div.left_inner {position: absolute;top:-45px;left:0;width:221px;}
div.left_top	{position:relative;width:100%;margin:0;background:#0d2c54;}
div.left_top h2 {margin:0;font-size:31px;font-weight:bold;color:#ffffff;text-align: center;padding:40px 20px;}
div.left_top h2.sideTit {padding:65px 20px;}
div.left_top h2 span {}

.sidebar	{text-align:left; padding:0; margin:0; list-style-type:none;}
.sidebar > li {
	display:block;
	position: relative;
	text-align:left;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.sidebar > li > img {width:100%}
.sidebar > li > a {position:relative;display:block;height:100%;line-height:1.5; font-size:16px;color:#818181;padding:10px 25px;letter-spacing: -1px;}
.sidebar > li > a.selected,
.sidebar > li > a:hover {background:#f7f7f7;color:#5e6846;}
.sidebar > li > a:hover:after,
.sidebar > li > a.selected:after {position:absolute;content:'';top:50%;right:20px;margin-top:-4px;background: url(../img/bg_sidebar.png) no-repeat;background-position: center;width:5px;height:9px;}

.sidebar > li > ul.sub2_sidebar	{text-align:left; padding:0 0; margin:0; list-style-type:none; background:#f8f8f8;}
.sidebar > li > ul.sub2_sidebar > li {}
.sidebar > li > ul.sub2_sidebar > li:first-child {padding-top:10px;border-top:1px solid #dddddd}
.sidebar > li > ul.sub2_sidebar > li:last-child {padding-bottom:10px}
.sidebar > li > ul.sub2_sidebar > li > a {position:relative;display:block;height:100%;line-height:20px; font-size:14px;color:#818181;padding:5px 30px;letter-spacing: -1px;    word-break: break-word;}
.sidebar > li > ul.sub2_sidebar > li > a.selected {color:#5e6846;}
	

div.left_wrap .cs_center {padding:10px 15px;margin: 100px 0;background-color: #f7f7f7;}
div.left_wrap .cs_center h4 {color:#605f5f;font-size:20px;line-height: 1.5;margin-bottom: 20px;padding-left:47px;font-weight: 400;position: relative;}
div.left_wrap .cs_center h4:before {content:'';width:36px;height: 31px;position: absolute; top:0;left:0;background: url(../img/ico_cs.png) no-repeat;background-position: center;}
div.left_wrap .cs_center div.cs1 {}
div.left_wrap .cs_center div.cs1 ul li {color:#606060;line-height: 1.5;font-size:21px;font-weight: 700;text-align: right;text-transform: uppercase;}
div.left_wrap .cs_center div.cs1 ul li em {font-weight: 400;font-size:18px;font-style: normal;display: inline-block;margin-right: 5px}
div.left_wrap .cs_center div.cs1 ul li small {font-size:16px;font-weight: 700;display: block;}




/* 컨텐츠영역 */
div.contents_wrap {width:100%; float:none;margin-left:0;    padding:0;min-height: 600px;}


/* 타이틀영역 */
.title_wrap {overflow:hidden;padding-bottom: 40px;position: relative;}
.title_wrap h2.title {font-size:34px;    line-height: 50px;color: #011627;display: inline-block;margin: 0;padding-right: 0;font-weight: 700}
.title_wrap .breadcrum {background:url(../img/icon_home.png) no-repeat;     background-position: left center;padding-left:15px; margin-top:0;position: absolute;top:45px;right:0;color:#9d9d9d;font-size:0.75rem;}

.sub_vg_title{position : relative;width: 100%;margin:70px 0 0;padding:0 0 20px 0;clear:both;border-bottom: 1px solid #dddddd;    text-align: center;}
.sub_arrow{font-size:32px;display: inline-block;    line-height: 50px;color:#dc060e}
.sub_left_arrow{float: left;height:100%;}
.sub_right_arrow{float: right;height:100%;}
.sub_vg_title_line{width: 100%;height: 1px;background: #d8d8d8;display:block;position : relative;}

.parallax-init-pc {transform: translate3d(0, 100px, 0);transition: transform 3.6s cubic-bezier(0.165, 0.84, 0.44, 1);}
.parallax-init-pc.add-stage {transform: translate3d(0, 0, 0) scale(1) rotate(0) !important;}



.main_con {margin-top: 0;    padding-top: 0;background: #fff}




#info_section 		{position: relative;background: #fff;padding:75px 0;}

div.infoInner {position: relative;clear:both;width:100%;overflow: hidden;z-index:999;padding:0;}
div.infoInner div.customer_center {position:relative;width:280px;height:270px;float:left;vertical-align: top;    border-right: 1px solid #cecece;}
div.infoInner div.customer_center:last-child {margin-right:0;    border-right: 0 solid #cecece;}
div.infoInner div.customer_center div.thumb {width:120px;height: 120px;margin:0 auto;background: #fff;}
div.infoInner div.customer_center div.thumb.ico01 {background:#fff url(../img/ico01.png) no-repeat;background-position: center;}
div.infoInner div.customer_center div.thumb.ico02 {background:#fff url(../img/ico02.png) no-repeat;background-position: center;}
div.infoInner div.customer_center div.thumb.ico03 {background:#fff url(../img/ico03.png) no-repeat;background-position: center;}
div.infoInner div.customer_center div.thumb.ico04 {background:#fff url(../img/ico04.png) no-repeat;background-position: center;}
div.infoInner div.customer_center div.thumb.ico05 {background:#fff url(../img/ico05.png) no-repeat;background-position: center;}
div.infoInner div.customer_center h3.title {font-size: 23px;color:#272727;width:100%;text-align:center;margin:15px 0;line-height: 1.3;font-weight: 400;}
div.infoInner div.customer_center h3.title2 {font-size: 23px;color:#272727;width:100%;text-align:center;margin:40px 0 0;line-height: 1.3;font-weight: 400;}
div.infoInner div.customer_center h3.title3 {font-size: 23px;color:#272727;width:100%;text-align:center;margin:50px 0 0;line-height: 1.3;font-weight: 400;}
div.infoInner div.customer_center p.content {font-size:27px;color:#565656;width:100%;line-height: 1.3;text-align:center;font-weight: 700;}

div.infoInner div.customer_center a {position: relative;padding:0;display:block;height:270px;text-align:center;}
div.infoInner div.customer_center a.tel {cursor: default;}
div.infoInner div.customer_center a span.more {display:inline-block;border:1px solid #b8b8b8;padding:10px 20px;border-radius: 10px;}


#etc_section {position: relative;background:url(../img/bg_etc.jpg);padding:40px 0 100px 0;}
div.etcInner {padding:0;}
div.etc_title {text-align: center;position: relative;}
div.etc_title h4 {font-size:33px;line-height:1.8;padding:0;color:#ffffff;font-weight: 400;margin-bottom: 90px;position: relative;}
div.etc_title h4:after {content: "";position: absolute;left: 50%;bottom:-30px;width:30px;height:1px;margin:0;background:#fff;transform: translate(-50%,0);}

div.etcInner div.etc_center {position:relative;width:450px;float:left;margin-right:25px;border: 1px solid #dcdcdc;}
div.etcInner div.etc_center:last-child{margin-right: 0;}
div.etcInner div.etc_center div.bg {position: relative;overflow: hidden;border-bottom: 1px solid #dcdcdc;}
div.etcInner div.etc_center div.bg img {max-width: 100%;}
div.etcInner div.etc_center a {display: block;}
div.etcInner div.etc_center div.con {position:relative;display:block;background:#f2f2f2;padding:20px;}
div.etcInner div.etc_center p.content {font-size: 14px;font-weight:300;margin:0 0 10px 0;color:#999999;}
div.etcInner div.etc_center h3.title {font-size: 28px;line-height: 1.5;font-weight:500;margin:0;color:#626262;letter-spacing: -1px;    position: relative;}
div.etcInner div.etc_center h3.title span.arr {display: inline-block;vertical-align: middle;width:20px;line-height:20px;margin-left:15px;background: #dbdbdb;color:#3a3a3a;font-size:8px;text-align:center;border-radius: 50%;}













/* 사이트맵 */
	.sitemap	{
		width:200px;
		float:left;
		display:inline;
		margin:0 0 70px 20px;
		}
	.sitemap_cate	{
		border-top:1px #999 solid;
		border-bottom:1px #666 solid;
		text-align:center;
		padding:13px 0 10px 0;
		background:#fafafa;
		}
	.sitemap_cate_text	{
		color:#006fbc; font-size:14px; font-weight:bold;
		}
	.sitemap_text ul	{
		margin:0;
		list-style-type:none;
		padding:0;
		}
	.sitemap_text ul li	{
		padding:12px 0 8px 0;
		border-bottom:1px #ddd solid;
		}
	.sitemap_text ul li div	{
		padding:0 0 0 10px;
		}
	.sitemap_text ul li div a, .sitemap_text ul li div a:link, .sitemap_text ul li div a:visited 	{
		}
	.sitemap_text ul li div a:hover, .sitemap_text ul li div a:active 	{
		color:blue;
		}
