@charset "utf-8";

.rowc {}
.rowc ul {font-size:0;line-height:0;margin:0;padding:0}
.rowc ul:after {clear: both;display: block;content: "";}
.rowc ul li {-webkit-box-sizing: border-box;-khtml-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.rowc ul li img {max-width:100%}
.rowc ul.grid2 {margin:0 0 0 -2%;}
.rowc ul.grid2 > li {width:48%;margin:0 0 0 2%;display:inline-block;text-align:center;}
.rowc ul.grid3 {margin:0 0 0 -2%;}
.rowc ul.grid3 > li {width:31%;margin:0 0 0 2%;display:inline-block;text-align:center;}
.rowc ul.grid4 {margin:0 0 0 -2%;}
.rowc ul.grid4 > li {width:23%;margin:0 0 0 2%;display:inline-block;text-align:center;}


/* 사이트맵 */

.sitemap_wrap { width:100%; margin-top:40px;}
.sitemap_wrap:after {clear: both;display: block;content: "";}
.sitemap_wrap div.sitemap { float:left;width:20%; vertical-align:top; text-align:center;}
.sitemap_wrap div.sitemap > h5 {width:90%; margin:0 auto; border:1px solid #0553ab;   text-align:center; }
.sitemap_wrap div.sitemap > h5 > a {font-size:1.2em; color:#0553ab; font-weight:bold;line-height:2.0;}
.sitemap_wrap div.sitemap ul {padding-top:20px;min-height: 300px;}
.sitemap_wrap div.sitemap li { width:80%; margin:0 auto; }
.sitemap_wrap div.sitemap li > a { display:block; color:#333; line-height:2.5;text-align:left;}
.sitemap_wrap div.sitemap li > p { text-align:left;  padding:0;margin:0; }
.sitemap_wrap div.sitemap li > p a { display:block; font-size:0.8em;line-height:1.5; color:#333;margin-bottom:10px; }



/* 제품 */
.products {margin-top:-50px;}
.subpage_ad_text {
    background: #f6f6f6;
    width: 100%;
    text-align: center;
    min-width: 1200px;
    padding: 37px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 350;
    letter-spacing: -0.025em;
    color: #111
}
.font_red{color:#d60825;}

.sub_title42 {
    font-size: 42px;
    letter-spacing: -0.06em;
    font-weight: 600;
    line-height: 50px;
}
.sub_title30 {
    font-size: 30px;
    letter-spacing: -0.045em;
    color:#333;
    font-weight: 600;
}
.sub_textPara {
    font-size: 24px;
    letter-spacing: -0.025em;
    color: #333;
    line-height: 30px;
}

.sub_textSmallPara {
    font-size: 20px;
    letter-spacing: -0.025em;
    color: #333;
    line-height: 28px;
    font-weight: 300;
}

.top_line_bar {
    background: url(./images/products/box_selected_line.png) #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.unordered_list > li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 32px;
    word-break: keep-all;
}
.unordered_list > li:before {
    position: absolute;
    left:0;
    content: "";
    width:4px;
    height: 4px;
    background-image: url(./images/products/unordered_list_icon.png);
    top: 11px;
}
.unordered_list > li:last-child {margin-bottom: 0;}

.slide_smallText {
    font-size: 17px;
    color:#777777;
    display: block;
    white-space: nowrap;
    line-height: 24px;
    margin-top: 5px;
}


/* table box */
.content_innerBox {width:1200px; margin: 0 auto;}
.table_box {display: table;}
.table_box > li {display: table-cell; vertical-align: top;}



span.direct_btn{display:block;color:#fff;background:#cf162f;font-size:18px;width:310px;height:45px;margin:124px auto 0 auto;text-align:center;position:relative;font-weight:300;letter-spacing:-.02em;line-height:45px;border-radius:25px}
.findBox_btn1:after,.findBox_btn2:after,span.direct_btn:after, .findBox_btn3:after{content:"";position:absolute;background:url(./images/products/select_btn.png);right:34px;width:7px;height:13px;top:0;bottom:0;margin:auto}

.product_tabList,
.product_tabList1 {display:table;width:1200px;margin:80px auto 30px auto;border-collapse:collapse}
.product_tabList li,
.product_tabList1 li {display:table-cell;width:20%;text-align:center;background:#fff;border:1px solid #d9d9d9;color:#333;cursor:pointer;height:48px;vertical-align:middle;font-size:20px;font-weight:300;letter-spacing:-.04em}
.product_tabList li.selected,
.product_tabList1 li.selected {background:#d60825;color:#fff}
.product_tabContent,
.product_tabContent1 {display:none;width:1200px;margin:0 auto}
.product_tabContent.selected,
.product_tabContent1.selected{display:block}

.product_list_detail img{margin-top:30px}
.product_list_detail .menu{display:none}
.product_list_title{padding-top:15px;font-size:20px;font-weight:300;line-height:28px;letter-spacing:-0.06em; color:#333;position:relative}
.product_list_title span {font-size: 26px; font-weight: 600; line-height: 36px;
    display: block;
    margin-top: 5px;
}

.product_list div:hover .product_list_title span,.product_list div.on .product_list_title span{color:#d60825;transition:.2s}
.product_list_title:after{content:"";position:absolute;top:0;background:#cf162f;width:26px;height:2px;left:2px}
.product_list div span.direct_btn{margin:auto;position:absolute;bottom:41px;left:0;right:0;color:#cf162f;border:3px solid #cf162f;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;background:#fff;line-height:39px}
.product_list div:hover span.direct_btn,.product_list div.on span.direct_btn{background:#cf162f;color:#fff;transition:.2s}
.product_list span.direct_btn:after{content:'';background:url(./images/products/product_list_arrow.png)}
.product_list div:hover span.direct_btn:after,.product_list div.on span.direct_btn:after{content:'';background:url(./images/products/select_btn.png);transition:.2s}



.product_text_box {
    margin-bottom: 60px;
    word-break: keep-all;
}
.product_text_box div:nth-child(1) {
    width: 685px;
}
.product_dText_box {
    margin-top: 35px;
}
.product_text_box div:nth-child(2) {
    width: 475px;
    margin-left: 40px;
}
.product_dText_box li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 20px;
}
.product_dText_box li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #d60825;
    font-size: 16px;
    top:0;
    bottom:0;
    margin: auto;
}
.product_text_box > div {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: #333;
    float: left;
}
.product_dText_box li strong {
    font-weight: 300;
}

/* clear both */
.clear_both,.main_feautres_over:after, .right_con .menu02 .result_box ul.fr_box>li:after, .fr_box:after, .search_center_img:after, .main_feautres_over:after, .product_list:after, .product_text_box:after, .subPage_findBox:after, .result_li li:after, .result_li li:after, .view_icon:after, .menu02_view:after, .product_text_box:after {clear:both;display:block;content:""}

/* tab content */
.product_list {
    margin: 0 auto;
    width: 100%;
    font-size: 0;
    margin-bottom: 30px;
}

.product_list li {
    display: inline-block;
    width: 400px;
    height: 292px;
    position: relative;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    border-left: 0;
    border-top: 0;
}
.product_list li:first-child, .product_list li:nth-child(3n+4) {border-left: 1px solid #d9d9d9;}
.product_list li > div {
    display: block;
    height: 100%;
    padding: 61px 0 0 40px;
    cursor: pointer;
}
.product_list li div img  {
    position: absolute;
    top: 41px;
    right: 6px;
    height: auto;
}
.product_list li:first-child, .product_list li:nth-child(2), .product_list li:nth-child(3) {border-top: 1px solid #d9d9d9;}

.branch_iconBox {
    position: absolute;
    right: 210px;
    top: 30px;
}
.branch_iconBox ul {width:230px;}
.branch_iconBox ul li {float:left; margin-right: 5px;}
.product_imgSize img {width:150px;}


.product_detailText {padding: 65px 38px 60px 38px; position: relative; min-height: 440px;}
.product_detailText .product_imgPos {
    position: absolute;
    right: 40px;
    top: 65px;
    margin-top: 0;
}
.product_detailText .sub_title42 {color:#333; line-height: 1; margin-bottom: 25px;}
.product_detailText .sub_title42  span {font-size: 20px; font-weight: 300; letter-spacing: -0.025em; padding-left: 20px;}
.product_detailText .sub_textSmallPara {
    width:600px;
}
.product_detailText .sub_title30 {
    display: block;
    margin: 35px 0 18px 0;
    line-height: 1;
}
.product_detailText .unordered_list li {
    margin-bottom: 3px;
}
.product_detailText ul.unordered_list li {
    margin-bottom: 25px;
    line-height: 30px;
}
.product_detailText ol.unordered_list li {
    white-space: nowrap;
}
.product_detailUsage {
    border-top: 1px solid #d9d9d9;
    padding: 20px 40px;
}
.product_detailUsage .table_box {width:100%;}
.product_detailUsage li {
    font-size: 18px; 
    letter-spacing: -0.025em;
    color:#333;
    font-weight: 300;
    line-height: 1;
}
.product_detailUsage li:nth-child(2) {text-align: right;}
.product_detailUsage li strong {font-weight: 700; text-transform: uppercase;}

