body {
	font-family: Arial, Helvetica, sans-serif;
}


/*
@media (min-width: 960px) {

	#intro div {
		left: 6%;
		margin-top: -17vh;
	}

	#intro div img {
		height: 30vh;
	}

	#detailText .text {
		background: url('../img/copy.png') no-repeat -8px 0;
		background-size: 400px auto;
		padding-top: 180px;
	}

	#detailText .text p {
		width: 100%;
		margin-left: 0;
		text-align: left;
	}

}
*/

#opening ._num01 {
  margin: -133px 0 0 -358px;
}
#opening ._num02 {
  margin: -204px 0 0 -436px;
}

#sec02 .txt_wrap {
	padding-top: 30px;
}

#sec03 .txt_wrap {
  padding-top: 114px;
}

#sec04_modal #modal_sec01 .txt_box {
  padding-top: 143px;
}
#sec04_modal #modal_sec02 .txt_box {
  padding-top: 27px;
}
#sec04_modal #modal_sec03 .txt_box {
  padding-top: 100px;
}
