@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, strong, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, address, a, select, input, textarea,
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, button{margin:0;padding:0;}

@font-face {
	font-family: 'Lnoto';
	src:
	url('font/NotoSansKR-Light-Hestia.woff') format('woff'),
	url('font/NotoSansKR-Light-Hestia.otf') format('opentype');
}
@font-face {
	font-family: 'Rnoto';
	src:
	url('font/NotoSansKR-Regular-Hestia.woff') format('woff'),
	url('font/NotoSansKR-Regular-Hestia.otf') format('opentype');
}
@font-face {
	font-family: 'Mnoto';
	src:
	url('font/NotoSansKR-Medium-Hestia.woff') format('woff'),
	url('font/NotoSansKR-Medium-Hestia.otf') format('opentype');
}
@font-face{
	font-family:'r_titillium';
	src:
	url('font/titillium-web.regular.woff') format('woff'),
	url('font/titillium-web.regular.ttf') format('truetype');
}
@font-face{
	font-family:'sb_titillium';
	src:
	url('font/titillium-web.semibold.woff') format('woff'),
	url('font/titillium-web.semibold.ttf') format('truetype');
}
@font-face{
	font-family:'b_titillium';
	src:
	url('font/titillium-web.bold.woff') format('woff'),
	url('font/titillium-web.bold.ttf') format('truetype');
}
li,ul,ol,dl {list-style:none}
img{border:0; vertical-align:top;}
fieldset{border:0; }
ul{list-style:none; padding:0; margin:0;}
i, em, address {font-style: normal;}


html, body {height: 100%;}
body {
	font-size:11pt;
	line-height:150%;
	height:auto;
	font-family:'Lnoto', '돋움', 'Dotum', '굴림', 'Gulim', 'Lucida Grande', 'r_titillium', 'ESC', 'Tahoma', 'Verdana', 'AppleGothic', 'UnDotum', 'sans-serif';
	color: #3e3e3e;
	-webkit-text-size-adjust:none;
	background: url('../images/bg/bg.jpg')  top center no-repeat;
	}
* {
	-webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
	box-sizing:border-box 
	}
input.type-image {border:0 none; padding:0; margin:0;}
a {
	text-decoration:none;
	color: inherit;
	box-sizing: border-box;
	outline:none;
	select-dummy: expression(this.hideFocus=true);
	}
a:link {
	text-decoration:none;
	color: #575757;
	outline:none;
	select-dummy: expression(this.hideFocus=true);
	}
a:visited {text-decoration:none; color: #575757;}
a:hover {color:#575757; text-decoration:none;}
a:active {text-decoration:none;}

legend, caption {
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	visibility: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

/* 슬라이더 제외 컨텐츠 */
#remainder_container {
	position:relative;
	z-index:100;
	margin-top:105px;
	}
#remainder_content {
	width:1200px;
	height:759px;
	margin:0 auto;
	box-shadow: 20px 30px 20px rgba(0,0,0,.15);
	border:1px solid #e0e0e0;
	}

/* 인트로 화면 */
.intro_bg {
	background:url('../images/intro/intro_bg.jpg') #f1f2f2;
	background-repeat:no-repeat;
	background-position:center top;
	}
.intro_logo {
	margin-top:460px;
	text-align:center;
	}
.intro_logo > a {
	display:inline-block;
	background-color:#07469b;
	color:#fff;
	padding:20px 32px 20px 90px;
	font-size:16pt;
	font-family:Rnoto;
	border-radius:15px;
	margin-left:15px;
	}
.intro_logo > a:hover {
	background-color:#033272;
	}
.intro_logo > a:first-child {
	margin-left:0;
	}
.logo_kor {
	background-image:url('../images/intro/kor.jpg');
	background-repeat:no-repeat;
	background-position:31px 16px;
	}
.logo_eng {
	background-image:url('../images/intro/eng.jpg');
	background-repeat:no-repeat;
	background-position:31px 16px;
	}
.logo_jp {
	background-image:url('../images/intro/jp.jpg');
	background-repeat:no-repeat;
	background-position:31px 16px;
	}
.intro_address {
	margin-top:35px;
	text-align:center;
	font-size:13pt;
	line-height:160%;
	}
.intro_address > span {
	font-family:Rnoto;
	}
.intro_address > p {
	font-size:11pt;
	color:#8f8e8e;
	}

/* 세부 컨텐츠 */
.links {
	position:relative;
	width:1200px;
	margin:0 auto;
	text-align:left;
	}

.mvis-tab > .tmenu > a.natural-btn {
	width:198px;
	background: url('../images/menu/menubtn_on.png') no-repeat 0 0;
	z-index: 10;
	margin-right:5px;
	}
.mvis-tab > .tmenu >  a {
	float: left;
	position: relative;
	}
.mvis-tab > .tmenu >  a span {
	display: inline-block;
	color: #fff;
	font-size: 15px; line-height:130%;
	padding: 7px 0 8px 58px;
	}
.mvis-tab > .tmenu >  a:after {
	content:'';
	position:absolute;
	left:20px;top:17px;
	width:13px;height:17px;
	background:url('../images/menu/mvistab_arr.png') no-repeat 0 0;
	transition:all 0.3s ease
	}
.mvis-tab > .tmenu >  a:hover:after {top:10px;}
.mvis-tab > .tmenu >  a.place-btn {
	width:198px;
	background: url('../images/menu/menubtn_off.png') no-repeat 0 0;
	margin-right:5px;
	}

.mvis-tab:after{content:'';display:block;clear:both;height:0;visibility:hidden;}


.logo_con {
	position:relative;
	max-width:1200px;
	margin:0 auto;
	}
.logo {
	position:absolute;
	right:0;
	z-index:1000;
	}


.sp-left-thumbnails.sp-has-pointer {
	margin-right: 0;
	margin-bottom: 0;
	background:#F0F2F4;
	}

/* 슬라이더 내부소스 */
#catalog_container {
	position:relative;
	z-index:100;
	margin-top:55px;
	}
#catalog_content {
	width:1200px;
	margin:0 auto;
	box-shadow: 20px 20px 20px rgba(0,0,0,.3);
	/*border:1px solid #e0e0e0;*/
	background:#fff;
	}

/****** 레프트버튼 ******/
/* off버튼 */
#content_detail .sp-thumbnail-container {
	width: 165px;
	height: 171px;
	background:#f0f2f4;
	overflow: hidden;
	float: left;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	}
#content_detail .sp-thumbnail-container span {
	display:block;
	text-align:center;
	padding-top:123px;
	color:#333;
	}
#content_detail .sp-thumbnail-container .licon0 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon01 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon02 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon01_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon03 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon04 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon05 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon02_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon06 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon03_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon07 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon04_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon08 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon05_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon09 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon06_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon10 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon07_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon11 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon08_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon12 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon09_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon13 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon10_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon14 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon11_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon15 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon12_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon16 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon13_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon17 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon14_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon18 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon15_off.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}

/* on버튼 */
#content_detail .sp-selected-thumbnail .licon0 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon01 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon02 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon01_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon03 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon04 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon0_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon05 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon02_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon06 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon03_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon07 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon04_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon08 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon05_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon09 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon06_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon10 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon07_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon11 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon08_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon12 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon09_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon13 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon10_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon14 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon11_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-selected-thumbnail .licon15 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon12_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon16 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon13_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon17 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon14_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}
#content_detail .sp-thumbnail-container .licon18 {
	width: 165px;
	height: 171px;
	background-image:url('../images/menuicon/licon15_on.png');
	background-position:37px 25px;
	background-repeat:no-repeat;
	}

#content_detail .sp-selected-thumbnail {
	background:#01659e;
	}
#content_detail .sp-selected-thumbnail span {
	color:#fff;
	line-height:130%;
	}


#content_detail .sp-thumbnail-text {
	width: 170px;
    float: right;
    padding: 8px;
    background-color: #F0F0F0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content_detail .sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #333;
}

#content_detail .sp-thumbnail-description {
	font-size: 14px;
	color: #333;
}

/* 이전, 다음 버튼 */
.prevnext_con {
	width:100%;
	height:73px;
	background:#424c51;
	text-align:center;
	}
.prevnext_con > a {
	display:inline-block;
	padding-top:21px;
	}
.prevnext_con > a > img {
	text-align:center;
	}

/* footer*/
.copy{
	width:1200px;
	margin:0 auto;
	padding-top:20px;
	}
.copy img{
	float:left;
	max-width:150px;
	}
.copy p{
	padding-left:13%;
	width:80%;
	font-size:14pt; 
	font-weight:bold; 
	text-shadow: 1px 1px 1px#ffffff;
	line-height:140%;
	}
/* 배경효과 */
.box-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 1260px;
	overflow: hidden;
	}
.box-bg .bg-contents {
	position: absolute;
	top:0;
	left:0;
	margin:;
	/*z-index:10;*/
	width:100%;
	height:100%;
	background: url('../images/bg/bg.jpg')  top center no-repeat;
	}


/* 컨텐츠 타이틀 */
.top_location {
	width:100%;
	height:70px;
	line-height:70px;
	background: url('../images/menu/cnavi_bg02.png') no-repeat 0 0;
	}
.lo_left {
	position:relative;
	float:left;
	width:31%;
	}
.lo_left span {
	display: block;
	background: #fff;
	color: #005f89;
	text-align: center;
	font-size: 13pt;
	font-family: Rnoto;
	/*height: 64px;
	line-height: 150%;*/
	}
.lo_left:after {
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	width: 20px;
	height: 100%;
	background: url('../images/menu/cnavi_bg.png') no-repeat 0 0;
	}
.lo_center {
	float:left;
	width:61%;
	color:#424c51;
	text-align:center;
	font-size:15pt;
	font-family:Rnoto;
	}
.lo_right {
	float:right;
	width:8%;
	}
.lo_right a {
	display:block;
	text-align:center;
	}
.lo_right img {
	vertical-align:middle;
	}

/* 컨텐츠 내용 */
.scrollbox {
	width:1036px;
	height: 624px;
	padding:15px;
	overflow-y: scroll;
	}

/* 섬진강 재첩 + 재첩외 상품*/
.product {
	margin-top:10px;
	}
.product p{
	color:#424c51;
	}
.product img {
	width: 100%;
	height: auto;
	float: left;
	margin: 0 15px 15px 0;
	}


/* 체험시설 */
.experience{
	width:100%;
	}
.experience h2 {
	font-size:13pt;
	padding-left:40px;
	background:url('../images/experience/icon.png') no-repeat 0 0;
	height:23px;
	}
.experience p {
	padding:15px 0;
	color:#424c51;
	}
.experience img{
	width:48%;
	margin: 0 15px 15px 0;
	}
.experience img:nth-child(even) {
	width: 48%;
	margin: 0 0 15px 0;
	}


/* 민박/캠핑 소개 */
.lodging{
	width:100%;
	}
.lodging h2 {
	font-size:13pt;
	padding-left:40px;
	background:url('../images/experience/icon.png') no-repeat 0 0;
	height:23px;
	}
.lodging p {
	padding:15px 0;
	color:#424c51;
	}
.lodging img{
	width:48%;
	margin: 0 15px 15px 0;
	}
.lodging img.last {
	width: 98%;
	margin: 0 15px 15px 0;
	}


/* 소개 */
.greetings{
	width:100%;
	}
.greetings img{
	width:98%;
	}
.greetings h3{
	margin:20px 0 10px;
	color:#01659e;
	}
.greetings p{
	color:#424c51;
	}
.greetings p.ceo{
	float:right;
	margin-bottom: 30px;
	}


/* 회소개 - 연혁 */

.history_dpicbox {
	float:left;
	width:32%;
	}
.history_mpicbox {
	display:none;
	}
.hsdetail_con {
	float:left;
	overflow:hidden;
	width: 68%;
	padding-left:5%;
	margin-top:30px;
	}
.hs_detail {
	overflow:hidden;
	width:49%;
	float:left;

	margin: 15px 0;
	}
.hs_detail:nth-child(even) {
	overflow:hidden;
	width:49%;
	clear:both;
	}
.hs_detail h3 {
	float: left;
	width: 15%;
	margin: 11px 15px 0 0;
	font-family: ESC;
	font-size: 23pt;
	color:#0a97e7;
	padding-top: 15px;
	border-top: solid 3px;
	}
.hs_detail .hs_txt {
	float: left;
	width: 81%;
	margin-top: 20px;
	padding: 0 0 2% 2%;
	border-left: 1px solid #d9d9d9;
	}
.hs_detail .hs_txt dl {
	float: left;
	width: 100%;
	border-top: 1px dotted #dbdbdb;
	}
.hs_detail .hs_txt .hs_txtd {
	border-top: none;
	}
.hs_detail .hs_txt dt {
	float: left;
	width: 5%;
	padding-top:10px;
	font-size: 13pt;
	font-weight: bold;
	color: #485157;
	}
.hs_detail .hs_txt dd {
	float: left;
	width: 95%;
	margin-left: 0px;
	padding-top: 11px;
	}
.hs_detail .hs_txt dd p {
	line-height: 25px;
	padding-left: 20px;
	background: url('../images/icon/bul_img.gif');
	background-repeat: no-repeat;
	background-position: 10px 11px;
	color: #565656;
	margin:0;
	}
/* 인증서 */
.certification{
	width:23%;
	float:left;
	margin-right:15px;
	}
.certification img{
	width:100%;
	border: solid 3px #999;
	}
.certification p{
	width:100%;
	padding: 8px;
	margin-bottom: 10px;
	font-size: 9pt;
	}
.certification:nth-child(5){
	width:23%;
	clear:both;
	float:left;
	margin-right:15px;
	}


/* 동영상 */
.movie_con {
	margin-top:30px;
	text-align:center;
	}
.movie{
	width:100%;
	}
.movie h2 {
	font-size:13pt;
	padding-left:40px;
	background:url('../images/experience/icon.png') no-repeat 0 0;
	height:23px;
	}


/* 사이트맵 */
.sitemap_bg {
	background:#fff;
	}
#sub_tit {
	margin: 80px auto;
	width: 100%;
	max-width: 1200px;
	font-family: 'sb_titillium', 'Mnoto';
	font-size: 34pt;
	line-height: 1.1;
	font-weight: bold;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #d6d6d6;
	}
#sub_tit h3 {
	display: inline-block;
	font-size: 36px;
	color: #333333;
	font-weight: 300;
	border-bottom: 1px solid #e60012;
	padding: 0 15px 20px 15px;
	position: relative;
	top: 1px;
	}
.sitemap{
	width:90%;
	height:auto;
	margin:50px auto;
	}
.sitemap:after{content:'';display:block;clear:both;height:0;visibility:hidden;}
.sitemap .depth01{
	float:left;
	width:18%;
	margin:0 1%;
	padding-top:10px;
	border-top: 2px solid #2a6eb6;
	}
.sitemap div.depth01{
	font-size:15pt;
	color:#1a4779;
	font-weight:bold;
	}
.sitemap .sub{
	border-top: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 25px;
	}
.sitemap ul.sub2{
	padding-left:14px;
	}
.sitemap li.depth02{
	padding:8px 0;
	border-bottom:1px dashed #ccc;
	}
.sitemap li.depth02 a{
	font-size:11pt;
	color:#222;
	}
.sitemap .sub_m{
	padding-top:4px;
	}
.sitemap .sub_m li {
	background: url('../images/icon/ico_grayDot.png') no-repeat 0 11px;
	background-size: 3px;
	padding-left: 10px;
	}
.sitemap .sub_m li a{
	font-size:10pt;
	color:#949494;
	line-height:160%;
	font-weight:normal;
	}
.sitemap .sub_m .model{
	padding-left:13px;
	}

.sitemap_btn {
	margin-top:30px;
	text-align:center;
	}
.sitemap_btn > a {
	display: inline-block;
	background-color: #07469b;
	color: #fff;
	padding: 20px 20px;
	font-size: 16pt;
	font-family: Rnoto;
	border-radius: 15px;
	margin-left: 15px;
	}
.sitemap_btn > a:hover {
	background-color:#033272;
	}
