@charset "utf-8";


/* 테이블 표 */
	.table1 {border:1px solid #AAC2D5; border-collapse:collapse; margin:0;padding:0;}
	.table1 caption {position:relative; text-align:left; width:100%; font-size:16px; color:#0056C1; font-weight:bold; padding-top:10px;padding-bottom:7px;}
	.table1 th {border:1px solid #AAC2D5; border-collapse:collapse; text-align:center; background:#CAE0F2; padding:3px 0 3px 0;}
	.table1 td {border:1px solid #AAC2D5; border-collapse:collapse; text-align:left; background:#FFF; padding:3px 0 3px 0;}

/* 공간 */
	div.space5	{height:5px; clear:both;}
	div.space10	{height:10px; clear:both;}
	div.space15	{height:15px; clear:both;}
	div.space20	{height:20px; clear:both;}
	div.space30	{height:30px; clear:both;}

/* 점선라인 */
	.dotddd	{height:3px; background:url(../images/dot3ddd.gif) repeat-x;}
	.dotccc	{height:3px; background:url(../images/dot3ccc.gif) repeat-x;}
	.doteee	{height:3px; background:url(../images/dot3eee.gif) repeat-x;}

/*제품리스트*/
	.products_sum_wrap	{width:170; height:190px; text-align:center; float:left; display:inline; margin-right:20px;}
	.products_sum_img	{text-align:center;}
	.products_sum_img img	{border:9px #eee solid;}
	.products_sum_name	{text-align:center; padding-top:3px;}