@charset "utf-8";

/* 전체적용 */
body {font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'Nanum Gothic', 'dotum', sans-serif;color:#333333;}

/* 링크 */
a, a:link	{color:#333333; text-decoration:none;} 
a:visited	{color:#333333; text-decoration:none;}
a:hover		{color:#333333; text-decoration:none;}
a:active	{color:#333333; text-decoration:none;} 
a:focus		{color:#333333; text-decoration:none;}

/*  */
#wrap {width:100%;min-width:1200px;position:relative;margin:0 auto;overflow:hidden;word-break: keep-all; padding:0;}
#wrap.noBg {height:auto;background:transparent;}

/*.container {padding-right:5px !important;padding-left:5px !important; width:100% !important;max-width:100% !important;}
.row {margin-right:-5px;margin-left:-5px;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, 
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding-right:5px;padding-left:5px;}*/


/* 상단메뉴 */
#header {width:100%; min-width:1200px;position:relative;z-index:1000; height:138px;background:#ffffff;}
#header.on { background:#ffffff url('../images/bg_head_line.png') repeat-x left 137px;}

/* nav*/
div.menu_aid {height:43px;border-bottom:1px solid #dddddd;background: #f5f5f5;width: 100%;min-width: 1200px;clear:both;}
.etc_menu {position: relative;width: 1200px;margin:0 auto;text-align: right;}
.etc_menu a {font-size:14px;line-height:43px;color:#767676;font-weight: 300;display: inline-block;margin-right:20px;}
.etc_menu a:last-child {margin-right: 0;}
.etc_menu a i {line-height:43px;}
.etc_menu a.qna {position:relative;width:123px;background: #045bc5;color:#ffffff;text-align: center;}



nav.head {position:relative;clear:both; width:1200px; margin:0 auto 0; }

nav.head div.logo {position: absolute; top:0;left:0;width:203px;height:94px;}
nav.head h1 a {display: block;height: 94px;line-height: 94px;}
nav.head h1 a img {max-width: 100%;max-height: 100%;vertical-align: middle;}

nav.head > div.nav{float:right;}
nav.head > div.nav > ul {clear:both;}
nav.head > div.nav > ul > li {float:left; width:auto; text-align:center; position:relative; height:94px;width:216px;}
nav.head > div.nav > ul > li > a {color:#585858;font-size:20px;display:block;text-align:center;width:100%;line-height:94px; -webkit-transition: color 0.35s;transition: color 0.35s;position:relative;font-weight: 500;}
#header.on nav.head > div.nav > ul > li > a {color:#585858;}
nav.head > div.nav > ul > li:first-child {margin-left: 0;}
nav.head > div.nav > ul > li > a .line {position: absolute;display: block;bottom: 0;height: 3px;width: 0%;background: #cc0000;left: 50%;}
nav.head > div.nav > ul > li.selected_item > a .line,
nav.head > div.nav > ul > li:hover > a .line {width: 100% !important;left: 0px !important;}

nav.head > div.nav > ul > li.bar {margin:0 45px;;}
nav.head > div.nav > ul > li.bar img{margin-top:42px;}
nav.head > div.nav > ul > li.nav2 {}
nav.head > div.nav > ul > li.nav2 > ul {position:absolute;top:100%;left:0;width:100%;padding:30px 0 0;display:none;z-index: 112;}
nav.head > div.nav > ul > li.nav2 > ul::before {content: "";position: absolute;width: 1px;height: 206px;background: #f5f5f5;left: 0;top: 30px;}
nav.head > div.nav > ul > li.nav2:first-child > ul::before{display:none;}
nav.head > div.nav > ul > li.nav2 > ul > li {text-align:left;width:100%;}
nav.head > div.nav > ul > li.nav2 > ul > li > a {font-size:16px; color:#4e4e4e; line-height:16px;height:46px;display: block;text-align: center;}
nav.head > div.nav > ul > li.nav2 > ul > li:hover > a {color:#cc0000}
.motion {-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.subMenuBg {position:absolute;left:0;top:138px;width:100%;background:#fff; padding:0;z-index:111;display:none;height:0;}

/* lang_bg */
#lang_bg{position :fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);left: 0px;top : 0px;z-index: 999;display: none;}
.lang_wrap{width: 1200px;margin: 0 auto;position : relative;}
.lang_nemo{width: 140px;height: 135px;background-color: #fff;border-radius: 3px;top: 58px;position : absolute;right: -13px;}
.lang_semo{width: 0; height: 0; border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #fff;position : relative;margin : 0 auto;top : -15px;}
.lang_nemo a{position : relative;padding: 5px 30px;font-size: 16px;color: #666;display: block;text-align: left;}
.lang_nemo a span{content : "";display: none;position : absolute;width: 30px;height: 1px; right: 30px;background-color: #d41814;top : 16px;}
.lang_active {color : #d41814 !important;}
.lang_active span{display: block !important;}


section.section1 {height: 663px;}
section.section2 {height: 779px;padding:100px 0 0;}
section.section3 {height: 416px;}
section.section4 {height: 649px;padding:109px 0;}


/* section1 */
/* 비쥬얼그래픽 */
.vg_wrap {position: relative;min-width:1200px;margin:0 auto;height:663px;padding:0;}
.vg_inner {width:100%;height:100%;position: relative;clear:both;}
.vg_title {width:1200px;position: absolute;top:50%;left:50%;margin-top:-104px;margin-left:-600px;z-index: 555;}
.vg_title h4 {font-size:46px;color:#ffffff;margin:0;text-align:center;line-height: 70px;font-family:'Daum';font-weight: 700;}
.vg_title h2 {font-size:56px;color:#ffffff;margin:0;text-align:center;line-height: 70px;font-weight:900;text-transform:uppercase}
.vg_title p {font-size:20px;color:#ffffff;letter-spacing: -1px;line-height: 30px;text-align:center;margin-top:30px;font-weight: 400;}



div.vg_text {}
div.vg_text h2 {font-size:70px;line-height: 80px;color:#fefefe;font-weight: 900;}
div.vg_text h2 span {color:#00f3ff;}
div.vg_text p {font-size:20px;line-height: 28px;color:#fefefe;letter-spacing: -1px;margin-top:30px;}


div.vg_nav {width:1200px;margin:60px 0 0;height:296px;position: relative;}
div.vg_nav ul {clear: both;width:100%;}
div.vg_nav ul li {position: absolute;}
div.vg_nav ul li a {display: block;width:100%;}
div.vg_nav ul li.vg1 {bottom:0;left:10px;}
div.vg_nav ul li.vg2 {top:0;left:262px;}
div.vg_nav ul li.vg3 {bottom:0;left:512px;}
div.vg_nav ul li.vg4 {top:0;left:769px;}
div.vg_nav ul li.vg5 {bottom:0;right:-38px;}

/* section2 */

/* section3 */
.bg_info {background: url(../images/bg_info.jpg); background-repeat: no-repeat;background-size: cover;background-position: top center;}
div.business_wrap {width:100%;overflow:hidden;position: relative;margin:0 auto;}
div.business_inner {position: relative;clear:both;width:1200px;margin:0 auto;padding:0;overflow: hidden;}
div.business_inner div.inner {position: relative;height:416px;width:50%;float:left;background:transparent;}
div.business_inner div.inner h4.title {font-weight:700;font-size: 34px;color:#ffffff;width:100%;height: 34px;text-align:center;position:absolute;top:21%;margin: 0;}
div.business_inner div.inner p.content {font-size:18px;color:#ffffff;width:100%;text-align:center;position:absolute;top:37%;line-height: 30px;font-weight: 300;}
div.business_inner div.inner div.btn {width:200px;height:58px;position:absolute;bottom:97px;left:50%;margin-left:-100px;}
div.business_inner div.inner div.btn a.banner {display: block;height: 100%;position: relative;border:1px solid #ffffff;line-height:58px;color:#ffffff;font-size:16px;padding-left:30px;background: url(../images/btn_more.png); background-repeat: no-repeat;background-position:148px center;}
div.business_inner div.inner div.btn a.banner:hover {color:#3c3c3c;background:#ffffff url(../images/btn_more_ov.png); background-repeat: no-repeat;background-position:148px center;}


div.vg_movie {width:500px;height:290px;position: absolute;top:62px;left:100px;}
div.vg_movie h4.title {z-index: 100;text-transform:uppercase;position:absolute;top:70px;margin: 0;}
div.vg_movie a {display: block;}
div.videoBg {position :fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);left: 0;top : 0;z-index: 200;display: none;}
div.videoInner {position:absolute;width:1200px;height:664px;padding:10px;top:50%;left:50%;margin:-332px 0 0 -600px;background: #0c8ccb;z-index: 210;}
div.videoInner iframe {border:none; width:100%; height:100%;margin:0px; padding:0px;}
div.videoInner div.videoClose {position:absolute;width:53px;height:53px;top:0;right:0;z-index: 1000;background: #0c8ccb;}
div.videoInner div.videoClose a.closeBtn {display: block;line-height: 53px;text-align: center;font-size:32px;color:#ffffff;}

/* section4 */
.mapBox {width:100%; height:430px; padding:0;position: relative;}
.mapBox iframe { border:none; width:100%; height:430px; margin:0px; padding:0px; }
.mapBox .map_info {position: absolute;top:0;right:0;width:303px;height:430px;background: #3164af;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.mapBox .map_info .map_info_inner {padding:100px 30px;}
.mapBox .map_info .map_info_inner dl {}
.mapBox .map_info .map_info_inner dl dt {font-weight:700;font-size:34px;line-height: 34px;color:#ffffff;margin-bottom:30px;text-transform: uppercase;}
.mapBox .map_info .map_info_inner dl dd {margin:0;font-size:16px;line-height:24px;color:#ffffff;letter-spacing: -1px;margin-bottom:20px;padding-left:30px;}
.mapBox .map_info .map_info_inner dl dd.addr {background: url(../images/ico_location.png); background-repeat: no-repeat;}
.mapBox .map_info .map_info_inner dl dd.tel {background: url(../images/ico_phone.png); background-repeat: no-repeat;}
.mapBox .map_info .map_info_inner dl dd.fax {background: url(../images/ico_fax.png); background-repeat: no-repeat;}

/* 서브 상단 */
.sub_vg{ position : relative;width: 100%; min-width: 1200px; background-image: url("../images/sub_vg.jpg"); background-repeat: no-repeat; background-position: center; height: 243px; }
div#vg_con {height:250px; width:1200px; margin: 0 auto; text-align:center; position : relative;}
div#vg_con h2 {position: absolute;left: 0;    top: 120px;    width: 1200px;   text-align: center;    color: #ffffff;    font-size: 42px;    font-weight: 500;margin:0;}
div#vg_con p {position:absolute;left:0;top: 80px; width: 1200px;     text-align: center;    color: #ffffff;    font-size: 20px;font-weight: 500;text-transform: uppercase;}

/* 서브공통 */
.sub_wrap {padding:0;}
div.left_wrap	{width:220px;float:left;margin-right:40px;}
h2.left_top	{margin:0; width:220px;height: 156px;color: #fff;background-image: url("../images/sub_top_bg.png"); border:solid #dddddd;border-width: 0 1px 1px;display: table;}
.left_top div {font-size: 34px;text-align : left;color: #fff;padding:0 20px;display: table-cell;vertical-align: middle;letter-spacing: -1px;}


.sub_tab {margin:0;padding:0;width:100%;clear:both;}
.sub_tab li.tab_list { float: left;height:60px;position:relative;margin:0 -1px 0 0;border: solid #e1e1e1;border-width:1px;}
.sub_tab li.tab_list > a {font-size:18px;line-height:56px;display:block;text-align:center;position:relative;color:#585858;}
.sub_tab li.tab_list > a:hover,
.sub_tab li.tab_list > a.selected {color:#045bc5;line-height:56px;border: solid #045bc5;border-width:0 0 3px 0;}

.cs_center {border: solid #d6d6d6;border-width:0 1px 1px;padding:30px 25px 0;margin-bottom: 170px;}
.cs_center h4 {color:#025252;font-size:18px;line-height: 1.5;margin-bottom: 15px;}
.cs_center div.cs1 {margin-bottom: 25px;}
.cs_center div.cs1 p.center {color:#9a9a9a;font-size:14px;line-height: 1.5;}
.cs_center div.cs1 p.tel {color:#104899;font-size:24px;font-weight: 700;line-height: 1.2;}
.cs_center div.cs1 p.fax {color:#025252;font-size:18px;line-height: 1.2;}


.contents_wrap {padding:0;width:100%;overflow: hidden;}
.contents {padding:0;width:100%;min-height: 500px;overflow: hidden;padding: 60px 0 110px 0;}

.title_wrap {overflow:hidden;height:30px;margin-top:60px;}
.title_wrap h2.title {color:#222222; font-size:30px;line-height: 30px;font-weight:700;float:left;}
.title_wrap .position {float:right;background:url(../images/icon_home.png) no-repeat;     background-position: 0 11px;padding-left:15px; margin-top:0;line-height:30px;}





/* 하단 (동아대 거기말고ㅋ)  */

#footer {width:100%; min-width:1200px;height:155px;padding:0; background:#f7f7f7;}
.copyright_wrap {width:1200px;position:relative;margin:0 auto; }

.goTop {position: absolute;top:0;right:0;background: #255bab;}
.goTop a {display: block;width:60px;height:60px;text-align: center;}
.goTop a i {color:#fff;line-height: 60px;}

.copy_logo	{float:left; display:block;line-height: 155px;}
.copy_logo img {vertical-align: middle;    max-width: 100%;    max-height: 100%;}
address	{float:left; display:inline;color:#9e9e9e; font-size:14px;  ;padding:55px 0 0 60px;line-height: 24px;font-style: normal;}

.copy_by	{position: absolute;height:82px;bottom:8px; right:0;}