@charset "utf-8";


/* 초기화 */
body {font-family:'Malgun Gothic', 'Nanum Gothic', 'Noto Sans KR', dotum,'Helvetica',Apple SD Gothic Neo, sans-serif;color:#222;min-width:320px;background: #fff;font-size:15px;}
.bg_primary {background-color:#163f8c;}
.bg_sub {}
.img-responsive {display: block;max-width: 100%;height: auto;}
.ir-pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen-hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.tran-animate {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.fd-transition {-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.fd-transition-2 {-webkit-transition: all .9s ease;-moz-transition: all .9s ease;-o-transition: all .9s ease;-ms-transition: all .9s ease;transition: all .9s ease;}

.teleNum {color:inherit !important}

.font_nanum {font-family: 'Nanum Gothic'}
.font_noto {font-family: 'Noto Sans KR';}
.font_open {font-family: 'Open Sans';}
.font_montserrat {font-family: 'Montserrat';}
/* 
** button 
*/



/* 
** opacity 
*/
.opacity_0	{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity: 0;filter: alpha(opacity=0);zoom:1;}
.opacity_10 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";opacity: 0.1;filter: alpha(opacity=10);zoom:1;}
.opacity_15 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";opacity: 0.15;filter: alpha(opacity=15);zoom:1;}
.opacity_20 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity: 0.2;filter: alpha(opacity=20);zoom:1;}
.opacity_25 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";opacity: 0.25;filter: alpha(opacity=25);zoom:1;}
.opacity_30 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity: 0.3;filter: alpha(opacity=30);zoom:1;}
.opacity_35 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";opacity: 0.35;filter: alpha(opacity=35);zoom:1;}
.opacity_40 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity: 0.4;filter: alpha(opacity=40);zoom:1;}
.opacity_45 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";opacity: 0.45;filter: alpha(opacity=45);zoom:1;}
.opacity_50 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.5;filter: alpha(opacity=50);zoom:1;}
.opacity_55 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";opacity: 0.55;filter: alpha(opacity=55);zoom:1;}
.opacity_60 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity: 0.6;filter: alpha(opacity=60);zoom:1;}
.opacity_65 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity: 0.65;filter: alpha(opacity=65);zoom:1;}
.opacity_70 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity: 0.7;filter: alpha(opacity=70);zoom:1;}
.opacity_75 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";opacity: 0.75;filter: alpha(opacity=75);zoom:1;}
.opacity_80 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: 0.8;filter: alpha(opacity=80);zoom:1;}
.opacity_85 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";opacity: 0.85;filter: alpha(opacity=85);zoom:1;}
.opacity_90 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.opacity_95 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";opacity: 0.95;filter: alpha(opacity=95);zoom:1;}

.k_wrap {display:block;width:100%;min-width:1000px;clear:both;position: relative;}
.k_wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container {position:relative;width:1000px;min-width:1000px;margin:0;padding:0;clear:both;}
.k_container:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container.type_center {margin:0 auto;}

.scrollOpacity {opacity:0;transition:opacity 1s;}
.scrollOpacity.active {opacity:1;}




div#wrap {position: relative;}

header#header {position: relative; width: 100%;min-width: 1000px;z-index: 900;}
header.m-fixed {top: 0;position: fixed;    z-index: 9999;}

div.headerWrap {position: relative;}
div.headerWrap:after {content: '';clear: both;display: block;position: absolute;bottom: 0;width:100%;height: 1px;background: #e4dcda;}


#message_box{position:relative;z-index:10;background:#d0111b;color:#fff;width: 100%;min-width: 1000px;height: 58px;overflow: hidden;}
#message_box.m-fixed {position: fixed;margin: 0;top:0;z-index: 9999;}
.box_txt {margin-right: 15px;float:left;}
.box_txt p {font-size:13px;line-height: 1.2;color:#fff;}
.box_txt p strong {}
.box_txt p strong {font-size:18px;}
.box_txt p strong small {font-size:13px;}

.box_tel {float:left;padding: 0 0 0 45px;background-image: url("../img/ico_tel.png"); background-repeat: no-repeat;background-position: left center;}
.box_tel strong {font-size:20px;}

.box_sns {float:right;width:50%;position: relative;background: #fff000}
.box_sns:before {content:'';position: absolute;top:0;left:-30px;width:0;height:0;border-top: 29px solid transparent;border-bottom: 29px solid #fff000;border-left:15px solid transparent;border-right:15px solid #fff000; }
.box_sns:after {content:'';position: absolute;top:0;right:-100%;width:100%;height:100%;bottom:0;background: #fff000}
.box_sns ul {padding:10px 0;text-align: right;}
.box_sns ul li {display: inline-block;}
.box_sns ul li a {display: block;}


div.menu_aid {position: relative;height:40px;width:100%;min-width: 1000px;}
div.menu_aid:after {content: '';clear: both;display: block;position: absolute;bottom: 0;width:100%;height: 1px;background: #e4dcda;}
div.menu_aid .etc_menu {position: relative;width:1000px;margin:0 auto;height:40px;line-height:40px;text-align: right;}
div.menu_aid .etc_menu a {position: relative;font-size:11px;line-height:40px;color:#717171;display:inline-block;padding-right: 15px}
div.menu_aid .etc_menu a:before {content:'';position: absolute;top:50%;right:5px;background:#717171;margin-top:-3px;width:1px;height:6px;}
div.menu_aid .etc_menu a:last-child {padding-right: 0}
div.menu_aid .etc_menu a:last-child:before {width:0;height:0;}
div.menu_aid .etc_menu a:hover {color:#000;}

.headerBox {position: relative;width:1000px;margin:0 auto;padding:0;}
.headerBox:after {content: '';clear: both;display: block;visibility: hidden;}
.headerBox div.logo {position: relative; margin:0;width:200px;height:115px;background-image: url("../img/logo.png"); background-repeat: no-repeat;background-position: center;float: left;margin-right: 55px;}
.headerBox h1 {margin:0}
.headerBox h1 a {display: block;height: 115px;}
.headerBox div.hm {padding-top: 26px;float: left;margin-right: 15px;}
.headerBox div.hm.last {margin-right:0;}

.headerBox div.hm p {font-size:14px;line-height: 1.2;display: block;padding:10px 0 0;color:#3d3d3d;letter-spacing: -1px;}
.headerBox div.hm p span {color:#0c60d3;}

.mainNav {position: relative;width:100%;min-width:1000px;margin:0;background: #fff;}
.mainNav.m-fixed {position: fixed;margin: 0;top:58px;z-index: 9999;}
.mainNav:after {content: '';clear: both;display: block;position: absolute;bottom: 0;width:100%;height: 1px;background: #e4dcda;}
.mainNav ul.navLst {text-align: center;display: table;table-layout: fixed;width:1000px;margin:0 auto;}
.mainNav ul.navLst li {display: table-cell;}
.mainNav ul.navLst li a {display: block;}
.mainNav ul.navLst li a div.nav_ico {width:142px;height: 35px;}
.mainNav ul.navLst li a div.nav_ico.nav01 {background:url(../img/menu_company.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a div.nav_ico.nav02 {background:url(../img/menu_product.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a div.nav_ico.nav03 {background:url(../img/menu_steelweel.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a div.nav_ico.nav04 {background:url(../img/menu_conveyor.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a div.nav_ico.nav05 {background:url(../img/menu_lift.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a div.nav_ico.nav06 {background:url(../img/menu_shahe.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a div.nav_ico.nav07 {background:url(../img/menu_customer.gif) no-repeat;background-position: center;}

.mainNav ul.navLst li a:hover div.nav_ico {}
.mainNav ul.navLst li a:hover div.nav_ico.nav01 {background:url(../img/menu_company_r.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a:hover div.nav_ico.nav02 {background:url(../img/menu_product_r.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a:hover div.nav_ico.nav03 {background:url(../img/menu_steelweel_r.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a:hover div.nav_ico.nav04 {background:url(../img/menu_conveyor_r.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a:hover div.nav_ico.nav05 {background:url(../img/menu_lift_r.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a:hover div.nav_ico.nav06 {background:url(../img/menu_shahe_r.gif) no-repeat;background-position: center;}
.mainNav ul.navLst li a:hover div.nav_ico.nav07 {background:url(../img/menu_customer_r.gif) no-repeat;background-position: center;}


.quickWrap {position: relative;width: 1000px;margin: 0 auto;clear: both;display: block;}
.quickWrap.m-fixed {position: fixed;width:1000px;margin: 0;top:0;left:50%;margin-left:-500px;z-index: 9999;}
.subQuickMenu {z-index:9999;position:absolute;top: 10px;left:52%;margin-left:50%;background:#b2b2b2;padding:0;border:1px solid #dcdcdc;}
.subQuickMenu.m-fixed {top:100px;}
.quick_list {}
.quick_list li {width:100%;margin-bottom:0;text-align:center;border-bottom:1px solid #dcdcdc;}
.quick_list li.title {font-size: 12px;color:#fff;padding:10px 0px;}
.quick_list li.last {border-bottom: 0 none}

.updown_btn {position: relative;width: 100%;}
.updown_btn .btn_updown {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 1.5;
    border: 0 none;
    background-color: #b2b2b2;
    font-size: 12px;
    color: #fff;
}
.updown_btn .btn_updown:hover {cursor:pointer;}


main#main {position: relative;width:100%;min-width:1000px;margin: 0 auto;padding:0;}

.vg_inner {position: relative;background:url(../img/vg.jpg) no-repeat;background-position: center;max-width: 1920px;height: 450px;overflow: hidden;}

.vg_title {width:1000px;margin:0 auto;z-index: 555;padding:90px 0 135px 0;position: relative;}
.vg_title h2 {font-size:54px;color:#ffffff;line-height: 1.5;margin:0 0 35px;font-weight: 700;}
.vg_title h2 small {display: block;font-size:32px;font-weight: 400;}
.vg_title p {font-size:16px;color:#ffffff;line-height: 1.5;margin:0;}
.vg_title div.vg_line {width: 48px;height: 4px;background: #fff;margin-bottom: 20px;}
.vg_title div.thumb {position: absolute;top:100px;right:0;}
.vg_title div.thumb img {max-width: 100%}

div.itemWrap {margin-bottom: 40px;margin-top:-50px;}
div.itemWrap .rowc {}
div.itemWrap .rowc ul {font-size:0;line-height:0;margin:0;padding:0}
div.itemWrap .rowc ul:after {clear: both;display: block;content: "";}
div.itemWrap .rowc ul.grid3 {margin:0;}
div.itemWrap .rowc ul.grid3 > li {width:33.333%;margin:0;display:inline-block;text-align:center;vertical-align: top;}
div.itemWrap .rowc ul.grid3 > li img {max-width: 100%}

div.itemWrap2 {margin-bottom: 40px;}
div.itemWrap2 .rowc ul.grid_auto {margin:0;}
div.itemWrap2 .rowc ul.grid_auto:after {content: '';clear: both;display: block;visibility: hidden;}
div.itemWrap2 .rowc ul.grid_auto > li {width:115px;margin:0 32px 0 0;display:block;text-align:center;float:left;}
div.itemWrap2 .rowc ul.grid_auto > li.last {margin:0;}
div.itemWrap2 .rowc ul.grid_auto > li img {max-width: 100%}
div.itemWrap2 .rowc ul.grid_auto > li a {display: block;}
div.itemWrap2 .rowc ul.grid_auto > li a div.desc {font-size:13px;color:#164f7a;line-height: 1.5;padding:10px 0;}


#ft {position: relative;width:100%;min-width:1000px;background:#212227;color:#999999;}
#ft .ft_wr{margin:0 auto;width:1000px;position: relative;padding:50px 0;}
#ft .ft_wr:after {display:block;visibility:hidden;clear:both;content:""}
div.ft_info {float:left;}
div.ft_info.mg {margin:0 100px;}
div.ft_info h3 {display: inline-block;font-size:16px;line-height:1.5;margin:0 0 15px 0;padding:0 0 5px 0; font-weight:400;letter-spacing: -1px;border-bottom:1px solid #999;}       
div.ft_info p {font-size:14px;line-height:1.5;margin:0;}
div.ft_info div.logo_copy {margin-bottom: 10px;}

div.ft_info table.companyInfo {width:100%;clear:both;}
div.ft_info table.companyInfo th, 
div.ft_info table.companyInfo td {text-align:left;font-size: 14px;font-weight: normal;}
div.ft_info table.companyInfo th {width: 30px;}
div.ft_info table.companyInfo td {padding:8px;}
div.ft_info table.companyInfo td a {color:#999;}

.copy_area {padding:27px 0 0; }
.copy_area span.sel_area { display:block;position: relative;border:1px solid #5a5a5e;width:210px; }
.copy_area span.sel_area select::-ms-expand { display: none; } 
.copy_area span.sel_area select {position:relative;    width: 100%;background: #37383d; outline: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; display:inline-block;padding-left:20px; height:30px; border:0 none; font-size:14px; border-radius:0; color:#cbcbcb;vertical-align:top; }
.copy_area span.sel_area select + .sel_box {position: absolute;top:50%;right:20px;margin-top:-3px;width:10px;height:6px;background:url(../img/bg_select.png) no-repeat center;}

#ft .ft_copy {background: #000;}
#ft .ft_copy p {text-align: center;color:#e5e5e5;font-size: 14px;padding:10px 0;}
