@charset "utf-8";
@import url("./common.css");

#wrap {position:relative; height:100%;}

.black_bg {width:100%;height:100%; position:absolute;  left:0px;top:0px;z-index:1000;background-color:#000;}
.opa50 {filter:alpha(opacity=80);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';opacity:.8;}
#layer_bg {z-index:100;}
#layer_contents {z-index:101;width:auto;height:auto;position:absolute;left:35%;top:100px;}


/* header */
#header {clear:both;height:89px; width:100%; background:#fff;border-bottom:1px solid #cecece;}
#header > div.nav {position:relative; width:1200px;margin:0 auto;}
#header h1 { position:absolute; top:0;left:0; }
#header h1 a {display:block;}

/*GNB*/
#gnb { margin-left:188px;float:left;}
#gnb > ul {position:relative; width:705px;height:89px;clear:both;}
#gnb > ul > li {float:left;}
#gnb > ul > li > a {display:block; padding:0 32px 0 0; line-height:89px; text-align:center; font-size:18px;color:#3f3f3f;}
#gnb > ul > li > a.last {padding:0;}
#gnb > ul > li > a.on,#gnb > ul > li > a:hover,#gnb > ul > li >a:focus{color:#8e2103;font-weight:bold;}

div.nav > div.tel {float:left;margin-left:21px;width:169px;height:89px;}
div.nav > div.tel p.txt {text-align:center;color:#8e2103;font-size:17px;padding-top:22px;}
div.nav > div.tel p.num {text-align:center;color:#8e2103;font-weight:bold;font-size:28px;padding-top:5px;}
div.nav > div.blog {float:left;width:116px;height:89px;background-image: url(../img/main/bg_blog.png);background-repeat: no-repeat;}
div.nav > div.blog a {display:block;height:89px;text-indent:-9999px;}

/*서브메뉴*/
.subGnb{position:absolute; left:0; top:90px; z-index: 101;height:50px;display:none;}
.subGnb>ul{}
.subGnb>ul>li{float:left; text-align:center; padding-right:35px;}
.subGnb li a { display: block;color: #b3b3b3;letter-spacing: -1px;line-height:50px;font-size:15px;}
.subGnb li a:hover, .subGnb li a:focus, .subGnb li a:active, .subGnb li.lock a {color:#ffffff; text-decoration:underline;}

/*gnb bg*/
#header .bgGnb{position:absolute; top:90px; height:0;  margin:0; width:100% !important; overflow:hidden; display:block; z-index:100;background:#2f2f2f;opacity: 0.8;filter: alpha(opacity=80);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}


/* container */
#container {position:relative;min-width:1200px;}

.video_pop {position:absolute;top:67px;left:95px;width:210px;height:147px;    z-index: 100;background-image: url(../img/main/bg_main_video.jpg);background-repeat: no-repeat;}
.video_pop a {display:block;text-indent:-9999px;width:210px;height:147px;}

/* sub */
.sub_content {position:relative;clear:both;overflow:hidden;}
.subV_content {position:relative;width:1200px;margin:0 auto;}
.subV_title {position:relative;width:100%;height:560px;overflow:hidden;}
.subV_title.bg01 {background-image: url(../img/sub/img_subtitle01.jpg);background-repeat: no-repeat;}
.subV_title.bg02 {background-image: url(../img/sub/img_subtitle06.jpg);background-repeat: no-repeat;}
.subV_title.bg03 {background-image: url(../img/sub/img_subtitle01.jpg);background-repeat: no-repeat;}
.subV_title.bg04 {background-image: url(../img/sub/img_subtitle06.jpg);background-repeat: no-repeat;}
.subV_title.bg05 {background-image: url(../img/sub/img_subtitle05.jpg);background-repeat: no-repeat;}
.subV_title.bg06 {background-image: url(../img/sub/img_subtitle06.jpg);background-repeat: no-repeat;}
.subV_title.bg07 {background-image: url(../img/sub/img_subtitle05.jpg);background-repeat: no-repeat;}



.subV_nav {position:relative;width:100%;overflow:hidden;border-bottom:1px solid #e4e4e4;}
.nav_bread {width:1200px;margin:25px auto 0;height:25px;}
.nav_bread .breadcrumbs {text-align:right;}
.nav_bread .breadcrumbs li {margin: 0;padding: 0;display: inline;margin-left: 5px;font-size: 12px;color:#999999;}
.nav_bread .breadcrumbs li a {padding-right: 5px;color:#999999;font-size: 12px;}
.nav_bread .breadcrumbs li:after {content: '>';color:#999999;}
.nav_bread .breadcrumbs li:first-child {background: url(../img/sub/ico_home.png);background-repeat: no-repeat;background-position: center left;padding-left: 20px;}
.nav_bread .breadcrumbs li:first-child a {font-weight:bold;color:#7a7a7a;}
.ie8 .nav_bread .breadcrumbs li:first-child {background-position: 0 0;}
.nav_bread .breadcrumbs li.last:after {content: '';}

/* 사업개요 */
.subpage {position:relative;width:1200px;margin:0 auto;padding:80px 0 100px 0;overflow:hidden;}
.subpage h3.title {font-size:42px;color:#3f261a;text-align:center;margin:0 0 50px 0;font-weight:bold;}
.subpage div.special_txt {font-family:'Nanum Myeongjo';color:#3f261a;font-size:30px;line-height:48px;width:550px;margin:0 auto; letter-spacing:-1.5px; }
.subpage div.special_txt span.txt_bg {font-family:'Nanum Myeongjo';width:114px;height:48px;display:inline-block;background: url(../img/sub/bg_txt.png);background-repeat: no-repeat;vertical-align:top;color:#ffffff;font-size:30px;line-height:48px;text-align:center;}
.subpage p.special_txt2 {font-family:'Nanum Myeongjo';color:#03248e;font-size:24px;line-height:24px;font-weight:bold;text-align:center;padding:30px 0 20px 0;}
.subpage p.special_txt3 {color:#3f261a;font-size:18px;line-height:32px;text-align:center;width:600px;margin:0 auto;padding-bottom:97px;letter-spacing:-1px;}
.subpage p.special_txt3 span {color:#e73b05;font-size:18px;line-height:28px;}
.subpage div.special_sign {width:290px;height:80px;margin:0 auto;background: url(../img/sub/bg_intro_sign.png);background-repeat: no-repeat;text-indent:-9999px;}

.subpage .video01 {background: url(../img/sub/bg_video01.jpg);background-repeat: no-repeat;width:1200px;height:561px;overflow:hidden;text-indent:-9999px;margin-bottom:100px;}

.subpage .map01 {background: url(../img/sub/bg_map01.jpg);background-repeat: no-repeat;width:1200px;height:424px;overflow:hidden;text-indent:-9999px;}

.subpage .map_info_wrap {margin-top:36px;clear:both;}
.subpage .map_info {width:501px;height:299px;float:left;padding:40px 0 0 43px;border: solid #ececec;border-width:1px 0 1px 1px;background:#f8f8f8;} 

.subpage .map_info .map_tel p {color:#79230c;}
.subpage .map_info .map_tel p.txt {font-size:20px;}
.subpage .map_info .map_tel p.num {font-size:42px;font-weight:bold;padding-top:15px;}
.subpage .map_info .map_addr {padding-top:45px;}
.subpage .map_info .map_addr p {font-size:20px;}
.subpage .map_info .map_addr p.txt {color:#79230c;}
.subpage .map_info .map_addr p.addr {color:#5b5a59;padding-top:15px;}
.subpage .map02 {width:655px;height:341px;float:left;text-indent:-9999px;background: url(../img/sub/bg_map02.jpg);background-repeat: no-repeat;}

/* 분양안내 */
.sub01_tbl {width:100%;clear:both;}
.sub01_tbl td, .sub01_tbl  th {height: 21px;}
.sub01_tbl th {background: #a68a69;font-size: 17px;line-height:24px;color: #ffffff;text-align:center;padding:15px 0;width:250px;border-bottom:1px solid #cecece;}
.sub01_tbl td {background: #f9f9f9;color: #333333;font-size: 16px;line-height:24px;text-align:left;padding:15px 0 15px 32px;border:solid #cecece;border-width:1px 1px 1px 0;border-left:1px solid #ffffff;}

.sub01_dl {clear:both;overflow:hidden;}
.sub01_dl dt {font-weight:bold;margin-top:20px;background: url(../img/sub/ico_sub0201.png);background-repeat: no-repeat;background-position:center left;}
.sub01_dl dt.first {margin-top:0;}
.sub01_dl dd {}
.sub01_dl dt,
.sub01_dl dd {font-size: 17px;line-height:24px;color: #333333;padding-left:17px;}
.sub01_dl span {font-weight:bold;font-size: 17px;line-height:24px;}
.sub01_dl span.orange {color:#e73b05;}
.sub01_dl span.blue {color:#03248e;}

.sub01 {background: url(../img/sub/bg_sub0201.jpg);background-repeat: no-repeat;width:1200px;height:640px;overflow:hidden;text-indent:-9999px;margin-top:60px;}
.sub02 {background: url(../img/sub/bg_sub0202.png);background-repeat: no-repeat;width:1200px;height:706px;overflow:hidden;position:relative;}

.sub02 ol {width:100%;height:100%;}
.sub02 ol li {width:332px;position:absolute;}
.sub02 ol li h4 {font-size:25px;color:#ffffff;text-align:center;}
.sub02 ol li p {font-size:18px;line-height:24px;color:#ffffff;margin-top:18px;text-align:center;font-weight:normal;}
.sub02 ol li p span {font-size:18px;color:#fff29b;}
.sub02 ol li.step1 {top:125px;left:58px;}
.sub02 ol li.step2 {top:125px;left:434px;}
.sub02 ol li.step3 {top:125px;right:58px;}
.sub02 ol li.step4 {top:450px;right:245px;}
.sub02 ol li.download {top:450px;left:245px;}
.sub02 ol li.download .download_inner {position:relative;}
.sub02 ol li.download a.dlc {width:100px;height:37px;line-height:37px;position:absolute;top:140px;left:50%;margin-left:-50px;background: url(../img/sub/btn_dlc.png);background-repeat: no-repeat;text-align:center;}
.sub02 ol li.download a.dlc span {display:inline-block;line-height: 37px;font-size:20px;font-weight:bold;color:#444444;}


/* 투자가치 */
.multi_list {width:876px;margin:0 auto;overflow:hidden;clear:both;background: url(../img/sub/bg_multi_list.png);background-repeat: no-repeat;}
.multi_list li {width:125px;height:109px;line-height:109px;float:left;text-align:center;font-size:18px;color:#ffffff;}
.multi_map {margin:57px 0 52px 0;background: url(../img/sub/bg_multi_map.jpg);background-repeat: no-repeat;width:1200px;height:677px;overflow:hidden;text-indent:-9999px;}
.multi_tbl {width:100%;clear:both;overflow:hidden;margin-bottom:50px;}
.multi_tbl th, .multi_tbl td {padding:15px 0;}
.multi_tbl th.odd, .multi_tbl td.odd {background:#e1d8cf;} 
.multi_tbl th {font-size:20px;color:#494949;border-left:1px solid #ffffff;font-weight:bold;width:420px;padding-left:48px;}
.multi_tbl td {font-size:20px;color:#494949;border-right:1px solid #ffffff;line-height:30px;}
.multi_tbl td span {font-size:20px;color:#8e2103;line-height:30px;}
.multi_tbl th.last, .multi_tbl td.last {background:#b1834c;color:#ffffff;} 
.multi_content {background: url(../img/sub/bg_multi_content.jpg);background-repeat: no-repeat;width:1200px;height:924px;overflow:hidden;text-indent:-9999px;}

.premium_list {width:100%;overflow:hidden;clear:both;margin-bottom:34px;}
.premium_list li {width:159px;height:37px;line-height:37px;float:left;text-align:center;font-size:16px;color:#e1d8cf;letter-spacing:-1px;}
.premium_list li.first {width:124px;text-align:left;font-size:30px;color:#3f261a;font-weight:bold;}
.premium_list li.bg {background: url(../img/sub/bg_txt2.png);background-repeat: no-repeat;margin-right:10px;}

.premium_set {margin-bottom:50px;}
h4.premium_title {font-size:28px;line-height:34px;color:#89776b;font-weight:bold;margin-bottom:27px;}
h4.premium_title span {font-size:28px;line-height:34px;color:#615142;font-weight:bold;}
.premium_tbl {width:100%;clear:both;overflow:hidden;}
.premium_tbl th,
.premium_tbl td {text-align:center;}
.premium_tbl th {height:51px;font-size:18px;color:#ffffff;}
.premium_tbl th.top {background:#3f261a;}
.premium_tbl th.middle {background:#a68a69;}
.premium_tbl td {height:40px;border-bottom:1px solid #999999;color:#333333;font-size:16px;}
.premium_tbl td.middle {background:#e1d8cf;}
.premium_desc {margin-top:15px;font-size:14px;color:#3f261a;}
.premium_content {background: url(../img/sub/bg_premium_content.jpg);background-repeat: no-repeat;width:1200px;height:805px;overflow:hidden;text-indent:-9999px;}



/* TYPE  */
h3.type_title {width:601px;height:126px;margin:0 auto;text-indent:-9999px;margin-bottom:89px;}
.type_bg_content {width:1200px;text-indent:-9999px;margin-bottom:68px;}

h3.type_title.type1 {background: url(../img/sub/bg_type1_title.jpg);background-repeat: no-repeat;}
.type_bg_content.type1 {height:1190px;background: url(../img/sub/bg_type1_content.jpg);background-repeat: no-repeat;}
h3.type_title.type2 {background: url(../img/sub/bg_type2_title.jpg);background-repeat: no-repeat;}
.type_bg_content.type2 {height:1140px;background: url(../img/sub/bg_type2_content.jpg);background-repeat: no-repeat;}
h3.type_title.type3 {background: url(../img/sub/bg_type3_title.jpg);background-repeat: no-repeat;}
.type_bg_content.type3 {height:1814px;background: url(../img/sub/bg_type3_content.jpg);background-repeat: no-repeat;}
h3.type_title.type4 {background: url(../img/sub/bg_type4_title.jpg);background-repeat: no-repeat;}
.type_bg_content.type4 {height:1435px;background: url(../img/sub/bg_type4_content.jpg);background-repeat: no-repeat;}

.type_tbl_top {width:100%;clear:both;overflow:hidden;}
h4.type_tbl_title {font-size:20px;color:#3f261a;float:left;line-height: 24px;}
h4.type_tbl_title span {font-size:20px;font-weight:bold;color:#3f261a;}
p.type_tbl_desc {font-size:18px;color:#3f261a;float:left;    line-height: 24px;padding-left:10px;}
p.type_tbl_desc span {color:#e72819;font-size:18px;}

table.type_tbl {width:100%;clear:both;margin:20px 0;}
table.type_tbl th,
table.type_tbl td {}
table.type_tbl th {font-size:15px;text-align:center;}
table.type_tbl th.orange {color:#e73b05 !important;font-size:18px;}
table.type_tbl th.top {line-height:33px;background:#3f261a;color:#ffffff;}
table.type_tbl th.middle {line-height:42px;background:#a68a69;color:#ffffff;}
table.type_tbl th.bottom {line-height:39px;background:#e1d8cf;color:#333333;border-bottom:1px solid #cecece;} 
table.type_tbl th.bottom.last {line-height:40px;border-bottom:0 none;}

table.type_tbl td {width:118px;font-size:14px;text-align:center;color:#333333;background:#f9f9f9;border-bottom:1px solid #cecece;border-right:2px solid #ffffff;line-height:39px;}
table.type_tbl td.last {border-right:0 none;}
table.type_tbl td.txt_right {text-align:right;padding-right:10px;}
table.type_tbl td.red {color:#e72819;}

.col_border_bottom1 {border-bottom:1px solid #ffffff;}
.row_border_right1 {border-right:1px solid #ffffff;}
.row_border_right2 {border-right:2px solid #ffffff;}

.type_tbl_bottom {width:100%;clear:both;overflow:hidden;}
p.type_tbl_etc {font-size:14px;color:#3f261a;float:left;width:480px;line-height:24px;font-weight:bold;}

/* 동호수배치도 */
.subpage .sub0501 {background: url(../img/sub/bg_sub0501.jpg);background-repeat: no-repeat;width:1200px;height:1320px;overflow:hidden;text-indent:-9999px;}

/* interior */
.subpage .interior_tit {padding:58px 0 96px 0;}
.subpage .interior_tit h4 {font-size:24px;line-height:24px;margin-bottom:15px;color: #3f261a;text-align:center;}
.subpage .interior_tit p {font-size:16px;line-height:24px;text-align:center;}
.subpage .interior_content {margin-bottom:100px;}
.subpage .interior_content p {font-size:18px;line-height:24px;text-align:center;color: #333333;}
.subpage .interior_content h4 {font-size:40px;text-align:center;color: #805625;font-weight:normal;}
.subpage .interior_content .interior_slide {margin-top:30px;position:relative;}



/* notice */
table caption { position:absolute; left:-10000px; top:auto; width:0px; height:0px; overflow:hidden; font-size:0; text-indent:-9999px;  }
#accessibility, .skip, hr, legend{
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
	z-index:-1;
	position:absolute;
	left:-1000px
}



.sub_wrap {width:100%;clear:both;overflow:hidden;}
.board_search .page_num {float:left; margin:0; padding:10px 0px 0px 10px;font-size:13px;color:#333333;}
.board_search {width:100%; overflow:hidden; margin-bottom:21px;}
.board_search dl{float:right}
.board_search dl dt{float:left}
.board_search dl dd{float:left; height:37px;}

.board_search_inp{display:inline-block; vertical-align: middle; width: 190px; height:38px; line-height:24px; font-size:13px;color:#333333;}
.board_search input[type="text"] {border:0 none; float:left; width:186px;padding-left:14px; height:35px; line-height:24px; margin:0; border:solid #999999;border-width:1px 0 1px 1px;font-size:13px;color:#333333;}
.board_search select {width:80px; height:37px; line-height:24px; vertical-align:middle;  border: 1px solid #999999; margin: 0 5px 0 0; padding-left:5px;font-size:13px;color:#333333;}

.board_tb {width:100%;clear:both;overflow:hidden;}
.board_list{width:100%;border-collapse: collapse;border:1px solid #999999; }
.board_list thead th{background:#f2eee9; height:43px; color:#494949; text-align:center; font-size:14px;border:solid #999999;border-width:1px 1px 0 1px;}
.board_list tbody td{text-align:center; height:43px; font-size:14px;border:1px solid #999999;}
.board_list tbody td .jemok_span{word-break: break-all; text-overflow:ellipsis;padding: 0 2px 0 0;}
.board_list tbody td.left{text-align:left; padding-left:47px;}
.board_list tbody td a:link{text-decoration:none; color:#333333;font-size:14px;}
.board_list tbody td a:hover{text-decoration:underline; color:#333333;font-size:14px;}
.board_list tbody td a:active{text-decoration:none; color:#333333;font-size:14px;}
.board_list tbody td a:focus{text-decoration:none; color:#333333;font-size:14px;}

.board_btn {width:99%; padding:10px 0 30px 0 ;overflow:hidden;}
.board_btn li{float:left; padding-right:2px; }
.board_btn li.right{float:right;}

.board_tb_view {width:100%;border-collapse: collapse;border:1px solid #999999; }
.board_tb_view tbody th {padding:4px 18px; background:#f5f5f5;  font-size:13px; text-align:left;}
.board_tb_view tbody th.title {padding:18px 20px; background:#fff; font-size:18px; color:#333333;border:1px solid #999999; text-align:left;}
.board_tb_view tbody td {padding:4px 18px; font-size:13px; line-height:20px; text-align:left; height:40px; border:1px solid #999999; }
.board_tb_view .txt_view {/*padding:15px 20px 30px 20px;*/ padding:10px; word-wrap:break-word; font-size:13px; overflow:hidden; /*min-height:100px*/ line-height:20px;}
.board_tb_view .txt_view p {padding:20px 0px; line-height:20px; font-size:13px; }


.button {width:100%; margin-top:20px; overflow:hidden; text-align:center;}
.btn_list a {width:80px; text-align:center; padding:12px 0px; color:#fff;  background:#444; border:1px solid #222; display:inline-block; vertical-align:middle; font-size:14px; }
.btn_regist a {width:80px; text-align:center; padding:12px 0px; color:#fff;  background:#f37321; border:1px solid #db5702; display:inline-block; vertical-align:middle; font-size:14px; }
.btn_modify a {width:80px; text-align:center; padding:12px 0px; color:#fff;  background:#444; border:1px solid #222; display:inline-block; vertical-align:middle; font-size:14px; }
.btn_delete a {width:80px; text-align:center; padding:12px 0px; color:#fff;  background:#444; border:1px solid #222; display:inline-block; vertical-align:middle; font-size:14px; }
.btn_consul a {width:110px; text-align:center; padding:12px 0px; color:#fff;  background:#f37321; border:1px solid #db5702; display:inline-block; vertical-align:middle; font-size:14px; margin:0 auto; }



.paginate_wrap{clear:both;position:relative;z-index:0;width:100%;line-height:18px;text-align:center;}
.paginate{display:inline-block;padding:30px 0;text-align:center; }
.paginate a,
.paginate strong,
.paginate span{float:left;display:inline-block;width:35px;height:35px;line-height:35px; background:#fff;font-weight:bold;font-size:14px;color:#959595;text-align:center;vertical-align:top}
.paginate strong{color:#333333; border:1px solid #bbbbbb;font-size:14px;margin:0 0 0 -1px;}
.paginate a:hover,
.paginate a:focus{color:#333333; border:1px solid #bbbbbb;}
.paginate a.page_first {border:solid #bbbbbb;border-width:1px 0 1px 1px;background:url('/img/sub/page_first.jpg') 0 0 no-repeat; margin-left:0px; font-size:0px;}
.paginate a.page_prev {border:1px solid #bbbbbb;background:url('/img/sub/page_prev.jpg') 0 0 no-repeat; font-size:0px;}
.paginate a.page_next {border:1px solid #bbbbbb;background:url('/img/sub/page_next.jpg') 0 0 no-repeat; margin-left:-1px; font-size:0px;}
.paginate a.page_last {border:solid #bbbbbb;border-width:1px 1px 1px 0px;background:url('/img/sub/page_last.jpg') 0 0 no-repeat; font-size:0px;}
.paginate a.pg_num {line-height:37px;}



/* footer */
#footer {clear:both;overflow:hidden; width:100%;border-top:1px solid #cecece;padding:20px 0;}
#footer .footer_content {position:relative; width:1200px;margin:0 auto;}
#footer p {font-family:'돋움';color:#333333;font-size:12px;line-height:20px;font-weight:bold;}
#footer p.red {color:#8e2103;}
#footer p.gray {color:#a4a4a4; margin-top:12px; }
#footer .footer_tel {position:absolute;top:0;right:0;width:240px;height:76px;}
#footer .footer_tel p {text-align:center; color:#8e2103; font-family:'Noto Sans KR'; margin-top:5px; }
#footer .footer_tel p.txt {font-size:24px;}
#footer .footer_tel p.num {font-size:40px;line-height:55px; }