/* 테이블 표 */
	.table1 {border:1px solid #AAC2D5; border-collapse:collapse; margin:0;padding:0;}
	.table1 caption {position:relative; text-align:left; width:100%; font-size:16px; color:#0056C1; font-weight:bold; padding-top:10px;padding-bottom:7px;}
	.table1 th {border:1px solid #AAC2D5; border-collapse:collapse; text-align:center; background:#CAE0F2; padding:3px 0 3px 0;}
	.table1 td {border:1px solid #AAC2D5; border-collapse:collapse; text-align:left; background:#FFF; padding:3px 0 3px 0;}

/* 공간 */
	div.space5	{height:5px; clear:both;}
	div.space10	{height:10px; clear:both;}
	div.space15	{height:15px; clear:both;}
	div.space20	{height:20px; clear:both;}
	div.space30	{height:30px; clear:both;}

/* 점선라인 */
	.dotddd	{height:3px; background:url(../images/dot3ddd.gif) repeat-x;}
	.dotccc	{height:3px; background:url(../images/dot3ccc.gif) repeat-x;}
	.doteee	{height:3px; background:url(../images/dot3eee.gif) repeat-x;}

/*제품리스트*/
	.products_sum_wrap	{width:170; height:190px; text-align:center; float:left; display:inline; margin-right:20px;}
	.products_sum_img	{text-align:center;}
	.products_sum_img img	{border:9px #eee solid;}
	.products_sum_name	{text-align:center; padding-top:3px;}

/*about*/
.about{margin:50px 0 0 0;}
.about .title{font-size:28px; font-family:"notosans"; font-weight:bold; text-align:center; letter-spacing:-1.5px; line-height:46px; color:#333; margin-bottom:30px;}
.about p{font-size:16px; font-family:"notosans"; letter-spacing:-1px; color:#666; line-height:30px; padding:0 30px 14px 30px;}

/*mission*/
.mission{margin:100px 0 0 0;}
.value{margin:100px 0 0 0;}

h3 {background:url(../images/icon_t.jpg) left center no-repeat; font-size:20px; font-weight:bold; color:#000; padding:2px 0 2px 25px; margin-bottom:15px;}

/* 연혁 */
.history_wrap {background:url(../images/history_line.gif) repeat-y; overflow:hidden; padding-top:30px;}
.history {clear:both; overflow:hidden; padding-bottom:100px;}
.history p {width:160px; float:left; font-family:'tahoma'; font-weight:bold; font-size:28px; color:#333; background:url(../images/icon_history.png) 84px center no-repeat; margin-top:-7px;}
.history .history_txt {float:left; margin-top:-4px;}
.history dt {width:80px; font-size:16px; font-family:"notosans"; letter-spacing:-1px; color:#666; line-height:34px; display:inline-block; vertical-align:top; float:left; clear:both; overflow:hidden;}
.history dd {width:530px; font-size:16px; font-family:"notosans"; letter-spacing:-1px; color:#666; line-height:34px; display:inline-block; float:left; overflow:hidden; }


/* contact */
.contact_wrap{clear: both; overflow: hidden; margin-bottom:100px;}

.contact{width:299px; text-align:center; border-right:1px dotted #c8c8c8; float:left;}
.contact .tt{font-family:'notosans'; font-size:16px; color:#333; line-height:24px; padding:20px 15px 0 15px;}
.contact .tt span{font-family:'tahoma'; font-size:18px; color:#000; font-weight:bold; margin:0 0 15px 0; display:inline-block;}

.contact_last{width:299px; text-align:center; border-right:1px dotted #fff; float:left;}
.contact_last .tt{font-family:'notosans'; font-size:16px; color:#333; line-height:24px; padding:20px 20px 0 20px;}
.contact_last .tt span{font-family:'tahoma'; font-size:18px; color:#000; font-weight:bold; margin:0 0 15px 0; display:inline-block;}

/*info*/
.info {margin-top:50px;}
.info .cont{font-size:16px; font-family:"notosans"; letter-spacing:-1px; color:#666; line-height:30px; padding:0 30px 14px 0;}
.info .cont span{font-size:16px; font-family:"notosans"; color:#d90303; }

.table_info{width:100%; clear:both; border-collapse:collapse; border-top:2px solid #5dbb48; border-left:1px solid #ddd; margin:0;padding:0;}
.table_info th{font-family:"notosans"; background:#ebf5e8; font-size:16px; color:#333; text-align:center; font-weight:bold;  letter-spacing:-1px; padding:18px 8px 16px 8px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.table_info th.last_line{border-bottom:1px solid #666;}
.table_info td{font-family:"notosans"; background:#fff; font-size:16px; color:#666; text-align:center; letter-spacing:-1px; padding:18px 8px 16px 8px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.table_info td.last_line{border-bottom:1px solid #666;}
.table_info td.first_bg{background:#f9f9f9;}
.table_info td.doctor{background:#f9f9f9; border-bottom:1px solid #666; color:#255bab; font-weight:bold; letter-spacing:-1px;}
.table_info td span{font-size:16px; color:#d90303;}

/*rehabilitation*/
.rehabilitation{margin:50px 0 0 0; clear:both; display:inline-block;}
.rehabilitation .left{float:left; width:160px; background:url(../images/icon_c.jpg) left center no-repeat; font-family:'notosans'; color:#333; font-size:20px; letter-spacing:-1px; padding-left:26px;}
.rehabilitation .right{float:left; width:900px; font-family:'notosans'; font-size:16px; color:#333; line-height:30px; background:#f9f9f9; padding:34px; border-top:1px solid #ddd;}
.rehabilitation .right .contents{margin:0 0 50px 0; padding:0; min-height: 0px;}
.rehabilitation .right .contents span{ font-family:'notosans'; font-size:18px; color:#d90303; line-height:30px; padding:0; margin:0;}
.rehabilitation .right .contents .img{margin:15px 0; padding-left:10px;}
.rehabilitation .right .contents .cont{ font-family:'notosans'; font-size:16px; color:#333; line-height:30px; margin:0; padding-left:10px;}
.rehabilitation .right .contents .cont span{font-weight:bold; font-size:16px; color:#333; }