@charset "utf-8";
/*!
 * 플로우디자인 (http://www.flowdesign.co.kr)
 */
/*-----------------------------------------------
1. 1200px ~
2. 992px ~ 1199px
3. 768px ~ 991px
4. ~ 767px
5. ~ 320px 

-----------------------------------------------*/
@media (min-width: 1000px) {
    .fixedTopNav {position: fixed;top: 0;width: 100%;z-index: 99999;}
    .fd_topNavMenu.fixedTopNav {height:60px;}
    .fd_topNavMenu.fixedTopNav .fd_nav_u {height:60px;}
    .fd_topNavMenu.fixedTopNav .fd_nav_u .fd_nav_l {height: 60px;}
    .fd_topNavMenu.fixedTopNav .fd_nav_u .fd_nav_l a.nav_a {font-weight: normal;font-size:15px;height:60px;line-height: 60px;}
    .fd_topNavMenu.fixedTopNav .fd_nav_u .fd_nav_l a.nav_a img {display: block;max-width: 100%;height: 56px;}
    .fd_topNavMenu.fixedTopNav .fd_sub_nav_u {top:100%;}
    .fd_topNavMenu.fixedTopNav .fd_sub_nav_u_l a.sub_a {padding-left: 85px;}


    .fd_bg_company {background-image: url('../img/company.jpg');height:270px;background-repeat: no-repeat;background-attachment: fixed;}

    .fd_bg_company .p_title {display: block;margin-top:90px;}
    .fd_bg_company .p_title h1{font-size:44px;color:#fff;}
    .fd_bg_company .p_subtitle h3{font-size:24px;color:#fff;}

    .fd_bg_product {background-image: url('../img/topproduct.jpg');height:270px;background-position: center top;background-repeat: no-repeat;background-attachment: fixed;}

    .fd_bg_product .p_title {display: block;margin-top:90px;}
    .fd_bg_product .p_title h1{font-size:44px;color:#fff;}
    .fd_bg_product .p_subtitle h3{font-size:24px;color:#fff;}

    .con_title {padding-left:15px;}

    .fd_margin_top_10 {margin-top:10px;}
    .fd_margin_top_15 {margin-top:15px;}
    .fd_margin_top_20 {margin-top:20px;}
    .fd_margin_top_25 {margin-top:25px;}
    .fd_margin_top_30 {margin-top:30px;}
    .fd_margin_top_35 {margin-top:35px;}
    .fd_margin_top_40 {margin-top:40px;}
    .fd_margin_top_70 {margin-top:70px;}

    .fd_tab_company {width:1170px;}
    .fd_tab_company li{float:left;height:60px;width:195px;}
    .fd_tab_company li a{display:block;width:194px;height:60px;font-size:16px;line-height:60px;color:#757679;text-align:center;margin-left:-1px;border:1px solid #ffffff;border-width:0 0 0 1px;}
	.fd_tab_company li a:hover {color:#f15b29}
    .fd_tab_company li a.selected{position:relative;height:60px;background:#fff;color:#f15b29;text-decoration:none}


    .fd_tab_product {width:1170px;}
    .fd_tab_product li{float:left;height:60px;width:292px;}
    .fd_tab_product li a{display:block;width:291px;height:60px;font-size:16px;line-height:60px;color:#757679;text-align:center;margin-left:-1px;border:1px solid #ffffff;border-width:0 0 0 1px;}
    .fd_tab_product li a.selected{position:relative;height:60px;background:#fff;color:#f15b29;}
    
} /* 1200px ~ */

@media (min-width: 992px) and (max-width: 1199px) {
    nav.container {width: 1170px;} 

}



@media (min-width: 768px) and (max-width: 991px) {
	.fd_topNavMenu {background-color:#ffffff;border-bottom:1px solid #f05a28;height:60px;padding: 0 15px;}



    .entry_title {font-size: 18px;line-height: 23px;margin: 10px 0 20px 0;}
    .con_btn_group {padding:30px 0 30px 20px;display: block;}
    .con_btn_group_list {list-style: none;padding:0;margin:0;width:100%;height:auto;overflow: hidden;clear:both;}
    .con_btn_group_list li {width:50%;float:left;}

    .fd_foot_img {color:#b0b0b0;font-size:18px;line-height: 56px;display:block;padding-top: 10px;padding-left:20px;}

} /* 768px ~ 991px*/

@media (max-width: 767px) {

    .sm_margin_top_10 {margin-top:10px;}
    .sm_margin_top_15 {margin-top:15px;}
    .sm_margin_top_20 {margin-top:20px;}
    .sm_margin_top_25 {margin-top:25px;}
    .sm_margin_top_30 {margin-top:30px;}
    .sm_margin_top_35 {margin-top:35px;}
    .sm_margin_top_40 {margin-top:40px;}

	.fd_topNavMenu {background-color:#ffffff;border-bottom:1px solid #f05a28;height:60px;padding: 0 15px;}
    .main_con_product {padding-top:10px;}
    .entry_title {font-size: 18px;line-height: 23px;margin:10px 0;}
    .con_content_mecha_a {width:235px;margin:0 auto;}
	/*menu bar*/
    #m_fd_nav {margin: 0px !important;}
    #m_fd_nav > ul > li > a > span {line-height: 35px;}
    #m_fd_nav > ul > li {margin: 0 10px 5px 10px;}
    #m_fd_nav > ul > li > a {height:35px;line-height:35px;padding: 0 10px;text-align: left;}
    #m_fd_nav > ul > li > a, #m_fd_nav > ul > li > ul.sub > li {width: 100%;}
    #m_fd_nav > ul > li > ul.sub > li > a {background: transparent !important ;}
    
    .con_board_title {text-align: center;}
    .cont_board_content li {text-align: center;}
    .cont_contact_content {width:100%;}
    .cont_contact_content th, td {text-align:center;}
    .con_btn_group {padding:30px 0;display: block;}
    .entry_excerpt {width:300px;overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;}    

    .parent_modal a {display:block;width:290px;margin:0 auto;}
    .fd_foot_img {color:#b0b0b0;font-size:18px;line-height: 56px;display:block;padding-top: 10px;padding-left:20px;}
    

} /* ~767px */

@media (max-width:640px) {
    .entry_title {margin:0;}
    .entry_excerpt {width:300px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;margin:10px 0;}
    .con_content_mecha_a {width:235px;margin:0 auto;}

} /* ~640px */



@media (max-width:480px) {
    .entry_excerpt {width:180px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;margin:0;}
} /* ~480px */

@media (max-width:320px) {
    .entry_excerpt {width:100px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;margin:0;}
    .parent_modal a {display:block;width:260px;margin:0 auto;}
} /* ~480px */