@charset 'utf-8';


*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
.test {
  background:lightblue;
  padding: 10px;
  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
    & li {
      list-style: decimal;
      margin-left: 20px;
    }
  }

  &:before {
    content: 'list';
  }

  &:after {
    display: block;
    clear: both;
    content: "";
  }

}




.danger {
  @include important-text;
}

.danger2  {
  @extend .danger;
  background-color: black;
}

.danger3  {
  @extend .danger;
  background-color: blue;
}


.test_function {
  margin-left: pow(4, 3) * 1px;
}

.triangle {
  @include triangle(100px, black, down);
}
@include corner-icon("mail", top, left);
*/