@charset "utf-8";
/*!
 * 플로우디자인 (http://www.flowdesign.co.kr)
 */
/*-----------------------------------------------
0. Reset
1. BASIC
2. HEADER
3. MAIN
4. FOOTER
-----------------------------------------------*/

/* 0. Reset */
@import url("./reset.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 1. BASIC */
body {font-family:'Nanum Gothic',맑은 고딕,Malgun Gothic;}
.fd-bg-primary {background-color:#24c6b2;}
.fd-bg-success {background-color:#5cb85c;}
.fd-bg-info {background-color:#5bc0de;}
.fd-bg-warning {background-color:#f0ad4e;}
.fd-bg-danger {background-color:#d9534f;}

.img-responsive {display: block;max-width: 100%;height: auto;}

#wrap {position:relative;}
/* 2. HEADER */
header {width: 275px;height: 100%;position: fixed;left: 0;top: 0;z-index: 10;float: left;}

.lnb-quick {width: 70px;height: 100%;background: #2b323a;z-index: 100;float:left;}
.lnb-quick h1.quick-title {width:70px;height: 95px;background: url("../img/lnb-quick.png") 0 0 no-repeat;text-indent: -9999px;}
.lnb-quick .quick-nav {width:70px;}
.lnb-quick .quick-nav .quick-list li {width:70px;height:76px;text-indent:-9999px;}
.lnb-quick .quick-nav .quick-list li:nth-child(1) {background: url("../img/lnb-quick.png") 0 -95px no-repeat;}
.lnb-quick .quick-nav .quick-list li:nth-child(2) {background: url("../img/lnb-quick.png") 0 -171px no-repeat;}
.lnb-quick .quick-nav .quick-list li:nth-child(3) {background: url("../img/lnb-quick.png") 0 -247px no-repeat;}
.lnb-quick .quick-nav .quick-list li:nth-child(4) {background: url("../img/lnb-quick.png") 0 -323px no-repeat;}
.lnb-quick .quick-nav .quick-list li a {display:block;width:70px;height:76px;}

.lnb {width: 204px;height: 100%;background: #fff;border-right:1px solid #eaecee;z-index: 100;float:left;}
.lnb h1.logo {width:205px;height: 145px;background: url("../img/logo.png")no-repeat;font-size:12px;text-indent: -9999px;}
.lnb .fd-menu {width:204px;}
.lnb .fd-menu .menu-list li.dcjq-parent-li {width:204px;line-height: 45px;border:1px solid #eaecee;border-width:0 0 1px 0;text-align: left;}
.lnb .fd-menu .menu-list li.dcjq-parent-li a.dcjq-parent {display:block;padding: 0 0 0 20px;width:184px;height:45px;font-size:16px;color:#101010;font-weight:bold;}
.lnb .fd-menu .menu-list li.dcjq-parent-li a.dcjq-parent:hover,
.lnb .fd-menu .menu-list li.dcjq-parent-li a.dcjq-parent.active {color:#fff;background-color: #24c6b2;}
.lnb .fd-menu .menu-list li.dcjq-parent-li > ul {width:204px;padding:12px 0;}
.lnb .fd-menu .menu-list li.dcjq-parent-li > ul > li {width:174px;padding-left:30px;line-height:24px;}
.lnb .fd-menu .menu-list li.dcjq-parent-li > ul > li > a {color:#3a3a3a;font-size:12px;font-weight: bold;}
.lnb .fd-menu .menu-list li.dcjq-parent-li > ul > li > a:hover {color:#24c6b2;}

/* 3. MAIN */
.main-content-wrap {position: relative;width:960px;height:960px;margin-left: 275px;overflow: hidden;clear:both;}
.main-content-left {position: relative;width:720px;height:720px;float:left;}
.main-content-right {position: relative;width:240px;height:720px;float:right;}
.main-content-right .reserv-box {position: relative;width:180px;height:180px;padding:30px;background: url("../img/reserv-box.png")no-repeat;}
.main-content-right .reserv-title {text-align: left;position: relative;}
.main-content-right .reserv-title h3 {font-size: 15px;line-height:15px;font-weight:bold;color:#040404;}
.main-content-right .reserv-title a.more {position:absolute;top: 0;right:0;display: inline-block;overflow: hidden;width: 14px;height: 14px;font-size: 12px;background: url(../img/more.png) no-repeat 0 0;text-indent: -9999px;}
.main-content-right .reserv-content {padding-top:20px;font-size:11px;color:#555555;}
.main-content-right a.phone {position:absolute;top: 126px;left:30px;display: inline-block;overflow: hidden;width: 90px;height: 18px;font-size: 12px;background: url("../img/reserv-box-btn.png") no-repeat 0 0;text-indent: -9999px;}
.main-content-right a.online {position:absolute;top: 148px;left:30px;display: inline-block;overflow: hidden;width: 90px;height: 18px;font-size: 12px;background: url("../img/reserv-box-btn.png") no-repeat 0 -22px;text-indent: -9999px;}

.main-content-right .customer-box {position: relative;width:180px;height:420px;padding:30px;background: url("../img/customer-box.png")no-repeat;}
.main-content-right .customer-title {text-align: left;position: relative;}
.main-content-right .customer-title h3 {font-size: 15px;line-height:15px;font-weight:bold;color:#040404;}
.main-content-right .customer-content {padding-top:20px;font-size:11px;color:#555555;}
.main-content-right a.fb {position:absolute;bottom: 92px;left:30px;display: inline-block;overflow: hidden;width: 40px;height: 40px;font-size: 12px;background: url("../img/sns.png") no-repeat 0 0;text-indent: -9999px;}
.main-content-right a.tw {position:absolute;bottom: 92px;left:80px;display: inline-block;overflow: hidden;width: 40px;height: 40px;font-size: 12px;background: url("../img/sns.png") no-repeat -49px 0;text-indent: -9999px;}
.main-content-right a.kt {position:absolute;bottom: 92px;left:130px;display: inline-block;overflow: hidden;width: 40px;height: 40px;font-size: 12px;background: url("../img/sns.png") no-repeat -97px 0;text-indent: -9999px;}

.main-content-latest {position: relative;width:720px;height:240px;clear:both;}
.main-content-latest .latest-box {float:left;width:179px;height:179px;padding:30px 30px 30px 30px;border:1px solid #eaecee;border-width:0 1px 1px 0;}
.main-content-latest .latest-box.bg-f8 {background-color: #f8f8f8;}
.main-content-latest .latest-title {text-align: left;position: relative;}
.main-content-latest .latest-title h3 {font-size: 15px;line-height:15px;font-weight:bold;color:#040404;}
.main-content-latest .latest-title a {position:absolute;top: 0;right:0;display: inline-block;overflow: hidden;width: 14px;height: 14px;font-size: 12px;background: url(../img/more.png) no-repeat 0 0;text-indent: -9999px;}
.main-content-latest .latest-list {padding-top:25px;}
.main-content-latest .latest-list li {position: relative;line-height: 20px;color:#666;font-size:12px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;clear:both;}
.main-content-latest .latest-list li a {color:#666;}


.main-content-bottom {position: relative;width:960px;height:240px;clear:both;}
.main-content-bottom .column-box {float:left;width:179px;height:179px;padding:30px 30px 30px 30px;border:1px solid #eaecee;border-width:0 1px 1px 0;}
.main-content-bottom .column-box.first-bg {background: url("../img/column-box.png") 0 0 #f8f8f8 no-repeat;}
.main-content-bottom .column-box.second-bg {background: url("../img/column-box.png") -240px 0 no-repeat;}
.main-content-bottom .column-box.third-bg {background: url("../img/column-box.png") -480px 0 #f8f8f8 no-repeat;}
.main-content-bottom .column-box.fourth-bg {background: url("../img/column-box.png") -720px 0 no-repeat;}
.main-content-bottom .column-title {text-align: left;position: relative;}
.main-content-bottom .column-title h3 {font-size: 15px;line-height:15px;font-weight:bold;color:#040404;}
.main-content-bottom .column-title a {position:absolute;top: 0;right:0;display: inline-block;overflow: hidden;width: 14px;height: 14px;font-size: 12px;background: url(../img/more.png) no-repeat 0 0;text-indent: -9999px;}
.main-content-bottom .column-content {padding-top:20px;font-size:11px;color:#555555;}

/* 3-1. SUB */
.sub-page-wrap {margin-left: 275px;}

.sub-page {width:860px;min-height:1000px;float:left;padding:30px 50px;}
.sub-page  h4 {color:#030303;font-weight: 700;font-size:28px;padding-top:50px;}
.line_break {display:block;margin:20px 0 0;border-bottom:2px solid #000;}

.sub-page .nav-bread {text-align:left;padding:0;}

.breadcrumbs {margin: 0;padding: 0;list-style: none;line-height:12px;}
.breadcrumbs li {margin: 0;padding: 0;display: inline;margin-left: 0px;font-size: 12px;line-height: 12px;color:#24c6b2;}
.breadcrumbs li a {padding-right: 5px;font-weight: normal;color:#8c8c8c;font-size: 12px;line-height: 12px;}
.breadcrumbs li a img {vertical-align: top;}
.breadcrumbs li:after {content: '▶';color:#8c8c8c;}
.breadcrumbs li:last-child:after {content: '';}

.sub-content-1 {clear:both;padding-top:50px;font-size:28px;color:#040303;font-weight:bold;letter-spacing: -2px;text-transform:uppercase;}
.sub-content-1 span {color:#24c6b2;}
.sub-content-2 {font-size:14px;color:#040404;line-height:18px;}

.table_company {margin-top:40px;}
.table_company > thead > tr > th, 
.table_company > tbody > tr > th, 
.table_company > tfoot > tr > th {
	font-size: 12px;
	color:#fff;
	background-color: #24c6b2;
}
.table_company > thead > tr > td, 
.table_company > tbody > tr > td, 
.table_company > tfoot > tr > td {
	font-size: 12px;
	color:#616161;
	padding-left: 10px;
}
.table_company > thead > tr > th, 
.table_company > tbody > tr > th, 
.table_company > tfoot > tr > th, 
.table_company > thead > tr > td, 
.table_company > tbody > tr > td, 
.table_company > tfoot > tr > td {
line-height: 20px;
}
.table_company > thead > tr > th, 
.table_company > tbody > tr > th.last, 
.table_company > tfoot > tr > th, 
.table_company > thead > tr > td, 
.table_company > tbody > tr > td.last, 
.table_company > tfoot > tr > td {
line-height: 20px;
}
.map-wrap {position: relative;margin-top:36px;margin-bottom:70px;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden;clear:both;}
.map-wrap iframe {position: absolute;top: 0;left: 0;min-width: 100%;height: 100%;}

/* 4. FOOTER */
.mg-left-305 {margin-left:305px;width:960px;}
footer {position:relative;width: 1235px;height:150px;padding-top:22px;clear: both;background:#fff;}
footer h1.logo {float:left;width:190px;height: 83px;color:#5c5c5c;letter-spacing:-1px;text-indent: -9999px;background: url("../img/f-logo.png")no-repeat;}

.gnb-bottom {width:740px;padding:0;float:left;}
.gnb-bottom ul.list {float:left;}
.gnb-bottom ul.list li {line-height: 32px;width:120px;position: relative;float: left;}
.gnb-bottom ul.list li.first {width:65px;}
.gnb-bottom ul.list li.second {width:135px;}
.gnb-bottom ul.list li.third {width:80px;}
.gnb-bottom ul.list li.fourth {width:100px;}
.gnb-bottom ul.list li.last {width:70px;}
.gnb-bottom ul.list li:after {position: absolute;content:'|'; color:#111111; width:30px;text-align:center;top: 0px;right: 0px;}
.gnb-bottom ul.list li.last:after {content:''; width:0;}
.gnb-bottom ul.list li a {color:#111111;font-size:12px;font-weight: bold;}
.gnb-bottom ul.list li a:active, .gnb-bottom ul.list li a:hover {text-decoration:underline;}

.gnb-bottom div.gnb-bottom-sel {float:left;padding-top:8px;}

footer p.top {float:left;width:740px;padding:3px 0 0 0px;text-align:left;font-size:12px;color:#5c5c5c;line-height: 18px;letter-spacing: -1px;font-weight: bold;}
footer p.bottom {float:left;width:740px;padding:3px 0 0 0px;text-align:left;font-size:12px;color:#919191;line-height: 18px;letter-spacing: -1px;font-weight: bold;}