@charset "utf-8";

/*@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans+KR');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');


@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/nanumgothic/NanumGothic-Regular.eot);
  src: url(../fonts/nanumgothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/nanumgothic/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/nanumgothic/NanumGothic-Regular.woff) format('woff')
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/nanumgothic/NanumGothic-Bold.eot);
  src: url(../fonts/nanumgothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/nanumgothic/NanumGothic-Bold.woff2) format('woff2'),
       url(../fonts/nanumgothic/NanumGothic-Bold.woff) format('woff')
}


@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/notosanskr/NotoSansKR-Regular.eot);
   src: url(../fonts/notosanskr/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
   		url(../fonts/notosanskr/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/notosanskr/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/notosanskr/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/notosanskr/NotoSansKR-Bold.eot);
   src: url(../fonts/notosanskr/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),   
  		url(../fonts/notosanskr/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/notosanskr/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/notosanskr/NotoSansKR-Bold.otf) format('opentype');
}
