html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}
ul, ol, li, dl, dt, dd {
    list-style-type: none;
    list-style-position: outside;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    text-decoration: none;
}
img {
    vertical-align: top;
    border: 0;
}
del {
    text-decoration: line-through;
}
hr {
    display: block;
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
em, strong {
    font-weight: bold;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
input, select, textarea {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a {
    color: #fff;
    outline: none;
}
a:link, a:visited {
    color: #fff;
}
a:hover {
    color: #fff;
}
html {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%}
@media (max-height: 700px),  (max-width: 1280px) {
    html {
    overflow: visible;
}
}body {
    position: relative;
    min-width: 1280px;
    min-height: 700px;
    width: 100%;
    height: 100%;
    background: url(../img/common/bg.png);
    background-size: 84px;
    font-family: "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro", "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", "MS PGothic", Roboto, "Droid Sans", sans-serif;
    font-size: 62.5%;
    color: #fff;
    line-height: 1;
    letter-spacing: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%}
#page, #main {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    min-height: 700px;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    min-height: 700px;
}
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -176px;
    text-align: center;
}
#loading .logo {
    margin-bottom: 20px;
}
#loading .bar {
    box-sizing: border-box;
    display: inline-block;
    width: 240px;
    margin-right: 13px;
    height: 30px;
    padding: 7px;
    background: url(../img/common/opening_bar01.png) no-repeat;
}
#loading .bar .p_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%}
#loading .bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 0;
    height: 16px;
    background: url(../img/common/opening_bar02.png) no-repeat;
}
#opening {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%}
#opening .txt {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}
#opening .txt img {
    display: block;
    margin: 15px 0;
}
#opening ._num01 {
    visibility: hidden;
    top: 50%;
    left: 50%;
    left: 150%;
    margin: -150px 0 0 -350px;
}
#opening ._num02 {
    visibility: hidden;
    top: 50%;
    left: 50%;
    left: 150%;
    margin: -135px 0 0 -370px;
}
header h1 {
    z-index: 100;
    position: fixed;
    top: 30px;
    left: 30px;
}
header .btn_lang {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: -4px;
    left: -40px;
    margin-top: -72px;
    cursor: pointer;
}
header .btn_lang:hover {
    left: 0 !important;
}
#attention {
    opacity: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    text-align: left;
    font-size: 1.15em;
    line-height: 1.8;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    display: none;
}
#attention p {
    margin-bottom: 8px;
}
#eu_cookie {
    clear: both;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}
#attention .cookiePolicy {
    width: 250px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background: #999;
    padding: 6px 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 8px;
}
#attention .cookiePolicy:hover {
    background: #b1b1b1;
}
#attention .cookieOK {
    width: 100px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background: #ff6633;
    padding: 6px 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 8px;
}
#attention .cookieOK:hover {
    background: #f1a606;
}
.cf {
    zoom: 1;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cmn_delivery {
    padding: 12px 10px 9px;
    width: 260px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.cmn_delivery .txt {
    margin-top: 7px;
    font-size: 10px;
    line-height: 1.6;
}
.cmn_delivery .btnBounce {
    -webkit-animation: bounceIn01 4s ease-in-out infinite;
    animation: bounceIn01 4s ease-in-out infinite;
}
.cmn_delivery img {
    padding-left: 2px;
}
.cmn_ttl01 {
    margin-bottom: 20px;
}
.cmn_ttl01 .inner {
    position: relative;
    display: inline-block;
}
.cmn_ttl01 .txt01 {
    margin-bottom: 10px;
}
.cmn_ttl01 .ico {
    position: absolute;
    right: -90px;
    bottom: -10px;
    -webkit-animation: bounceIn02 1.8s ease-in-out infinite;
    animation: bounceIn02 1.8s ease-in-out infinite;
}
.cmn_ttl01._type02 {
    margin-bottom: 30px;
    text-align: center;
}
.btnBounce {
    cursor: pointer;
}
.btnBounce:hover {
    -webkit-animation: btnBounce .2s;
    animation: btnBounce .2s;
}
.anime_btnBounce {
    -webkit-animation: bounceIn01 4s ease-in-out infinite;
    animation: bounceIn01 4s ease-in-out infinite;
}
@-webkit-keyframes btnBounce {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
30% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}
100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}@keyframes btnBounce {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
30% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}
100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}@-webkit-keyframes rotate {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}@keyframes rotate {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}@-webkit-keyframes ftrBtnMoreAnime {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
15% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
30% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
45% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}@keyframes ftrBtnMoreAnime {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
15% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
30% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
45% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}@-webkit-keyframes bounceIn01 {
    0% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
5% {
    -webkit-transform: scale3d(0.94,  0.94,  0.94);
    transform: scale3d(0.94,  0.94,  0.94);
}
10% {
    -webkit-transform: scale3d(1.06,  1.06,  1.06);
    transform: scale3d(1.06,  1.06,  1.06);
}
15% {
    -webkit-transform: scale3d(0.97,  0.97,  0.97);
    transform: scale3d(0.97,  0.97,  0.97);
}
20% {
    -webkit-transform: scale3d(1.03,  1.03,  1.03);
    transform: scale3d(1.03,  1.03,  1.03);
}
30% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
100% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
}@keyframes bounceIn01 {
    0% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
5% {
    -webkit-transform: scale3d(0.94,  0.94,  0.94);
    transform: scale3d(0.94,  0.94,  0.94);
}
10% {
    -webkit-transform: scale3d(1.06,  1.06,  1.06);
    transform: scale3d(1.06,  1.06,  1.06);
}
15% {
    -webkit-transform: scale3d(0.97,  0.97,  0.97);
    transform: scale3d(0.97,  0.97,  0.97);
}
20% {
    -webkit-transform: scale3d(1.03,  1.03,  1.03);
    transform: scale3d(1.03,  1.03,  1.03);
}
30% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
100% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
}@-webkit-keyframes bounceIn02 {
    0% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
50% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
60% {
    -webkit-transform: scale3d(0.8,  0.8,  0.8);
    transform: scale3d(0.8,  0.8,  0.8);
}
70% {
    -webkit-transform: scale3d(1.15,  1.15,  1.15);
    transform: scale3d(1.15,  1.15,  1.15);
}
80% {
    -webkit-transform: scale3d(0.95,  0.95,  0.95);
    transform: scale3d(0.95,  0.95,  0.95);
}
90% {
    -webkit-transform: scale3d(1.05,  1.05,  1.05);
    transform: scale3d(1.05,  1.05,  1.05);
}
to {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
}@keyframes bounceIn02 {
    0% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
50% {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
60% {
    -webkit-transform: scale3d(0.8,  0.8,  0.8);
    transform: scale3d(0.8,  0.8,  0.8);
}
70% {
    -webkit-transform: scale3d(1.15,  1.15,  1.15);
    transform: scale3d(1.15,  1.15,  1.15);
}
80% {
    -webkit-transform: scale3d(0.95,  0.95,  0.95);
    transform: scale3d(0.95,  0.95,  0.95);
}
90% {
    -webkit-transform: scale3d(1.05,  1.05,  1.05);
    transform: scale3d(1.05,  1.05,  1.05);
}
to {
    -webkit-transform: scale3d(1,  1,  1);
    transform: scale3d(1,  1,  1);
}
}.u_tl {
    text-align: left;
}
.u_tc {
    text-align: center;
}
.u_tr {
    text-align: right;
}
.u_sup, .u_sub {
    font-size: 8px;
}
.u_sup {
    vertical-align: super;
}
.u_sub {
    vertical-align: baseline;
}
.u_em {
    font-weight: bold;
}
.u_left {
    float: left;
}
.u_right {
    float: right;
}
.u_both {
    float: none;
    clear: both;
}
.u_hidden {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
}
@media all and (orientation: portrait) {
    .u_ls {
    display: none !important;
}
}@media all and (orientation: landscape) {
    .u_pr {
    display: none !important;
}
}.u_is_sd, .u_is_tb, .u_is_sp {
    display: none;
}
@media all and (max-width: 1024px) {
    .u_is_pc {
    display: none;
}
.u_is_sd, .u_is_tb {
    display: block;
}
.u_is_sdimg, .u_is_tbimg {
    display: inline;
}
}@media all and (max-width: 767px) {
    .u_is_tb {
    display: none;
}
.u_is_sp {
    display: block;
}
.u_is_spimg {
    display: inline;
}
}.u_mt0 {
    margin-top: 0 !important;
}
.u_mr0 {
    margin-right: 0 !important;
}
.u_mb0 {
    margin-bottom: 0 !important;
}
.u_ml0 {
    margin-left: 0 !important;
}
.u_pt0 {
    padding-top: 0 !important;
}
.u_pr0 {
    padding-right: 0 !important;
}
.u_pb0 {
    padding-bottom: 0 !important;
}
.u_pl0 {
    padding-left: 0 !important;
}
.u_opacity, .u_all_opacity a {
    -webkit-transition: opacity 0.3s cubic-bezier(0.455,  0.03,  0.515,  0.955);
    transition: opacity 0.3s cubic-bezier(0.455,  0.03,  0.515,  0.955);
}
.u_opacity:hover, .u_all_opacity a:hover {
    opacity: .7;
}
.sec_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 600vw;
    min-width: 7680px;
    height: 100%}
.sec {
    position: relative;
    float: left;
    width: 100vw;
    min-width: 1280px;
    height: 100%;
    margin-right: 600px;
    letter-spacing: -0.4em;
}
.sec:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.sec .sec_inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
}
#sec01 .sec_inner {
    visibility: hidden;
    margin-left: 7.81%;
    width: 420px;
    padding-bottom: 40px;
}
#sec01 h2 {
    position: relative;
    margin-bottom: 20px;
}
#sec01 .box01 {
    margin-bottom: 13px;
}
#sec01 .box01 figure {
    float: left;
    padding-right: 6px;
    opacity: 0;
}
#sec01 .box01 p {
    padding-top: 12px;
}
#sec01 .box01 p span {
    margin-bottom: 9px;
    display: block;
    overflow: hidden;
}
#sec01 .box01 p span img {
    opacity: 0;
}
#sec01 .info {
    letter-spacing: 0;
    text-align: left;
    position: relative;
    bottom: -70px;
}
#sec01 .info .btn {
    position: absolute;
    right: 30px;
    bottom: 20px;
}
#sec01 .info .btn a {
    display: inline-block;
    position: relative;
}
#sec01 .info .copyright {
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-shadow: 0 0 3px #000;
}
#sec02 .sec_inner {
    width: 546px;
    margin-left: 40.15%;
    padding-bottom: 40px;
}
#sec02 .txt_wrap {
    float: right;
    width: 235px;
    padding-left: 40px;
}
#sec02 .list {
    margin-top: 30px;
}
#sec02 .list li {
    margin-bottom: 10px;
}
#sec02 .list a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#sec02 .list .ico {
    position: absolute;
    top: -20px;
    right: -25px;
    -webkit-animation: bounceIn02 1.8s ease-in-out infinite;
    animation: bounceIn02 1.8s ease-in-out infinite;
}
#sec02 .list span {
    line-height: 1.5;
    display: inline-block;
}
#sec02 .view {
    position: relative;
    float: left;
    width: 252px;
    height: 514px;
    background: url(../img/common/bg_iphone.png) no-repeat;
}
#sec02 .view iframe {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#sec02 .view ul {
    overflow: hidden;
    position: absolute;
    top: 62px;
    left: 18px;
    width: 216px;
    height: 386px;
}
#sec02 .view li {
    position: absolute;
    top: 0;
    left: 216px;
    width: 100%;
    height: 100%}
#sec02 .view li:first-child {
    left: 0;
    z-index: 10;
}
#sec03 {
    text-align: center;
}
#sec03 .sec_inner {
    width: 670px;
    padding-left: 320px;
    text-align: left;
}
#sec03 .txt_wrap {
    float: right;
    width: 310px;
    padding-top: 110px;
}
#sec03 .view {
    float: left;
    position: relative;
    overflow: hidden;
    width: 305px;
    height: 540px;
    border-radius: 10px;
}
#sec04 {
    text-align: center;
}
#sec04 .sec_inner {
    width: 960px;
    padding-bottom: 80px;
    text-align: center;
}
#sec04 .list li {
    float: left;
    margin: 0 34px;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%}
#sec04 .list figure img {
    cursor: pointer;
}
#sec04 .list figure img:hover {
    -webkit-animation: btnBounce .2s;
    animation: btnBounce .2s;
}
#sec04 .list .btn {
    margin-top: 20px;
}
#sec06 {
    text-align: center;
}
#sec06 .sec_inner {
    padding-bottom: 65px;
    line-height: 1.7;
}
#sec06 h2 {
    margin-bottom: 12px;
}
#sec06 .txt02 {
    margin: 15px 0 10px;
    font-size: 16px;
}
#sec06 .txt03 {
    font-size: 12px;
}
#sec06 .note {
    margin-top: 15px;
}
#sec06 .price {
    margin-top: 18px;
}
#sec06 .caution {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
#sec06 .caution a {
    color: #fde314;
}
#sec06 .caution a:hover {
    text-decoration: none;
}
#sec06 .cmn_delivery {
    margin: 15px auto;
}
#sec06 .cmn_delivery .btn img {
    -webkit-animation: bounceIn01 4s ease-in-out infinite;
    animation: bounceIn01 4s ease-in-out infinite;
}
#sec06 .cmn_delivery .btn img:hover {
    -webkit-animation: btnBounce .2s;
    animation: btnBounce .2s;
}
#sec06 .info {
    letter-spacing: 0;
    text-align: left;
}
#sec06 .info .btn {
    position: absolute;
    right: 30px;
    bottom: 20px;
}
#sec06 .info .btn a {
    display: inline-block;
    position: relative;
}
#sec06 .info .copyright {
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-shadow: 0 0 3px #000;
}
#sec_ui .btn_prev, #sec_ui .btn_next {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    top: 50%;
    margin-top: -33px;
    cursor: pointer;
}
#sec_ui .btn_prev {
    left: 28px;
}
#sec_ui .btn_next {
    right: 28px;
    right: -66px;
}
#sec_ui .pager {
    position: absolute;
    bottom: 16px;
    bottom: -100px;
    left: 50%;
    width: 333px;
    height: 26px;
    margin-left: -166px;
}
#sec_ui .pager ul {
    position: relative;
    height: 26px;
}
#sec_ui .pager ul.active {
    background: url(../img/common/pager_bg01.png) no-repeat 50% 0;
}
#sec_ui .pager ul:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 0;
    height: 5px;
    background: #000;
    -webkit-transition: width 600ms cubic-bezier(0.165,  0.84,  0.44,  1);
    transition: width 600ms cubic-bezier(0.165,  0.84,  0.44,  1);
}
#sec_ui .pager ul.tween:before {
    width: 330px;
}
#sec_ui .pager li {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    cursor: pointer;
    background: url(../img/common/pager_dot.png) no-repeat 50% 0;
}
#sec_ui .pager img {
    position: absolute;
    top: -22px;
    left: 0;
    margin-left: -9px;
    cursor: pointer;
}
#ppWrap {
    z-index: 401;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: url(../img/common/bg_pp.png);
    background-size: 84px;
}
#ppWrap .wrap {
    color: #000;
    width: 90%;
    max-width: 550px;
    height: 100%;
    margin: 55px auto;
}
#ppWrap .wrap a {
    color: #1B31EB;
}
#ppWrap .wrap h1 {
    color: #8c8c8c;
    text-align: center;
    font-size: 2.0em;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    background-color: #e6e6e6;
    padding: 12px;
    border-radius: 6px;
}
#ppWrap .wrap h3 {
    font-size: 1.6em;
    line-height: 2.0em;
    margin-bottom: 18px;
    text-align: center;
    border-top: 1px solid #999;
    padding-top: 30px;
}
#ppWrap .wrap h4 {
    font-size: 1.5em;
    line-height: 2.0em;
    margin-bottom: 12px;
    text-align: center;
}
#ppWrap .wrap h5 {
    color: #666;
    font-size: 1.4em;
    line-height: 2.0em;
    margin-bottom: 12px;
}
#ppWrap .wrap p {
    text-align: left;
    font-size: 1.25em;
    line-height: 2.0;
    margin-bottom: 30px;
}
#ppWrap .wrap p:last-child {
    padding-bottom: 100px;
}
#ppWrap .wrap .indent {
    text-align: left;
    font-size: 1.25em;
    line-height: 2.0;
    margin-bottom: 30px;
    border: 1px solid #bebebe;
    padding: 12px 20px;
    border-radius: 8px;
}
#ppWrap .wrap ul {
    text-align: left;
    font-size: 1.25em;
    line-height: 2.0;
    margin-bottom: 30px;
}
#ppWrap .wrap li {
    list-style: disc;
    margin-left: 1.25em;
}
#ppWrap .btn_close {
    position: fixed;
    top: 25px;
    top: -50px;
    right: 25px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    padding: 12px;
    background-color: #fdd000;
    border-radius: 50%;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#languageWrap {
    overflow-y: auto;
    z-index: 401;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    letter-spacing: -0.4em;
}
#languageWrap:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
#languageWrap ul {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
}
#languageWrap ul a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 18px 0;
}
#languageWrap ul a:hover {
    color: #fff;
    background-color: #c80002;
}
#languageWrap .btn_close {
    position: fixed;
    top: 25px;
    top: -50px;
    right: 25px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    padding: 12px;
    background-color: #fdd000;
    border-radius: 50%;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#sec04_modal {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    left: -100%;
    width: 100%;
    height: 100%}
#sec04_modal .bg {
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/common/bg.png);
    background-size: 84px;
}
#sec04_modal .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1105px;
    height: 589px;
    margin: -290px 0 0 -550px;
}
#sec04_modal .box_wrap {
    width: 620px;
    padding: 22px 0 0 75px;
}
#sec04_modal .chara {
    position: absolute;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 75%;
    -ms-transform-origin: 0 75%;
    transform-origin: 0 75%}
#sec04_modal #modal_sec02 .chara {
    -webkit-transform-origin: 40% 75%;
    -ms-transform-origin: 40% 75%;
    transform-origin: 40% 75%}
#sec04_modal .slider {
    position: relative;
    float: right;
}
#sec04_modal .slider .list {
    width: 290px;
    height: 516px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}
#sec04_modal .slider .list li {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
#sec04_modal .slider .pager {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    letter-spacing: -.4em;
    text-align: center;
}
#sec04_modal .slider .pager li {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border: 2px solid #fff;
    letter-spacing: 0;
    -webkit-transition: background 0.2s cubic-bezier(0.39,  0.575,  0.565,  1);
    transition: background 0.2s cubic-bezier(0.39,  0.575,  0.565,  1);
    cursor: pointer;
}
#sec04_modal .slider .pager li.active, #sec04_modal .slider .pager li:hover {
    background: #fff;
}
#sec04_modal .txt_box {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%}
#sec04_modal .txt_box .lead {
    margin: 10px 0;
}
#sec04_modal .modal_sec {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    top: 0;
    width: 100%;
    height: 589px;
}
#sec04_modal #modal_sec01 {
    background: url(../img/common/sec04_modal01_bg.png) no-repeat;
}
#sec04_modal #modal_sec01 .chara {
    top: -56px;
    right: -76px;
}
#sec04_modal #modal_sec01 .txt_box {
    padding-top: 95px;
}
#sec04_modal #modal_sec02 {
    display: block;
    background: url(../img/common/sec04_modal02_bg.png) no-repeat;
}
#sec04_modal #modal_sec02 .chara {
    top: 50px;
    left: -50px;
}
#sec04_modal #modal_sec02 .box_wrap {
    width: 660px;
    padding: 22px 0 0 405px;
}
#sec04_modal #modal_sec02 .slider {
    float: left;
    margin-right: 45px;
}
#sec04_modal #modal_sec02 .txt_box {
    padding-top: 90px;
}
#sec04_modal #modal_sec03 {
    background: url(../img/common/sec04_modal01_bg.png) no-repeat;
}
#sec04_modal #modal_sec03 .chara {
    top: 40px;
    right: -8px;
}
#sec04_modal #modal_sec03 .txt_box {
    padding-top: 100px;
}
#sec04_modal #modal_sec03 .txt_box .txt02 {
    padding-top: 10px;
}
#sec04_modal .btnBounce {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: 100;
    position: absolute;
    cursor: pointer;
}
#sec04_modal .btn_prev {
    top: 257px;
    left: -33px;
}
#sec04_modal .btn_next {
    top: 257px;
    right: -28px;
}
#sec04_modal .btn_close {
    top: -33px;
    right: -28px;
}
#price_modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: url(../img/common/bg_mario.png) no-repeat 50% 50% fixed, url(../img/common/bgDetail.png);
    background-size: auto,  84px;
}
#price_modal .bg {
    display: none;
}
#price_modal .inner {
    position: relative;
    width: 570px;
    margin: 0 auto;
    padding: 100px 0;
    font-size: 16px;
}
#price_modal .inner .btn_close {
    margin-top: 40px;
    text-align: center;
}
#price_modal p.lead {
    text-align: right;
    padding-bottom: 13px;
}
#price_modal table {
    width: 100%;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    line-height: 1.7;
}
#price_modal th, #price_modal td {
    padding: 15px;
}
#price_modal thead th {
    white-space: nowrap;
}
#price_modal th {
    text-align: left;
}
#price_modal th.c2, #price_modal th.c3, #price_modal td {
    text-align: center;
    border-left: 1px solid #fff;
}
#price_modal tbody th, #price_modal tbody td {
    border-top: 1px solid #fff;
}
#price_modal ._btn02 {
    position: fixed;
    top: 25px;
    top: -50px;
    right: 25px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    padding: 12px;
    background-color: #fdd000;
    border-radius: 50%;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}