#mail_wrap	{width:100%;margin:0 auto;padding:50px 0;}

@media all and (max-width:1024px){
	#mail_wrap	{width:100%;margin:0 auto;padding:0;}
}

/* 테이블 */
.mail_table	{
	border:0 none; border-collapse:collapse; margin:0;padding:0;
	}
.mail_title	{
	font-weight: 500;
    font-size: 18px;
	height: 50px;
    color: #0B5DB5;
	padding:50px 0 0;
    border-bottom: 3px solid #0B5DB5;
}
.mail_kind	{
	width: 15%;
    height: 45px;
	padding:10px 30px 10px 30px;
	border-bottom: 1px solid #e5e5e5;
	vertical-align: middle;
    font-weight: 500;
	text-align:center;
}

.mail_kind	p {margin:0;}
.mail_input	{
	border-bottom: 1px solid #e5e5e5;
	text-align:left;
	padding:10px 30px 10px 30px;
}

@media all and (max-width:768px){
	.mail_kind	{width: 20%;padding:5px;}
	.mail_input {padding:5px}
}
@media all and (max-width:420px){
	.mail_kind	{width: 25%;}
}
/* input */
.mail_table input {padding: 0 5px;    height: 43px;    line-height: 43px;    border: 1px solid #acacac;    outline: none;    vertical-align: middle;}
.mail_table input, .mail_table textarea, .mail_table select	{
	border:1px #BFBFBF solid;
	}
input[type=checkbox], input[type=radio], input[type=image] {
	border:0; 
	}
.mail_submit	{
	text-align:center;
	padding:10px 0 10px 0;
	}
.mail_submit input[type="submit"]{
	padding: 8px 20px;
	background-color: #0B5DB5;
	color:#fff;
	font-size: 16px;
	border: 1px solid #0B5DB5;
}
/* 글자 */
.mail_help	{
	font-size:14px; color:#898989;
	font-weight:500;
	padding:5px 0 5px 0;
	text-align:right;
	}
.mail_star	{
	margin-left:5px;
	font-size:14px; color:red;
	}

/* 광고필터 */
.mail_checking	{
	padding:5px 10px 5px 10px;
	background:#FBFBFB;
	border-right:1px solid #EFEFEF;
	}
.mail_checking_help	{
	color:#ff3300;
	padding:5px 0 5px 15px;
	}

@media all and (max-width:768px){
	.mail_help	{display:block;text-align:left;font-size: 12px}
}

/* 동의 체크 */
.policyWrap {text-align:center;padding:30px;background:#fff;margin-bottom: 20px;}
.policyTitle {    font-size: 25px;    line-height: 25px;    font-weight: 500;}
.policyBox { background:#ffffff; height:200px; border:solid 1px #dddddd; overflow-y:scroll; padding:20px; margin:25px 0; color:#555; line-height:22px; font-family:"Dotum" ; font-size:12px;text-align:left; }

.policyWrap h2 {font-size: 1.8em;    margin: 0 0 10px;}
#guest_privacy {border:1px solid #ccc;text-align:left;line-height:1.6em;color:#666;background:#fafafa;padding:10px;height:150px;margin:10px 0;overflow-y:auto}


.agreeChkWrap{display:inline-block;position:relative;vertical-align:middle}
.agreeChkWrap label.agreeTxt {position:relative;padding-left:25px;cursor:pointer;z-index:1;margin:0;}
.agreeChkWrap .check {position:absolute;width:20px;height:20px;top:0;left:0;cursor:pointer;background:#fff;z-index:0}
.agreeChkWrap .check:before{content:""}
.agreeChkWrap .check i.far {font-size:20px;line-height:20px;color:#cccccc;}
.agreeChkWrap .check i.fas {font-size:20px;line-height:20px;color:#0068FF;}
.agreeChkWrap input[type="checkbox"] {display:none;}
.agreeChkWrap input[type="checkbox"]:checked + span.check i {border:2px solid #0068FF;}


@media all and (max-width:640px){
	.policyWrap {padding:10px;}
	.policyTitle {    font-size: 15px;    line-height: 15px;}
	.policyBox { padding:10px; margin:8px 0;height:130px;}
	.mail_title	 {font-size: 15px;}
	.mail_title	{padding:0 0 0;}

}


.mailTit {clear:both;overflow:hidden;margin:20px 0 10px 0;}
.mailTit h4 {float:left;font-size:18px;}
.mailTit p {float:right;}
.mailFormWrap {border-top:3px solid #0B5DB5;clear:both;overflow:hidden;}
.mailFormWrap div.inputForm {width:100%;display:table;}
.mailFormWrap div.inputForm .cell.label {width: 15%;padding-left: 30px;font-size:16px;}
.mailFormWrap div.inputForm .cell {display:table-cell;height:45px;padding:0;border-bottom:1px solid #e5e5e5;vertical-align:middle}

.mailFormWrap div.inputForm.half {width:50%;display:table;float:left;}
.mailFormWrap div.inputForm.half .cell.label {width: 30%;padding-left: 10px;font-size:16px;}


.inputTextMail {padding:0 5px;height:25px;line-height:25px;border:1px solid #ddd;outline:none;vertical-align:middle}
.textareaMail {overflow-y:scroll;font-size:14px;width:100%;height:150px;padding:5px 5px 0 5px;border:1px solid #ddd;box-sizing:border-box;-webkit-box-sizing:border-box;resize:none}

input#onSubmitMail {padding: 8px 20px;background-color: #0B5DB5;color:#fff;font-size: 16px;border: 1px solid #0B5DB5;}

@media all and (max-width:1024px){
	.mailFormWrap div.inputForm.half {width:100%;float:none;}
	.mailFormWrap div.inputForm .cell.label {width:30%;font-size: 12px;padding-left: 10px;}

	.mailFormWrap div.inputForm.half .cell.label {font-size:12px;padding-left: 10px;}

}