@charset "utf-8";


.message .img {margin:0 0 30px;text-align: center;}
.message .img img {max-width:100%}
.message > .sub_con {margin-bottom:80px;font-size: 0;line-height: 0;}
.message > .sub_con div.desc {display:inline-block;vertical-align: top;}
.message > .sub_con div.desc p {color:#535353;font-size:1.0rem;font-weight:500;line-height:1.8;word-break: keep-all;margin-bottom:20px;}
.message > .sub_con div.desc p.small {font-size:0.8rem;font-weight:400;}
.message > .sub_con div.desc p.last {text-align:right;}
.message > .sub_con div.desc p.last img {max-width:100%}


@media( max-width:1000px) {

}

.history {overflow: hidden;clear: both;}

.his_tab {margin:30px 0 50px ;padding:0;zoom:1;font-size:0;line-height:0;border-bottom: 1px solid #e3e3e3;}
.his_tab:after {display:block;visibility:hidden;clear:both;content:""}
.his_tab li {width:auto;margin:0;display:inline-block;text-align:center;-webkit-box-sizing: border-box;-khtml-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.his_tab li a {display:block;position:relative;padding:10px;margin-right: -1px;background:#f5f5f5;border:solid #e3e3e3;border-width:1px 1px 0;font-size: 14px;color: #696969;line-height: 1.8;z-index:1;    white-space: nowrap;}
.his_tab li.on a {background:#fff;z-index:2;color:#013e8d;font-weight:bold;}
.his_tab li.on a:after {content:'';position:absolute;bottom:0;left:0;width:100%;height:2px;background: #013e8d}

.cont {padding:0;}
.historyD {width:100%; overflow:hidden;}
.historyD .hisTit {float:left; width:240px; margin-top:10px;text-align: center;}
.historyD .hisTit img {max-width: 100%}
.historyD .hisD {float:left; width:500px; padding:20px 0 0;}
.historyD .hisD li {width:100%;overflow:hidden; padding:13px 0 10px; border-top:1px dotted #9d9d9d}
.historyD .hisD li:first-child{border-top:0;}
.historyD .hisD li .year {float:left;  width:80px; padding:0 0 0 2px; color:#013e8d; font-size:18px; font-weight:bold;}
.historyD .hisD li .hisInfo {float:left;  width:415px; padding:2px 0 0;}
.historyD .hisD li .hisInfo p{margin:15px 0; line-height:165%;}
.historyD .hisD li .hisInfo p:first-child{margin-top:0;}
.historyD .hisD li .hisInfo p strong{width:26px; color:#222 }

@media( max-width:768px) {
	.his_tab {margin:10px 0;border-right: 1px solid #e3e3e3;}
	.his_tab li {}

	.historyD .hisTit {width:30%;}
	.historyD .hisD {width:70%;}
}
@media( max-width:640px) {

	.his_tab li {width:100%;} 
	.historyD .hisTit,
	.historyD .hisD {float:none;width:100%;padding:10px 0 0;}}

	.historyD .hisTit {width: 30%;margin:0 auto;}

	.historyD .hisD li .year {float:none;  width:100%; font-size:1.0rem;}
	.historyD .hisD li .hisInfo {float:none;  width:100%; padding:0 0 0 10px;}
	.historyD .hisD li .hisInfo p {margin:0 0 5px 0;font-size:0.8rem;}
}

.moto {}
.moto h4 {margin:30px 0;font-size:30px;line-height:1.8;color:#343434;font-weight:500;}
.moto .img {margin:0 0 30px;text-align: center;}
.moto .img img {max-width:100%}

@media( max-width:1100px) {
	.moto h4 {    font-size: 1.2rem;text-align: center;}
}

.organization {}
.organization .img {margin:0 0 30px;text-align: center;}
.organization .img img {max-width:100%}

.cert {}
.cert h4 {margin:30px 0;font-size:30px;line-height:1.8;color:#343434;font-weight:500;}
.cert .img {margin:0 0 30px;text-align: center;}
.cert .img img {max-width:100%}

@media( max-width:1100px) {
	.cert h4 {    font-size: 1.2rem;text-align: center;margin:10px 0;}
}

.partner {}
.partner .img {margin:0 0 30px;text-align: center;}
.partner .img img {max-width:100%}






.products {}

.products  .pro_view	{display:block;overflow: hidden; border:1px solid #d9d9d9; background:#f9f9f9; border-top-right-radius:25px; width:373px; float:left; margin:0px 5px 10px 5px;}
.products  .view_left	{float:left; width:162px;}
.products  .view_right	{color:#7e7e7e; width:197px; float:left;    margin-top: 15px; padding-left:1px; box-sizing:border-box;}
.products  .view_right strong	{font-size:15px; color:#1f5ca0; font-weight: bold;}
.products  .view_right	p	{margin-top: 7px; line-height:180%; font-size:11px;    word-break: keep-all;}
.products  .view_right	p span	{margin-top: 20px; line-height:180%; text-align: justify; color:#1c61ae; font-weight:600}
.products  .area		{overflow: hidden;}
.products  .left_area	{width:50%; float:left}
.products  .right_area	{float:left;}
.products  .pro_txt	{margin:0px 0 0 20px; line-height:170%;}
.products  .product_pc	{display:block;}
.products  .product_mobile	{display:none;}

@media( max-width:1000px) {
	.products  .pro_view {width:48%;margin:0 1% 2% 1%;}
}

@media( max-width:790px) {
	.products  .pro_view {float:none;width:373px;margin:0 auto 2%;}
}


@media( max-width:375px) {
	.products  .pro_view {width:100%;}
	.products  .view_left {width:50%;}
	.products  .view_right {width:50%;    margin-top: 10px;}

	.products  .view_right strong {font-size:0.8rem;}
	.products .view_right p {margin-top: 10px;font-size:0.7rem;line-height: 1.2}
}


.bridge {}
.bridge h4 {margin:30px 0;font-size:30px;line-height:1.8;color:#343434;font-weight:500;}
.bridge .img {margin:0 0 30px;text-align: center;}
.bridge .img img {max-width:100%}
.bridge p.desc {font-size:0.9rem;color:#7e7e7e;line-height: 1.5;word-break: keep-all;}

@media( max-width:1100px) {
	.bridge h4 {    font-size: 1.2rem;text-align: center;margin:10px 0;}
}


.location {}
.location .img {margin:0 0 30px;text-align: center;}
.location .img img {max-width:100%}

.location .Engineering_list			{clear:both; padding:20px 0 20px 30px; border:1px solid #e0e0e0; margin-bottom:10px; background-color:#f9f9f9; border-top-right-radius:20px;}
.location .Engineering_list	ul {font-size: 0;line-height: 0}
.location .Engineering_list	ul li	{width:50%; display:inline-block; font-size:0.8rem;color:#7e7e7e;line-height: 1.8;margin-bottom:5px;}

@media( max-width:420px) {
	.location .Engineering_list	ul li {width:100%;}

}


.status {}
.status h4 {margin:30px 0;font-size:30px;line-height:1.8;color:#343434;font-weight:500;}
.status .img {margin:0 0 30px;text-align: center;}
.status .img img {max-width:100%}

@media( max-width:1100px) {
	.status h4 {    font-size: 1.2rem;text-align: center;margin:10px 0;}
}

.status_tab {margin:30px 0 50px ;padding:0;zoom:1;font-size:0;line-height:0;border-bottom: 1px solid #e3e3e3;}
.status_tab:after {display:block;visibility:hidden;clear:both;content:""}
.status_tab li {width:20%;margin:0;display:inline-block;text-align:center;-webkit-box-sizing: border-box;-khtml-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.status_tab li a {display:block;position:relative;padding:10px 0;margin-right: -1px;background:#f5f5f5;border:solid #e3e3e3;border-width:1px 1px 0;font-size: 14px;color: #696969;line-height: 1.8;z-index:1;    white-space: nowrap;}
.status_tab li.on a {background:#fff;z-index:2;color:#013e8d;font-weight:bold;}
.status_tab li.on a:after {content:'';position:absolute;bottom:0;left:0;width:100%;height:2px;background: #013e8d}


@media( max-width:768px) {
	.status_tab {margin:10px 0;border-right: 1px solid #e3e3e3;}
	.status_tab li {width:50%;}
	.status_tab li a {font-size: 12px}
}

.ex_tab {margin:30px 0 50px ;padding:0;zoom:1;font-size:0;line-height:0;border-bottom: 1px solid #e3e3e3;}
.ex_tab:after {display:block;visibility:hidden;clear:both;content:""}
.ex_tab li {width:40%;margin:0;display:inline-block;text-align:center;-webkit-box-sizing: border-box;-khtml-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.ex_tab li a {display:block;position:relative;padding:10px 0;margin-right: -1px;background:#f5f5f5;border:solid #e3e3e3;border-width:1px 1px 0;font-size: 14px;color: #696969;line-height: 1.8;z-index:1;    white-space: nowrap;}
.ex_tab li.on a {background:#fff;z-index:2;color:#013e8d;font-weight:bold;}
.ex_tab li.on a:after {content:'';position:absolute;bottom:0;left:0;width:100%;height:2px;background: #013e8d}

@media( max-width:768px) {
	.ex_tab {margin:10px 0;border-right: 1px solid #e3e3e3;}
	.ex_tab li {width:100%;}
	.ex_tab li a {font-size: 12px}
}

.exhibition {}
.exhibition .img {margin:0 0 30px;text-align: center;}
.exhibition .img img {max-width:100%}
.exhibition .Engineering_list			{clear:both; padding:20px 0 20px 30px; border:1px solid #e0e0e0; margin-bottom:10px; background-color:#f9f9f9; border-top-right-radius:20px;}
.exhibition .Engineering_list	ul {font-size: 0;line-height: 0}
.exhibition .Engineering_list	ul li	{width:50%; display:inline-block; font-size:0.8rem;color:#7e7e7e;line-height: 1.8;margin-bottom:5px;}

@media( max-width:420px) {
	.exhibition .Engineering_list	ul li {width:100%;}

}