@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans+KR);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


/* 전체적용 */
body {font-family:'Noto Sans KR', 'Nanum Gothic', 'Open Sans', 'Malgun Gothic', 'dotum',Arial,Verdana,AppleGothic,sans-serif;color:#222;min-width:320px;background: #fff;}
body.layer-open {overflow: hidden;}
ul,li,dl,dt,dd{padding:0;margin:0}
ul{list-style:none;}

.bg_primary {background-color:#163f8c;}
.bg_sub {}
.img-responsive {display: block;max-width: 100%;height: auto;}
.ir-pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen-hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.tran-animate {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.fd-transition {-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.fd-transition-2 {-webkit-transition: all .9s ease;-moz-transition: all .9s ease;-o-transition: all .9s ease;-ms-transition: all .9s ease;transition: all .9s ease;}



/* 
** opacity 
*/
.opacity_0	{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity: 0;filter: alpha(opacity=0);zoom:1;}
.opacity_10 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";opacity: 0.1;filter: alpha(opacity=10);zoom:1;}
.opacity_15 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";opacity: 0.15;filter: alpha(opacity=15);zoom:1;}
.opacity_20 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity: 0.2;filter: alpha(opacity=20);zoom:1;}
.opacity_25 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";opacity: 0.25;filter: alpha(opacity=25);zoom:1;}
.opacity_30 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity: 0.3;filter: alpha(opacity=30);zoom:1;}
.opacity_35 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";opacity: 0.35;filter: alpha(opacity=35);zoom:1;}
.opacity_40 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity: 0.4;filter: alpha(opacity=40);zoom:1;}
.opacity_45 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";opacity: 0.45;filter: alpha(opacity=45);zoom:1;}
.opacity_50 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.5;filter: alpha(opacity=50);zoom:1;}
.opacity_55 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";opacity: 0.55;filter: alpha(opacity=55);zoom:1;}
.opacity_60 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity: 0.6;filter: alpha(opacity=60);zoom:1;}
.opacity_65 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity: 0.65;filter: alpha(opacity=65);zoom:1;}
.opacity_70 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity: 0.7;filter: alpha(opacity=70);zoom:1;}
.opacity_75 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";opacity: 0.75;filter: alpha(opacity=75);zoom:1;}
.opacity_80 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: 0.8;filter: alpha(opacity=80);zoom:1;}
.opacity_85 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";opacity: 0.85;filter: alpha(opacity=85);zoom:1;}
.opacity_90 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.opacity_95 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";opacity: 0.95;filter: alpha(opacity=95);zoom:1;}

/* 
** button  
*/
/*.btn {
	display: inline-block;
	position:relative;
	margin: 0;
	padding: 0;
	border:0 none; 
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: transparent;
	outline: 0;
	vertical-align: middle;
	font-size: 16px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	text-align:center;
	height:33px;
	line-height:33px;
} 

.btn.full {display:block;}
.btn.inline {display:inline-block;width:154px;}

.btn:focus,
.btn:hover {color: #ffffff;background:#0058B8;}
.btn:active,
.btn.active {color: #ffffff;background:#0058B8;}

.btn.basic {background: #ffffff;border:2px solid #a0c53d;height:31px;line-height:31px;}
.btn.secondary {background: transparent;border:2px solid #ffffff;height:31px;line-height:31px;}         
*/

.k_wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container {position:relative;width:1200px;min-width:1200px;margin:0;padding:0;clear:both;}
.k_container:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container.type_center {margin:0 auto;}

.k_container14 {position:relative;width:1400px;min-width:1400px;margin:0;padding:0;clear:both;}
.k_container14:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container14.type_center {margin:0 auto;}


.scrollOpacity {opacity:0;transition:opacity 1s;}
.scrollOpacity.active {opacity:1;}

.pc_only {display: block;}
.mobile_only {display: none}



#wrap {height:auto;background:transparent;}



/*top*/
header {position: absolute; width: 100%;min-width: 1400px;top: 0;left: 0;z-index: 900;background: transparent;height: 126px}
header.bg {background: #fff;}
/*header.sub.bg {position: relative; width: 100%;background-image: url("../img/sub_vg.jpg"); background-repeat: no-repeat; background-position: center; height: 441px;}
header.bg {position: relative; width: 100%;height: 936px;}*/
header.m-fixed {top: 0;position: fixed;    z-index: 9999;background: #fff;}
.header_wrap { z-index: 9999;}
.header_wrap:after {content:'';position: absolute;bottom: 0;left:0;right:0;background: #fff;height:1px;}

header.bg .header_wrap {}
.header_wrap div.logo {position: absolute; top:0;left:0;width:237px;height:91px;background-image: url("../img/logo.png"); background-repeat: no-repeat;background-position: center;}
.header_wrap h1 {margin:0}
.header_wrap h1 a {    display: block;    height: 91px;}

.menu_aid {background: url("../img/bg_fff_20.png") repeat-x bottom;}
.etc_menu {position: relative;width: 100%;text-align: right;font-size: 0;line-height: 0;}
.etc_menu li {display: inline-block;margin-right: 25px;position: relative;}
.etc_menu li:after {content: '';position: absolute;top:50%;right:-12px;margin-top:-5px;width:1px;height:10px;background: #fff;}
.etc_menu li:last-child {margin-right: 0;}
.etc_menu li:last-child:after {right:-9999px;}
.etc_menu li a {font-family:'Malgun Gothic';font-size:14px;line-height: 2.5;color:#fff;text-transform: uppercase;}
.etc_menu li a.us {background: url("../img/us.jpg") no-repeat left center;padding-left:25px;}
header.bg .etc_menu li a,
header.m-fixed .etc_menu li a {color:#898989;}
/* lang_bg */
#lang_bg{position :fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);left: 0px;top : 0px;z-index: 999;display: none;}
.lang_wrap{width: 1400px;margin: 0 auto;position : relative;}
.lang_nemo{width: 140px;background-color: #fff;border-radius: 5px;top: 95px;position: absolute;right: -25px;}
.lang_nemo:before {content:'▲';position: absolute;top:-17px;left:50%;color:#fff;margin-left:-8px;}
.lang_nemo a{position : relative;padding: 5px 30px;font-size: 16px;color: #666;display: block;text-align: left;}
.lang_nemo a span{content : "";display: none;position : absolute;width: 30px;height: 1px; right: 30px;background-color: #d41814;top : 16px;}
.lang_active {color : #d41814 !important;}
.lang_active span{display: block !important;}

.header_inner {clear: both;position: absolute; top:0;right:170px; height: 100%;display: block;text-align: right}

.header_wrap .lang {position: absolute; top:0;right:0;text-align: center;vertical-align: middle;line-height: 91px;}
.header_wrap .lang a {position:relative;display: inline-block;width:100px;line-height:13px;padding:8px 0;border:1px solid #fff;border-radius:15px;color:#fff;}
.header_wrap .lang a i {color:#fff;font-size: 13px;}
.header_wrap .lang a:hover i {color: #fff;}
.header_wrap .shop {position: absolute; top:32px;right:0;text-align: center;vertical-align: middle;height: 91px;}
.header_wrap .shop a.cp {position:relative;display: inline-block;line-height:13px;padding:8px 50px 8px 20px;background:#132752;color:#fff !important;}


.header_wrap .shop a.cp span.sub_drop {position:absolute;top:50%;right:10px;margin-top:-3px;width:8px;height:6px;}
.header_wrap .shop a.cp span.sub_drop.bg {background: url(../img/sub_drop.png) no-repeat;background-position: center;}
.header_wrap .shop li.slideShop.active a.cp span.sub_drop {-ms-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);transform: rotate(-180deg);}

.header_wrap .shop ul.shop2nd {font-size: 0;line-height: 0;display: none}
.header_wrap .shop ul.shop2nd li {text-align: left;background:#132752;padding: 0 0 0 20px;}
.header_wrap .shop ul.shop2nd li:first-child {padding-top:10px;}
.header_wrap .shop ul.shop2nd li:last-child {padding-bottom:10px;}
.header_wrap .shop ul.shop2nd li a {color:#fff;font-size: 13px;line-height: 1.8;}
.header_wrap .shop ul.shop2nd li a:hover {color:#f29824;}

#gnbnav {}
#gnbnav ul.gnb_list {font-size:0;line-height: 0;}
#gnbnav ul.gnb_list > li {display: inline-block;width:170px;position: relative;text-align: center}
#gnbnav ul.gnb_list > li > a {display:block;color: #fff; font-size: 18px;line-height: 91px;position: relative;font-weight: 400;}
#gnbnav ul.gnb_list > li > a > span.menuTxt {position: relative;display:inline-block;}
/*#gnbnav ul.gnb_list > li > a:before {content:'';position: absolute;top:50%;left:0;margin-top:-8px;width:1px;height: 17px;background: #fff;opacity: 0.4}
#gnbnav ul.gnb_list > li:last-child > a:after {content:'';position: absolute;top:50%;right:0;margin-top:-8px;width:1px;height: 17px;background: #fff;opacity: 0.4}*/

#gnbnav ul.gnb_list > li > a.on,
#gnbnav ul.gnb_list > li:hover > a {color: #454545;background: transparent;}

#gnbnav ul.gnb_list > li > a .line {position: absolute;display: block;bottom: 0;height: 4px;width: 0%;background: #de6503;left: 50%;}
#gnbnav ul.gnb_list > li > a.on .line,
#gnbnav ul.gnb_list > li:hover > a .line {width: 100% !important;left: 0 !important;}


.header_wrap.active {}
.header_wrap.active:after {content:'';position: absolute;bottom: 0;left:0;right:0;background: #77b142;height:1px;}

.header_wrap.active div.logo {background-image: url(../img/logo_on.png);}
.header_wrap.active h1 a {}


.header_wrap.active #gnbnav ul.gnb_list > li > a {color: #4c4c4c;}
.header_wrap.active #gnbnav ul.gnb_list > li > a.on,
.header_wrap.active #gnbnav ul.gnb_list > li > a:hover {color: #4c4c4c;}

#gnbnav ul.subNavi {position: absolute;left:0;width:100%;padding: 30px 0;overflow:hidden;z-index:100;display:none;}
#gnbnav ul.subNavi.on {background: transparent;}
/*#gnbnav ul.subNavi:before {position:absolute;content:'';width:1px;height:100%;top:0;left:0;background: url(../images/bg_header_line.png)}
#gnbnav ul.gnb_list > li:last-child ul.subNavi:after {position:absolute;content:'';width:1px;height:100%;top:0;right:0;background: url(../images/bg_header_line.png)}*/

#gnbnav ul.subNavi li {width: 100%; display: block;}
#gnbnav ul.subNavi li a {color:#454545; font-size: 16px;padding:0;line-height:40px;display: block; text-align:center;font-weight: 400;}
#gnbnav ul.subNavi li a:hover {color:#de6503;}


.subMenuBg {position:absolute;left:0;top:126px;width:100%;padding: 30px 0;z-index:99;display:none;background-image: url("../img/bg_fff_70.png");}



/*모바일메뉴*/
#m_menu {display: none; position: absolute; top: 0; right: 10px; width: 35px;}
.m_menu_h {position: fixed; top: 0; right: 0; z-index: 99999; width: 210px; height: 100%;overflow-y: auto;}
.nav-top {border-bottom: 1px solid #77b142;background: #fff;}
.btn-x {text-align: right; padding: 0  10px;}
.btn-x i {color:#454545;line-height: 57px}
.m-nav > li {border-bottom: 1px solid #77b142; padding:0;}
.m-nav > li.mmli_up {}
.m-nav > li > a {color: #454545; font-size: 16px; font-weight: bold;display:block;line-height:57px;padding-left:20px; position:relative; }
.m-nav > li > a.on {background: #77b142;color: #ffffff;}
.m-nav > li > a i {position: absolute;top:50%;right:10px;margin-top:-8px;}

.sub_menu {margin-top: 0;display: none;background:#fff;opacity: 0.7;}
.sub_menu > li {}
.sub_menu > li > a {font-size:14px;color: #77b142;display:block;line-height: 35px;padding-left:20px; }
.sub_menu > li > a:hover {color:#ffffff;text-decoration: none;background:#6298db;}
.m_lang {padding: 0 20px; margin-top: 40px;}
.m_lang ul {overflow: hidden; width: 100%; border: 1px solid #77b142;}
.m_lang ul li {width: 50%; float: left; text-align: center; }
.m_lang ul li a {background: #fff;color:#454545; font-size: 14px; padding: 12px 0; display: block; width: 100%; }
.m_lang ul li a.on  {background: #77b142;color:#fff; }


.m_menu_h p {color: #77b142; font-size: 13px; letter-spacing: 0; padding-left: 20px; margin-top: 20px;}
.dim {position: fixed; width: 100%; max-width: 996px; height: 100%; background: #000; opacity: 0.5; top: 0;z-index: 999;}
.m_menu_bg {position: fixed; width: 100%; width: 210px; height: 100%; background: #fff; top: 0;right: 0;z-index: 1000;}
.m_menu_wrap {position: fixed; display: none; top: 0; left: 0; right: 0; max-width: 996px; width: 100%; height: 100%; margin: 0 auto; z-index: 9999; overflow-y: auto;}      




body{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
body.on-side {margin-left: -308px;}
#sideToggleWrap {position: fixed;overflow-y: auto;top: 0;right: -308px;width: 308px;padding: 21px 17px;height: 100%;display: block;background-color: #323232;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
z-index: 9;
}
#sideToggleWrap.on{right: 0;}
#sideToggleWrap .close-sideToggle {float: right;color: #fff;position: relative;z-index: 2;font-size: 16px;}
#sideToggleWrap .widget {position: relative;z-index: 1;clear:both;}

#sideToggleWrap .widget .logocopy {margin:65px 0 30px; }
#sideToggleWrap .widget p.logo_desc {font-family:'Nanum Barun Gothic', sans-serif;color: #fff;margin:0 0 50px 0;font-size: 18px;letter-spacing: -1px;}
#sideToggleWrap .widget p.tel_text {font-family:'Nanum Barun Gothic', sans-serif;color: #fff;margin:0 0 50px 0;font-size: 30px;letter-spacing: -1px;}

#sideToggleWrap .widget div.sns_btnLink {margin-bottom: 45px;overflow: hidden;}
#sideToggleWrap .widget div.sns_btnLink ul {padding: 0;margin: 0;clear:both;}
#sideToggleWrap .widget div.sns_btnLink ul li {float:left;margin-right:15px;}
#sideToggleWrap .widget div.sns_btnLink ul li:last-child {margin-right: 0;}
#sideToggleWrap .widget div.sns_btnLink ul li a {display:table-cell;vertical-align: middle;width:50px;height:50px;border:1px solid #bdbdbe;border-radius:10px;text-align: center;line-height: 1;}
#sideToggleWrap .widget div.sns_btnLink ul li a.location {display: block;width:127px;height:35px;line-height: 33px;}
#sideToggleWrap .widget div.sns_btnLink ul li a span {color:#bdbdbe;font-size:14px;}


/* 서브 상단 */
.sub_vg { position : relative;width: 100%;height:440px; background:url(../img/sub_vg.jpg) no-repeat; background-position: center; background-size: cover;  }
div#vg_con {width:1400px;height:100%;margin: 0 auto; text-align:center; position : relative;}
div#vg_con h2 {position:relative;padding:207px 0 0 0;text-align: right;color: #fff;font-size: 48px; margin:0 0 0 0;font-weight: 400;text-transform: uppercase;}
div#vg_con h2 small {font-weight: 400;display: block;margin-bottom: 10px;color:#fff;font-size:25px;}
.sub_vg_title2 {position: absolute;left:0;bottom:40px;}
.sub_vg_title2 h3 {text-align: left;font-size:65px;color:#fefefe;font-weight: 400;line-height: 1.1;text-transform: uppercase;}


#tabMiddleWrap {display: block;}


.ssnav{max-width: 960px; margin: 0 auto; text-align: center;}
.ssnav ul{overflow: hidden;}
.ssnav ul li{float: left; position: relative;}
.ssnav ul li::before{position: absolute; top: 15px; right: 0; content: ""; display: block; width: 1px; height: 30px; background: #ccc}
.ssnav ul li:last-child::before{display: none !important}
.ssnav ul li a{display: table; font-size: 17px; width: 100%; height:59px; border-bottom: 3px solid transparent}
.ssnav ul li a span{display: table-cell; vertical-align: middle; padding: 0 10px}
.ssnav ul li a:hover span {color:#fc702b;}
.ssnav ul li a.active{font-weight: 600; border-bottom: 3px solid #fc702b; font-size: 17px}
.montserrat.ssnav ul li a span{font-weight: 500}
.montserrat.ssnav ul li a.active span{font-weight: 600}

#tabMiddlePage {display: none;}
div.vg_sub_area2 {display: none;width: 100%;}
div.vg_sub_area2.sub {margin-top:0;}
.sub_tab2 {display:block;width:100%;height: 49px;    white-space: nowrap; text-align: left; clear: both;margin:0;}
.sub_tab2 li.tab_list { display:inline-block;height:49px;white-space: nowrap;position:relative;margin:0;padding:0 35px 0 0;}
.sub_tab2 li.tab_list:last-child {padding:0;}
.sub_tab2 li.tab_list > a {font-size:14px;line-height:49px;letter-spacing:-1px;display:inline;position:relative;color:#ffffff;}
.sub_tab2 li.tab_list > a:after {content: ''; position: absolute;top:3px;right:-22px;width:1px;height:10px;background:#aec2dc;}
.sub_tab2 li.tab_list:last-child > a:after {width:0;height:0;}
.sub_tab2 li.tab_list > a.selected,
.sub_tab2 li.tab_list > a:hover {color:#00e4ff;}


div.vg_sub_area {position: absolute;top: -35px;display: none;}
.sub_tab {    width: 100%;overflow: hidden; table-layout: fixed;margin:0;  border-collapse: collapse;  display: table;}
.sub_tab li.tab_list { display: table-cell;position:relative;margin:0;border: solid #dddddd;border-width:1px;vertical-align: middle; line-height: 68px  }
.sub_tab li.tab_list > a {font-size:18px;letter-spacing:-1px;display:inline-block;    width: 100%;text-align:center;position:relative;color:#898989;background: #f5f5f5}
.sub_tab li.tab_list > a.selected {background:#cb4c2c;color:#ffffff;}




.sub_depth_1, .sub_depth_2 {display:none;}





.text-center img {max-width: 100%;height: auto;}

/* footer */

#footer {width:100%; min-width:1400px;background:#132752;font-family: 'Nanum Gothic', 'dotum', sans-serif}
.copyright_wrap {width:1400px;position:relative;margin:0 auto;clear:both;overflow: hidden; padding:40px 0; }

.goTop {position: absolute;top:0;right:0;background: #bababa;}
.goTop a {display: block;width:40px;height:40px;text-align: center;}
.goTop a i {color:#fff;line-height: 40px;font-size:1.0em;}

.copy_logo	{margin-bottom: 45px;}
.copy_logo img {vertical-align: middle;    max-width: 100%;    max-height: 100%;}

.copy_inner {width:470px;float:left;}
.copy_inner div.copy_addr {margin-bottom: 40px;}
.copy_inner div.copy_addr p {color:#fff;font-size:20px;margin:0;letter-spacing: -1px;}
.copy_inner div.copy_addr p small {font-size:16px;}

div.basicInfo {text-align: left;}
div.basicInfo p {color:#fff;font-size: 14px;line-height:1.5;margin:0;}
div.basicInfo p.copy_txt {font-size: 14px;margin-top:15px;}

.basicInfo.pc {display: block;}
.basicInfo.mobile {display: none;}

.copy_inner div.copy_location {padding-left:10px;}
.copy_inner div.copy_location ul  {clear: both;width:100%;font-size:0;line-height:0;}
.copy_inner div.copy_location ul  li {display:inline-block;width:95px;margin-right:13px;text-align:center;}
.copy_inner div.copy_location ul  li  a {display:block;color:#757575;font-size: 14px;line-height: 30px;border:1px solid #999;}
.copy_inner div.copy_location ul  li  a:hover {color:#fff;background: #4e4e4e;border:1px solid #4e4e4e;}

.copy_menu {width:930px;float:left;}
.copy_menu .sitemap_tit {float:left;width:20%;}
.copy_menu .sitemap_tit h4 {font-size:1.8rem;letter-spacing: -1px;color:#fff;font-family: 'Noto Sans KR', 'Nanum Gothic', 'dotum', sans-serif}
/* 사이트맵 */
.sitemap	{
	width:20%;
	display:inline-block;
	float:left;
	margin:0;
	}
.sitemap_cate	{padding:10px 0 40px 0;}
.sitemap_cate_text	{color:#fff; font-size:15px; font-weight:bold;position: relative;}
.sitemap_cate_text:after {content:'';position: absolute;bottom:-10px;left:0;width:100%;height: 2px;background: #b7babc;}
.sitemap_text ul li	{padding:0;margin:0;}
.sitemap_text ul li a {font-size:15px;color:#fff;line-height: 1.8}
.sitemap_text ul li a:hover{color:#de6503;}


/* 사이트맵 */
	.sitemap2	{
		width:170px;
		float:left;
		display:inline;
		margin:0 0 70px 20px;
		}
	.sitemap_cate2	{
		border-top:1px #999 solid;
		border-bottom:1px #666 solid;
		text-align:center;
		padding:13px 0 10px 0;
		background:#fafafa;
		}
	.sitemap_cate_text2	{
		color:#006fbc; font-size:14px; font-weight:bold;
		}
	.sitemap_text2 ul	{
		margin:0;
		list-style-type:none;
		padding:0;
		}
	.sitemap_text2 ul li	{
		padding:12px 0 8px 0;
		border-bottom:1px #ddd solid;
		}
	.sitemap_text2 ul li div	{
		padding:0 0 0 10px;
		}
	.sitemap_text2 ul li div a, .sitemap_text2 ul li div a:link, .sitemap_text2 ul li div a:visited 	{
		}
	.sitemap_text2 ul li div a:hover, .sitemap_text2 ul li div a:active 	{
		color:blue;
		}


.copy_by {padding:25px 0;text-align: center;clear: both;background: #fff;}
.copy_by p.copyright {color:#bebdbd;font-size:13px;margin:0;}
a.copy_link {color:#bebdbd;font-size:0.8rem;position: absolute;bottom: 40px;right: 0}
a.copy_link small {font-style: italic}





/* */
#main_container{
	width: 100%;
	padding:0;
	margin:0 auto 0px auto;
	position:relative;
	top: 0px;
	z-index:0;
	overflow: hidden;
}



/* 비쥬얼그래픽 */
.main_con {margin-top: 873px;background: #fff}
.vg_inner {width:100%;min-width:1400px;height:873px;position: fixed;z-index: -1;top:0;}
.vg_title {width:1400px;position: absolute;top:35%;left:50%;margin-top:0;margin-left:-700px;z-index: 555;}

.vg_title h2 {color:#ffffff;margin:0;text-align:left;line-height: 76px;font-weight: 500;text-transform: uppercase;}
.vg_title h2 div {font-weight: 400;font-size:72px;}
.vg_title h2 div.topTxt {font-weight: 300;font-size:35px;}
.vg_title p {font-size:14px;color:#ffffff;line-height: 28px;text-align:left;margin:10px 0 0;opacity: 0}

.vg_tit_box {margin:0;height:80px;overflow: hidden;text-align: left;}
.vg_title h2 span,
.vg_title p span {opacity: 0;}

.vg_link {position: relative;width: 200px;height:44px;z-index: 500;margin-top:40px;opacity: 0}
.vg_link a {display: block;text-align: center;border:1px solid #fff;background: transparent;}
.vg_link a span {font-size:0.9rem;line-height: 44px;color:#fff;font-family:'Nanum Gothic', 'dotum', sans-serif;}
.vg_link a:hover {background: #fff;border:1px solid #132752;}
.vg_link a:hover span {color:#132752;}

.vg_down {position: absolute;bottom: 140px;left: 50%;margin-left: -70px;width: 140px;height:33px;z-index: 500}
.vg_down a {display: block;cursor: default;}
.vg_down a span {color:#fff;font-weight: 500;letter-spacing: -1px;display: inline-block;position: relative;    padding-left: 10px;}
.vg_down a span:after {content: '>';position: absolute;right:-20px;top:2px;transform: rotate(90deg);}

.upDownAni { animation: upDownAnimation .4s ease-in-out infinite alternate}
@-webkit-keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}
@-moz-keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}
@-o-keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}
@keyframes upDownAnimation {
    from { transform:translateY(0)}
    to { transform:translateY(5px)}
}


/* */
div#vg_wrap_sub	{background:url(../img/main_vg.jpg) no-repeat 50% 0; text-align:center; clear:both;position: relative;}
div#vg_sub	{height:287px; width:1200px;margin: 0 auto; text-align:left;}



.subNavWrap {position: relative;	width: 100%;	min-width:1200px;background-color: #006cda;height:62px; display: block}
.subNavWrap div.subNavInner {position:relative;width: 1200px;margin: 0 auto;}
.subNavWrap .btn_home {display:block;float:left;border-left:1px solid #4d98e5;border-right:1px solid #4d98e5;width:62px;height:62px;background: url(../img/sub_home.png) no-repeat center;}

.subNav1st {display:block;float:left;zoom:1;font-size:14px;list-style:none;    margin-left: -1px;}
.subNav1st:after {display:block;clear:both;content:''}
.subNav1st > .navi_dp1 {float:left;position:relative;padding:0;height:62px;border-right:1px solid #4d98e5;}
.subNav1st > .navi_dp1 h2,
.subNav1st > .navi_dp1 h3 {margin:0;line-height:62px;}
.subNav1st > .navi_dp1 a.dp1 {position:relative;display:block;padding:0 60px 0 30px;text-decoration:none;font-size:17px;line-height:62px;color:#fff;    min-width: 254px;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop {position:absolute;top:50%;right:30px;margin-top:-5px;width:14px;height:9px;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop.bg {background: url(../img/sub_drop.png) no-repeat;background-position: center;}

/*.subNav1st > .navi_dp1:hover > ul.subNav2nd {display:block;}*/

.subNav2nd {list-style:none;display:none;position:relative;    background-color: #006cda;z-index:10;}
.subNav2nd > .navi_dp2 {display: table;width: 100%;}
.subNav2nd > .navi_dp2:first-child {padding-top:10px;}
.subNav2nd > .navi_dp2:last-child {padding-bottom:10px;}
.subNav2nd > .navi_dp2 > a {display:table-cell;padding:3px 30px;text-decoration:none;border:solid #4d98e5;border-width:0;font-size:17px;color:#fff;vertical-align: middle;}
.subNav2nd > .navi_dp2 > a:hover, 
.subNav2nd > .navi_dp2 > a:active, 
.subNav2nd > .navi_dp2 > a:focus,
.subNav2nd > .navi_dp2.active > a {color:#000;}
.subNav2nd > .navi_dp2:last-child > a {border-width:0;}




#m_breadcrumbs_wrap {display: none}

#subPage {padding: 50px 10px 100px 10px;}



/* 타이틀영역 */
.title_wrap {overflow:hidden;padding-bottom: 60px;}
.title_wrap h2.title {font-size:32px;    line-height: 50px;color: #3b3b3b;display: inline-block;margin: 0;font-weight:400;}
.sub_vg_title{position : relative;width: 100%;margin:20px 0;padding:0 0 20px 0;text-align: center;clear:both;border-bottom:1px solid #d0d0d0;}


.sub_arrow{font-size:32px;display: inline-block;    line-height: 50px;color:#dc060e}
.sub_left_arrow{float: left;height:100%;}
.sub_right_arrow{float: right;height:100%;}
.sub_vg_title_line{width: 100%;height: 1px;background: #d8d8d8;display:block;position : relative;}

.parallax-init-pc {transform: translate3d(0, 100px, 0);transition: transform 3.6s cubic-bezier(0.165, 0.84, 0.44, 1);}
.parallax-init-pc.add-stage {transform: translate3d(0, 0, 0) scale(1) rotate(0) !important;}


.parallax-init-opcity {opacity: 0;-webkit-transform: translateY(100%);transform: translateY(100%);-webkit-transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) , opacity 1s;}
.parallax-init-opcity.add-stage {opacity: 1;-webkit-transform: translateY(0);transform: translateY(0);}

#product_section {background:url(../img/bg_production.jpg) no-repeat top center;height:760px;    }


.row_product {width:100%;top:-135px;position: absolute;z-index: 500;}
.row_product ul {font-size:0;line-height:0;margin:0;padding:0}
.row_product ul:after {clear: both;display: block;content: "";}
.row_product ul.grid2.mg0 {margin:0;}
.row_product ul.grid2.mg0 > li {display: inline-block;vertical-align: top;width:50%;height: 580px;}

.row_product ul > li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;padding:75px 60px;color:#fff;}
.row_product ul > li:first-child {background: #0a388c}
.row_product ul > li:last-child {background: #77b142}

.row_product ul > li > h4 {font-weight: 500;font-size:2.6rem;line-height: 1;margin-bottom: 50px;}
.row_product ul > li > p {font-family:'Nanum Gothic', 'dotum', sans-serif;font-size:1.0rem;line-height: 1.8;word-break: keep-all;}
.row_product ul > li > div.p-image {text-align: center;}


.row_product ul > li > div.p-image > div.a-box {width:125px;margin-top:30px;margin: 0 auto;}
.row_product ul > li > div.p-image > div.a-box a {position:relative;display:block;line-height:35px;background:#fff;border:1px solid #707070;border-radius: 50px;padding:0 25px;}
.row_product ul > li > div.p-image > div.a-box a span {color:#2e2e2e;font-size:15px;display: block;}
.row_product ul > li > div.p-image > div.a-box a span.arr {display: inline-block;width:20px;color:#777777;font-size:8px;text-align:center;position: absolute;top:0;right:8px;}

.row_product ul > li:last-child > div.p-image {padding:44px 0 0;}
.row_product ul > li:last-child > div.p-image > div.a-box {padding:44px 0 0;}

.row_product ul > li:first-child div.a-box a:hover {background:#0a388c;border:1px solid #0a388c;}
.row_product ul > li:first-child div.a-box a:hover span {color:#fff;}
.row_product ul > li:first-child div.a-box a:hover span.arr {color:#fff;}
.row_product ul > li:last-child div.a-box a:hover {background:#77b142;border:1px solid #77b142;}
.row_product ul > li:last-child div.a-box a:hover span {color:#fff;}
.row_product ul > li:last-child div.a-box a:hover span.arr {color:#fff;}


#about_section {background: fixed url(../img/bg_about_section.jpg) no-repeat;background-size: cover;background-position: bottom center;position: relative;padding:130px 0; }
.entryWrapTr {float:left;width:50%;height:400px;}
.entryWrapTr div.concon {padding:0 0 0 48px;}
.entryWrapTr div.concon span {color:#fff;}
.entryWrapTr div.concon h4 {position:relative;font-weight: 500;font-size:3.0rem;margin:0;padding:0;color:#fff;text-transform: uppercase;}
.entryWrapTr div.concon p {margin:30px 0;padding:0;color:#fff;word-break: keep-all;}
.entryWrapTr div.a-box {text-align: left;}
div.thumb2 {float:left;width:50%;height:400px;}
div.thumb2 img {max-width: 100%}


.sub_link_btn {
	display: inline-block;
	position:relative;
	margin: 0;
	padding: 0 8px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	outline: 0;
	vertical-align: middle;
	font-size: 12px;
	text-decoration: none;
	white-space: nowrap;
	overflow:hidden;
	cursor: pointer;
	width:130px;
	height:35px;
	line-height:35px;
	text-align:center;
	border:1px solid #fff;
	background: transparent;
}
.sub_link_btn span {font-size:14px;color:#777777;}
.sub_link_btn:hover {background: #132752;border:1px solid #132752;}
.sub_link_btn:hover span {color:#fff;}

#mainEffect3 {background: #fff;}

div.customerInner {position: relative;clear:both;width:100%;overflow: hidden;background:#fff;z-index:999;padding:130px 0;}
div.customerInner h2.title {color:#3a3a3a;font-size:3.0rem;margin:0 0 100px 0;text-align: center;font-weight: 400;text-transform: uppercase;}
div.customerInner h2.title small {font-size:1.0rem;display: block;color:#7e7d7d;}

div.customerInner div.customer_center {position:relative;padding:0 0 0 33px;width:33%;float:left;opacity: 0;}
div.customerInner div.customer_center:last-child {margin-right:0;}
div.customerInner div.customer_center div.thumb {overflow: hidden;text-align: center;}
div.customerInner div.customer_center div.thumb img {max-width: 100%}
div.customerInner div.customer_center div.thumb img.cus {-webkit-transform: scale(1);-webkit-transition: 2s;}
div.customerInner div.customer_center div.thumb img.cus:hover {-webkit-transform: scale(1.1)}
div.customerInner div.customer_center div.log {overflow: hidden;text-align: center;padding:10px 0 0;border:solid #b8b8b8;border-width:0 1px;}
div.customerInner div.customer_center div.log img {max-width: 100%}
div.customerInner div.customer_center ul.content {padding:10px 0 40px;border:solid #b8b8b8;border-width:0 1px 1px;}
div.customerInner div.customer_center ul.content li {position:relative;color:#626262;width:100%;line-height: 1.5;padding:0 40px;font-size:15px;}
div.customerInner div.customer_center ul.content li:before {content: '';position: absolute;top:50%;left:26px;width:5px;height:5px;margin-top:-2px;background: #2c4ea0;}
div.customerInner div.customer_center div.a-box {width:38px;height:38px;position: absolute;bottom: 0;right:0;border:solid #b8b8b8;border-width:1px 0 0 1px;}
div.customerInner div.customer_center div.a-box a {display: block;font-size:25px;line-height: 38px;color:#b70100;text-align: center;}


div.videoBg {position :fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);left: 0px;top : 0;z-index: 10001;display: none;}
div.videoInner {position:absolute;width:800px;height:664px;padding:10px;top:50%;left:50%;margin:-332px 0 0 -400px;background: #77b142}
div.videoInner iframe {border:none; width:100%; height:100%;margin:0px; padding:0px;}
div.videoInner div.videoClose {position:absolute;width:53px;height:53px;top:0;right:0;z-index: 1000;background: #77b142;}
div.videoInner div.videoClose a.closeBtn {display: block;line-height: 53px;text-align: center;font-size:32px;color:#ffffff;}

div.customerInner div.moreView {position:absolute;bottom:100px;left:50%;display:block;width:208px;height:45px;margin-left:-104px;}
div.customerInner div.moreView a {display:block;color:#9a9a9a;border:1px solid #9a9a9a;line-height:45px;text-align:center;}
div.customerInner div.moreView a:hover {color:#fff;border:1px solid #0a388c;background:#0a388c;}


#ban_section {background: url(../img/bg_ban_section.jpg) no-repeat 50% 50% fixed;background-size:cover;}

.loc_desc {padding:200px 0 0;text-align: center;}

.loc_desc p {color:#fff;margin:0;line-height: 1.5;position: relative;}
.loc_desc p.de01 {font-size:1.3rem;font-family:'Malgun Gothic', dotum, sans-serif;}
.loc_desc p.de01:before {content: '';position: absolute;top:-70px;left:50%;margin-top:0;margin-left:-25px;width:50px;height:1px;background: #fff;}
.loc_desc p.de02 {font-size:3.0rem;margin:10px 0;}
.loc_desc p.de03 {font-size:1.3rem;font-family:'Malgun Gothic', dotum, sans-serif;}
.loc_desc div.de04 {font-size:2.3rem;color:#fff;padding:0 15px;display: inline-block;background: #77b142;margin:45px 0 80px 0;}
.loc_desc div.ksc {text-align: center;}
.loc_desc div.ksc img {max-width: 100%;}

.loc_desc h3 {font-size:30px;margin-bottom: 30px;color:#fff;position: relative;display: inline;padding-top:100px;}
.loc_desc h3:before {content: '';position: absolute;top:0;left:50%;margin-top:0;margin-left:-25px;width:50px;height:1px;background: #fff;}

.loc_desc div.more_view {clear:both;margin:50px 0;}
.loc_desc div.more_view a.btnMore {
	display: inline-block;
	padding: 5px 50px;
	border: 1px solid #fff;
	position:relative;
	margin: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: url(../img/bg_fff_20.png);
	vertical-align: middle;
	text-decoration: none;
	white-space: nowrap;
	text-align:center;
	font-size: 16px;
	color:#fff;
} 
.loc_desc div.more_view a.btnMore:hover {border:1px solid #0a388c;background: #0a388c}



div.inner_wrap {position:relative;background: url(../img/bg_green_80.png);font-family:'Malgun Gothic', dotum, sans-serif;}
div.inner_wrap div.inner_title {position: relative;width:460px;float:left;}
div.inner_wrap div.inner_title h4 {position:relative;margin:0;padding:50px 0 0;font-size:3.0rem;font-weight: 400;color:#ffffff;letter-spacing: -1px;line-height: 1;text-transform: uppercase;}
div.inner_wrap div.inner_title h4:after {content: '';position: absolute;bottom:-40px;left:0;width:70px;height:2px;background: #fff;}
div.inner_wrap div.inner_content {position:relative;width:740px;float:left;font-size:0;line-height: 0;padding:80px 0;}
div.inner_wrap div.inner_content h4 div.title_line {background: #d8261a;width:70px;height:5px;position: absolute;top:0;left:0;}

div.inner_wrap div.inner_content div.frm-box  {display: inline-block;width:277px;margin-right:40px;vertical-align: top;}
div.inner_wrap div.inner_content div.frm-box2 {display: inline-block;width:105px;vertical-align: top;}

div.inner_wrap div.inner_content div.input {border:1px solid #ffffff;color: #fff;padding:10px 15px;margin: 0;box-sizing: border-box;}
div.inner_wrap div.inner_content div.input:first-child {margin-bottom: 15px;}
div.inner_wrap div.inner_content div.input label.laTxt {margin:0;width:25%;font-size:13px;display:inline-block;}
div.inner_wrap div.inner_content div.input div.raBox {display: inline-block;text-align: center;width: 80%;}
div.inner_wrap div.inner_content div.input div.raBox label.laRadio {font-size: 13px;line-height: 1}
div.inner_wrap div.inner_content div.input div.raBox label.laRadio input[type=radio] {vertical-align: middle;}
div.inner_wrap div.inner_content div.input input[type=text] {width:70%;height:18px;padding:0;margin:0;border:0 none;color:#ffffff;background:transparent;display: inline-block;border-radius: 2px;font-size:13px;}
div.inner_wrap div.inner_content div.input input[type=text]::-webkit-input-placeholder,
div.inner_wrap div.inner_content div.input input[type=text]:-ms-input-placeholder,
div.inner_wrap div.inner_content div.input input[type=text]::-ms-input-placeholder {color:#fff;}
div.inner_wrap div.inner_content div.submit {}
div.inner_wrap div.inner_content div.submit input[type=submit] {width: 100%;border:1px solid #ffffff;height:95px;line-height:95px;background: transparent;font-size:15px;color: white;padding:0;margin:0;cursor: pointer;}
div.inner_wrap div.inner_content div.submit input[type=submit]:hover {background:#236305;border:1px solid #236305;}


#map_section {line-height: 0;font-size: 0;padding:130px 0;}
.map_area {width:50%;display: inline-block;vertical-align: top;}
.root_daum_roughmap {height: 350px;width:100% !important;border:1px solid #4a8327;}

.map_info {width:50%;display: inline-block;vertical-align: top;font-size:1.0rem;line-height: 1.8;padding-left: 100px;}
.map_info h3 {color:#2e2e2e;font-size:2.5rem;letter-spacing: -1px;font-family:'Malgun Gothic', dotum, sans-serif;font-weight: normal;line-height: 1;margin-bottom: 65px;text-transform: uppercase;}
.map_info table.companyInfo th, 
.map_info table.companyInfo td {text-align:left;font-size: 1.0rem;line-height: 2.5;color:#535353;font-weight: normal;letter-spacing: -1px;}
.map_info table.companyInfo th {width: 20%;font-weight: bold;font-size: 1.1rem;text-transform: uppercase;}

.map_info div.map_view {position: absolute;bottom: 0;}
.map_info div.map_view a.btnMore {
	display: inline-block;
	padding: 5px 50px;
	border: 1px solid #636363;
	position:relative;
	margin: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: transparent;
	vertical-align: middle;
	text-decoration: none;
	white-space: nowrap;
	text-align:center;
	font-size: 15px;
	color:#636363;
} 
.map_info div.map_view a.btnMore:hover {border:1px solid #0a388c;background: #0a388c;color:#fff;}


.msg_effect {opacity: 0;}
