@charset 'UTF-8';
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

/*  Add Custom CSS here.  */
#sec06 .s06_ct .w760 ul li:last-child{margin-bottom:0;}
.ffM{
	font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'Nanum Gothic', 'dotum', sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝","Sawarabi Mincho", serif;*/
}







div#footer-fixed 
{ 
    position:fixed;            /* フッターの固定 */ 
    bottom: 0px;                /* 位置(下0px) */ 
    left: 0px;                  /* 位置(左0px) */ 
    width: 100%;                /* 横幅100%　*/ 
    height:9vw;              /* 縦の高さ140px */ 
    padding-top: 1vw;
    background-color:rgba(0,0,0,0.4);
}
 
div#pagetop img {;} 
div#footer-bk 
{ 
        
        padding:0px;       /* 上10px、下20pxをあける */ 
        height:18vw;              /* 縦の高さ140px */ 
        width:100%;                /* 横の幅を100% */ 
} 
  
div#footer { 
        height: auto;              /* 縦の表示領域はheader-bkと同じ */ 
        width: 100%;              /* 横の幅970px */ 
        margin: auto;              /* 中央揃え */ 
    color: #fff; 
    text-align: center; 
} 

div#footer img { width: 35%;} 

.page-menu-thumb iframe {
	margin-bottom: 0px;
	width:100%;
	height:50vw;
}
    

section.main_banner .inner .img {margin-right: 0;}

section.main_banner .inner .p1 {
	margin-top: 0;
}
section.main_banner .inner .p2 {font-size:53px}

.txtIntro .p2 {margin-top:0;}

.txt01A_PC p {width:810px;}

#sec03 .point_s03 .inner ul li .left .title {font-size:20px;}
.txtPico02 strong {font-weight: normal;}

section.slide01 .main_img .col2 .txt1 img,  .txtPico02 img  {width:158px;}

@media (max-width: 768px){
	.wrap15_02 {}
	.wrap15_02 em {font-size: 20px;font-style: normal;}
	.wrap15_02 span {color: #dd1159;font-size: 20px;font-style: italic; margin-left: 10px;}
	.wrap15_02 span em {font-style: normal;}

	.txt01A_PC p {width:100%;}
	.txtPico01 span, .txtPico08 span {font-size:40px;}

	#sec03 .point_s03 .inner ul li .left .title {font-size:14px;}


}


@media (max-width: 360px){
	section.main_banner .inner .p1 {
	    font-size: 14px;
	}
	section.main_banner .inner .p1 strong{
		letter-spacing: -0.5px;
		white-space: nowrap;
		padding: 0 18px
	}
}

section.slide01 {
	border: 1px solid #dddddd;
}
section.slide0101 {
	border: 0;
	border-bottom: 1px solid #dddddd;
	background: none;
	padding-top: 0;
}

section.slide01 .main_img {
	margin: 20px auto 0;
}

section.slide01 .main_img .col1, section.slide01 .main_img .col2, section.slide01 .main_img .col3 {
	display:inline-block;
	vertical-align:middle;
	float:none;
}

section.slide01 .main_img .col3 {
	vertical-align:bottom;
	margin-bottom:60px;
}

@media only screen and (max-width: 767px) {
	.txtSp02 p {
		width:100%;
	}

	.txtSp02 p br {
		display:none;
	}
	.txtSp02 p:first-child {
		display:none;
	}
}

.txtNote {
	text-align: center;
	margin: 0 0 30px 0;
	font-size: 18px;
	color: #dd1159;
	position: relative;
	margin-top: -15px;
}
@media (max-width:767px){
	.txtNote {
		font-size: 16px;
		margin-top: 10px;
	}
}
.form_ct .quantity{
	position: relative;
}
.txtNoteNone{
	font-size: 18px;
    width: 249px;
    border: 1px solid #bbb;
    position: absolute;
    padding: 13px;
    border-radius: 3px;
    background: #fff;
    z-index: 2;
    color: red;
    display: none;
}
@media (max-width:767px){
	.txtNoteNone{
		font-size: 14px;
	    width: 180px;
	    padding: 8px;
	}
}

section.slide01 .main_img .col3 p {
	border: 2px solid #EB709B;
    position: relative;
    left: -85px;
}
section.slide01 .main_img .p1 {
	/*text-align: left;
	padding-left: 75px;*/
}
section.slide0101 .main_img a {
	margin: 30px auto 0;
}
section.slide01 .main_img a {
	padding: 24px 0;
}

.insta li img {
	width: 100%;
	height: auto;
}
.insta li img:hover {
	opacity: 0.7;
}

@media only screen and (max-width: 767px) {
	.promotionBox .p1 {
		padding: 20px 0;
		text-align: center;
		font-feature-settings:"palt";
		-moz-font-feature-settings:"palt";
		-webkit-font-feature-settings:"palt";
	}
}


/* Media */
.ct_video_new .index_movie_page{
	max-width: 600px;
	margin: 0 auto 55px;
	font-size: 18px;
	text-align: center;
	
}
.ct_video_new .list_media{
	margin: 0 -19px 90px;
}
.ct_video_new .list_media li{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 0 19px;
	font-size: 16px;
	font-feature-settings:"palt";
	-moz-font-feature-settings:"palt";
	-webkit-font-feature-settings:"palt";
}

@media only screen and (max-width: 767px) {
	.ct_video_new .index_movie_page{
		margin: 0 auto 35px;
		font-size: 14px;
		
	}
	.ct_video_new .list_media{
		margin: 0 -11px 40px;
	}
	.ct_video_new .list_media li{
		width: 50%;
		padding: 0 11px;
		font-size: 13px;
		margin-bottom: 33px;
	}
    
    
    
    
    

div#footer-fixed 
{ 
    position:fixed;            /* フッターの固定 */ 
    bottom: 0px;                /* 位置(下0px) */ 
    left: 0px;                  /* 位置(左0px) */ 
    width: 100%;                /* 横幅100%　*/ 
    height:21vw;              /* 縦の高さ140px */ 
    background-color:transparent;
}
 
div#pagetop img {;} 
div#footer-bk 
{ 
        
        padding:0px;       /* 上10px、下20pxをあける */ 
        height:18vw;              /* 縦の高さ140px */ 
        width:100%;                /* 横の幅を100% */ 
} 
  
div#footer { 
        height: auto;              /* 縦の表示領域はheader-bkと同じ */ 
        width: 100%;              /* 横の幅970px */ 
        margin: auto;              /* 中央揃え */ 
    color: #fff; 
    text-align: center; 
} 

div#footer img { width: 100%;} 

.page-menu-thumb iframe {
	margin-bottom: 0px;
	width:100%;
	height:50vw;
}
    
    
    
    
    
    
    
    
}







