@charset "utf-8";

@import url("./reset.css");
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

/* 전체적용 */
body {font-family:'Nanum Gothic', 'Noto Sans KR', 'Nanum Barun Gothic', sans-serif;}





/* 비쥬얼그래픽 */
.vg_wrap {position: relative;min-width:1000px;margin:0 auto;height:513px;padding:0;}
.vg_inner {width:100%;height:100%;position: relative;clear:both;background: url(../images/vg.png); background-repeat: no-repeat;background-position: top center;background-size: cover;}
.vg_title {width:1000px;position: absolute;top:50%;left:50%;margin-top:-104px;margin-left:-500px;z-index: 999999;font-size:33px;color:#ffffff;font-family:"notosans";letter-spacing: -2px;}
.vg_title strong {font-size:50px;font-weight: bold;}

div.business_wrap {width:100%;height:233px;overflow:hidden;position: relative;margin:38px auto 31px;}
div.business_inner {position: relative;clear:both;width:100%;margin:0;padding:0;overflow: hidden;}
div.business_inner div.business {width:317px;float:left;margin-right:24px;}
div.business_inner div.business.last {margin-right:0;}

div.business_inner div.business div.inner {height:233px;}
div.business_inner div.business div.inner.company {background: url(../images/bg1.png); background-repeat: no-repeat;}
div.business_inner div.business div.inner.customer {background: url(../images/bg2.png); background-repeat: no-repeat;}
div.business_inner div.business div.inner a.banner {display: block;height: 100%;position: relative;}
div.business_inner div.business div.inner a.banner div.bar {width:26px;height:3px;background: #ffffff;position:absolute;top:36%;left:50%;margin:0 0 0 -13px;}
div.business_inner div.business div.inner a.banner h3.title {font-size:32px;color:#ffffff;width:100%;height:32px;line-height: 32px;text-align:center;position:absolute;top:50%;margin:-16px 0 0;}
div.business_inner div.business div.inner a.banner p.content {font-size:20px;color:#ffffff;width:100%;text-align:center;position:absolute;top:60%;}

div.business_inner div.business div.inner a.ico {width:142px;height:110px;display:block;float:left;margin-right:15px;}
div.business_inner div.business div.inner a.ico.last {margin-right:0;} 
div.business_inner div.business div.inner a.ico.bottom {margin-top:15px;} 

div.business_inner div.business div.inner a.ico.first {background: #84939a;}
div.business_inner div.business div.inner a.ico.second {background: #369be3;}
div.business_inner div.business div.inner a.ico.third {background: #42758a;}
div.business_inner div.business div.inner a.ico.fourth {background: #19c4d8;}
div.business_inner div.business div.inner a.ico div.thumb {line-height:1;margin:0;width:100%;overflow:hidden;padding:15px 0 10px 0;}
div.business_inner div.business div.inner a.ico div.thumb img {display: block;margin:0 auto;}
div.business_inner div.business div.inner a.ico h3.title {margin:00;padding:0;color:#fefefe;font-size:16px;line-height:1;text-align:center;letter-spacing:-1px;font-weight: bold;}
