@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);


/* 초기화 */
body {margin:0;padding:0;font-family:'Noto Sans KR', 'Open Sans', 'Nanum Barun Gothic', 'Nanum Gothic', 'dotum', sans-serif;color:#222;min-width:320px;background: #fff;}
a, a:hover {text-decoration: none;}
.bg_primary {background-color:#163f8c;}
.bg_sub {}
.img-responsive {display: block;max-width: 100%;height: auto;}
.ir-pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen-hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.tran-animate {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.fd-transition {-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.fd-transition-2 {-webkit-transition: all .9s ease;-moz-transition: all .9s ease;-o-transition: all .9s ease;-ms-transition: all .9s ease;transition: all .9s ease;}




/* 
** opacity 
*/
.opacity_0	{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity: 0;filter: alpha(opacity=0);zoom:1;}
.opacity_10 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";opacity: 0.1;filter: alpha(opacity=10);zoom:1;}
.opacity_15 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";opacity: 0.15;filter: alpha(opacity=15);zoom:1;}
.opacity_20 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity: 0.2;filter: alpha(opacity=20);zoom:1;}
.opacity_25 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";opacity: 0.25;filter: alpha(opacity=25);zoom:1;}
.opacity_30 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity: 0.3;filter: alpha(opacity=30);zoom:1;}
.opacity_35 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";opacity: 0.35;filter: alpha(opacity=35);zoom:1;}
.opacity_40 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity: 0.4;filter: alpha(opacity=40);zoom:1;}
.opacity_45 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";opacity: 0.45;filter: alpha(opacity=45);zoom:1;}
.opacity_50 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.5;filter: alpha(opacity=50);zoom:1;}
.opacity_55 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";opacity: 0.55;filter: alpha(opacity=55);zoom:1;}
.opacity_60 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity: 0.6;filter: alpha(opacity=60);zoom:1;}
.opacity_65 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity: 0.65;filter: alpha(opacity=65);zoom:1;}
.opacity_70 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity: 0.7;filter: alpha(opacity=70);zoom:1;}
.opacity_75 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";opacity: 0.75;filter: alpha(opacity=75);zoom:1;}
.opacity_80 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: 0.8;filter: alpha(opacity=80);zoom:1;}
.opacity_85 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";opacity: 0.85;filter: alpha(opacity=85);zoom:1;}
.opacity_90 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.opacity_95 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";opacity: 0.95;filter: alpha(opacity=95);zoom:1;}

.k_wrap {display:block;width:100%;clear:both;position: relative;}
.k_wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container {position:relative;width:1200px;min-width:1200px;margin:0;padding:0;clear:both;}
.k_container:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.k_container.type_center {margin:0 auto;}


.scrollOpacity {opacity:0;transition:opacity 1s;}
.scrollOpacity.active {opacity:1;}

.pc_only {display: block;}
.mobile_only {display: none}



#wrap {height:auto;background:transparent;}



#m_menu {display: none; position: absolute; top: 0; right: 10px; width: 35px; height: 87px;}
/*top*/
header {position: relative; width: 100%;min-width: 1200px;z-index: 900;}
header.bg {zoom:1;}
/*header.sub.bg {position: relative; width: 100%;background-image: url("../img/sub_vg.jpg"); background-repeat: no-repeat; background-position: center; height: 441px;}
header.bg {position: relative; width: 100%;height: 936px;}*/
header.m-fixed {top: 0;position: fixed;    z-index: 9999;}
.header_wrap {width: 100%;  z-index: 9999;}
.headerBox {position: relative;width:1200px;margin:0 auto;    height: 102px;}
.header_wrap div.logo {position: absolute; top:0;left:0;width:283px;height:102px;background-image: url("../img/logo.png"); background-repeat: no-repeat;background-position: center;}
.header_wrap h1 {margin:0}
.header_wrap h1 a {    display: block;    height: 102px;}

.menu_aid {background: #fff;border-bottom: 1px solid #ddd;}
.etc_menu {position: relative;width: 100%;height:45px;line-height:0;font-size:0;text-align: right;}
.etc_menu a {font-size:13px;line-height:45px;color:#767676;font-weight: 300;text-transform: uppercase;display: inline-block;padding:0 5px;}
.etc_menu a i {line-height:45px;}
.etc_menu a.etc_en {background: #b3b3b3;color:#fff;padding:0 13px;}
.etc_menu a.etc_mail {background: #0069d2;color:#fff;padding:0 13px;}



/* lang_bg */
#lang_bg{position :fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);left: 0px;top : 0px;z-index: 999;display: none;}
.lang_wrap{width: 1200px;margin: 0 auto;position : relative;}
.lang_nemo{width: 121px;background-color: #fff;border-radius: 5px;top: 121px;position: absolute;right: -30px;}
.lang_nemo:before {content:'▲';position: absolute;top:-16px;left:50%;color:#fff;margin-left:-8px;}
.lang_nemo a{position : relative;padding: 5px 0;font-size: 16px;color: #666;display: block;text-align: center;}
.lang_nemo a span{content : "";display: none;position : absolute;width: 30px;height: 1px; right: 30px;background-color: #d41814;top : 16px;}
.lang_active {color : #d41814 !important;}
.lang_active span{display: block !important;}


.header_inner {clear: both;position: absolute; top:0;right:0;display: block;text-align: right}

.header_wrap .lang {position: absolute; top:50%;right:0;width:64px;height:23px;margin-top:-11px;border:1px solid #fff;text-align: center;border-radius: 10px;}
.header_wrap .lang a {position:relative;display: block;font-size: 13px;line-height: 20px;color:#fff;}


#gnbnav {}
#gnbnav ul.gnb_list {margin-right:0;}
#gnbnav ul.gnb_list > li {display: inline-block;position: relative;text-align: center;padding:0;width:170px;}
#gnbnav ul.gnb_list > li > a {display:block;color: #585858; font-size: 18px;line-height: 102px;position: relative;}
/*#gnbnav ul.gnb_list > li > a:before {content:'';position: absolute;top:50%;left:0;margin-top:-8px;width:1px;height: 17px;background: #fff;opacity: 0.4}
#gnbnav ul.gnb_list > li:last-child > a:after {content:'';position: absolute;top:50%;right:0;margin-top:-8px;width:1px;height: 17px;background: #fff;opacity: 0.4}*/


#gnbnav ul.gnb_list > li > a.on,
#gnbnav ul.gnb_list > li > a:hover {color: #0069d2;}

#gnbnav ul.gnb_list > li > a .line {position: absolute;display: block;bottom: 0;height: 3px;width: 0%;background: #0069d2;left: 50%;}
#gnbnav ul.gnb_list > li > a.on .line,
#gnbnav ul.gnb_list > li > a:hover > a .line {width: 100% !important;left: 0px !important;}


.header_wrap.active {background: url(../img/bg_header_line_on.png);height:71px;}

.header_wrap.active div.logo {height:71px;}
.header_wrap.active h1 a {height:71px;}
.header_wrap.active .lang a {line-height: 71px;}

.header_wrap.active #gnbnav ul.gnb_list > li > a {color: #ffffff;line-height: 71px;}
.header_wrap.active #gnbnav ul.gnb_list > li > a.on,
.header_wrap.active #gnbnav ul.gnb_list > li > a:hover {color: #0069d2;}

#gnbnav ul.subNavi {position: absolute;left:0;width:100%;padding: 0;z-index:100;display: none}
#gnbnav ul.subNavi:after {content: '';position: absolute;top: 30px;bottom:30px;right:0;background: #f5f5f5;width:1px;}
#gnbnav ul.subNavi li {width: 100%; display: block;}
#gnbnav ul.subNavi li a {color:#909090; font-size: 14px;padding:5px 0;display: block; text-align:center;}
#gnbnav ul.subNavi li a:hover {color:#0069d2;}
#gnbnav ul.subNavi li:first-child {padding-top:20px;}
#gnbnav ul.subNavi li:last-child {padding-bottom:20px;}
#gnbnav ul.subNavi.on {background: #fff;display:block;}

.subMenuBg {position:absolute;left:0;top:148px;width:100%;height:348px;background: #fff;padding: 30px 0;z-index:99;display:none; }     
.subMenuBg:before {content:'';position: absolute;top:0;width:100%;height:1px;background: #b2b2b2;}


/*모바일메뉴*/
.m_menu_h {position: fixed; top: 0; right: 0; z-index: 99999; width: 310px; height: 100%;overflow-y: auto;}
.nav-top {border-bottom: 1px solid #d01c25;background: #fff;}
.btn-x {text-align: right; padding: 0  10px;}
.btn-x i {color:#454545;line-height: 57px}
.m-nav > li {border-bottom: 1px solid #d01c25; padding:0;}
.m-nav > li.mmli_up {}
.m-nav > li > a {color: #454545; font-size: 16px; font-weight: bold;display:block;line-height:57px;padding-left:20px; position:relative; }
.m-nav > li > a.on {background: #d01c25;color: #ffffff;}
.m-nav > li > a i {position: absolute;top:50%;right:10px;margin-top:-8px;}

.sub_menu {margin-top: 0;display: none;background:#fff;opacity: 0.7;}
.sub_menu > li {}
.sub_menu > li > a {font-size:14px;color: #d01c25;display:block;line-height: 35px;padding-left:20px; }
.sub_menu > li > a:hover {color:#ffffff;text-decoration: none;background:#6298db;}
.m_lang {padding: 0 20px; margin-top: 40px;}
.m_lang ul {overflow: hidden; width: 100%; border: 1px solid #d01c25;}
.m_lang ul li {width: 50%; float: left; text-align: center; }
.m_lang ul li a {background: #fff;color:#454545; font-size: 14px; padding: 12px 0; display: block; width: 100%; }
.m_lang ul li a.on  {background: #d01c25;color:#fff; }


.m_menu_h p {color: #d01c25; font-size: 13px; letter-spacing: 0; padding-left: 20px; margin-top: 20px;}
.dim {position: fixed; width: 100%; max-width: 996px; height: 100%; background: #000; opacity: 0.5; top: 0;z-index: 999;}
.m_menu_bg {position: fixed; width: 100%; width: 310px; height: 100%; background: #fff; top: 0;right: 0;z-index: 1000;}
.m_menu_wrap {position: fixed; display: none; top: 0; left: 0; right: 0; max-width: 996px; width: 100%; height: 100%; margin: 0 auto; z-index: 9999; overflow-y: auto;}      

      


/*body{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}*/
/*body.on-side {margin-left: -308px;}*/
/*#sideToggleWrap {position: fixed;overflow-y: auto;top: 0;right: -308px;width: 308px;padding: 21px 17px;height: 100%;display: block;background-color: #323232;*/
/*-webkit-transition: all 0.3s ease-in-out;*/
/*-moz-transition: all 0.3s ease-in-out;*/
/*-o-transition: all 0.3s ease-in-out;*/
/*-ms-transition: all 0.3s ease-in-out;*/
/*transition: all 0.3s ease-in-out;*/
/*z-index: 9;*/
/*}*/
#sideToggleWrap.on{right: 0;}
#sideToggleWrap .close-sideToggle {float: right;color: #fff;position: relative;z-index: 2;font-size: 16px;}
#sideToggleWrap .widget {position: relative;z-index: 1;clear:both;}

#sideToggleWrap .widget .logocopy {margin:65px 0 30px; }
#sideToggleWrap .widget p.logo_desc {color: #fff;margin:0 0 50px 0;font-size: 18px;letter-spacing: -1px;}
#sideToggleWrap .widget p.tel_text {color: #fff;margin:0 0 50px 0;font-size: 30px;letter-spacing: -1px;}

#sideToggleWrap .widget div.sns_btnLink {margin-bottom: 45px;overflow: hidden;}
#sideToggleWrap .widget div.sns_btnLink ul {padding: 0;margin: 0;clear:both;}
#sideToggleWrap .widget div.sns_btnLink ul li {float:left;margin-right:15px;}
#sideToggleWrap .widget div.sns_btnLink ul li:last-child {margin-right: 0;}
#sideToggleWrap .widget div.sns_btnLink ul li a {display:table-cell;vertical-align: middle;width:50px;height:50px;border:1px solid #bdbdbe;border-radius:10px;text-align: center;line-height: 1;}
#sideToggleWrap .widget div.sns_btnLink ul li a.location {display: block;width:127px;height:35px;line-height: 33px;}
#sideToggleWrap .widget div.sns_btnLink ul li a span {color:#bdbdbe;font-size:14px;}


/* 서브 상단 */
.sub_vg { position : relative;width: 100%;height:256px; background:url(../img/sub_vg.png) no-repeat; background-position: center; background-size: cover;  }
div#vg_con {width:1200px;height:100%;margin: 0 auto; text-align:center; position : relative;}

div#vg_con h2 {position:relative;padding:86px 0 0 0;text-align: center;color: #f8f8f8;font-size: 3.0em; margin:0 0 0 0;font-weight: 700;text-transform: uppercase;letter-spacing: 0.1rem}
div#vg_con h2 small {font-weight: 400;font-size:0.5em;display: block;margin-bottom: 10px;color:#cfcfcf;letter-spacing: 0.3rem}

div#vg_con p {display: inline;text-align: center;color: #ffffff;font-size: 1.6em; padding:10px 0;margin:0;text-transform: uppercase;border:solid #fff;border-width:1px 0;}

#tabMiddleWrap {display: none;}
div.vg_sub_area2 {display: none;width: 100%;}
div.vg_sub_area2.sub {margin-top:0;}
.sub_tab2 {display:block;width:100%;height: 49px;    white-space: nowrap; text-align: left; clear: both;margin:0;}
.sub_tab2 li.tab_list { display:inline-block;height:49px;white-space: nowrap;position:relative;margin:0;padding:0 35px 0 0;}
.sub_tab2 li.tab_list:last-child {padding:0;}
.sub_tab2 li.tab_list > a {font-size:14px;line-height:49px;letter-spacing:-1px;display:inline;position:relative;color:#ffffff;}
.sub_tab2 li.tab_list > a:after {content: ''; position: absolute;top:3px;right:-22px;width:1px;height:10px;background:#aec2dc;}
.sub_tab2 li.tab_list:last-child > a:after {width:0;height:0;}
.sub_tab2 li.tab_list > a.selected,
.sub_tab2 li.tab_list > a:hover {color:#00e4ff;}

div.vg_sub_area {position: absolute;top: -35px;display: block}
.sub_tab {    width: 100%;overflow: hidden; table-layout: fixed;margin:0;  border-collapse: collapse;  display: table;}
.sub_tab li.tab_list { display: table-cell;position:relative;margin:0;border: solid #dddddd;border-width:1px;vertical-align: middle; line-height: 68px  }
.sub_tab li.tab_list > a {font-size:18px;letter-spacing:-1px;display:inline-block;    width: 100%;text-align:center;position:relative;color:#898989;background: #f5f5f5}
.sub_tab li.tab_list > a.selected {background:#0099ff;color:#ffffff;}

.sub_depth_1, .sub_depth_2 {display:none;}





.text-center img {max-width: 100%;height: auto;}



/* footer */

#footer {min-width:1200px;height:155px;padding:0; background:#333333;}
#footer.subFooter{}

.bgf3 {background:#f3f3f3;}

.ft_ul {width:100%;padding:0;margin:0;}
.ft_ul li {display:inline-block;margin:0;}
.ft_ul li.bar {width:1px;line-height:51px;height:10px;background: #acacac;margin:0 15px;}
.ft_ul li a {display:block;line-height: 51px;font-size:15px;color:#5b5c5c;}




.goTop {position: absolute;top:0;right:0;background: #4c4c4c;}
.goTop a {display: block;width:51px;height:51px;text-align: center;}
.goTop a i {color:#fff;line-height: 51px;font-size:2.0em;}

.copy_logo	{position: absolute;top: 0;left: 0; display:block;line-height: 155px;}
.copy_logo img {vertical-align: middle;    max-width: 100%;    max-height: 100%;}


.ft_info {clear: both;margin: 0 auto;text-align: center;}
.ft_info ul {clear:both;width:700px;text-align: left;margin: 0 0 0 300px;padding-top:48px;overflow: hidden;}
.ft_info ul li {font-weight: 700;float:left;width:340px;color:#c1c1c1;font-size: 13px;}
.ft_info ul li strong {font-weight: 700;display: inline-block;width:95px;color:#0c93fd;text-transform: uppercase;}


.copy_by {position: absolute;top:55px; left:330px;padding:0 0;}
.copy_by a.naver {float: right;position: relative; display: block;padding:0 25px;font-size:13px;color:#0c93fd;border:1px solid #b4bfc9;border-radius: 20px; width:215px;height:40px;line-height: 40px;font-weight: 700}
.copy_by a.naver span.green {color:#acacac;}
.copy_by a.naver span.arrow {position: absolute;top:50%;right:22px;margin-top:-7px;width:12px;height:15px;display: block;line-height: 1;}

.copy_by a.naver:hover {background:#0c93fd;color:#fff;}
.copy_by a.naver:hover span.green {color:#fff;}




.copy_by address	{color:#9e9e9e; font-size:15px;padding:0;font-style: normal;margin:0;}
.copy_by div.copyright {padding:0;text-align: left;clear:both;}
.copy_by div.copyright p {color:#9e9e9e;font-size:15px;margin:0;}
.copy_by a.copy_link {float: left;color:#828282;font-size:0.8rem;}
.copy_by a.copy_link small {font-style: italic}






/* */
#main_container{
	width: 100%;
	padding:0;
	margin:0 auto 0px auto;
	position:relative;
	top: 0px;
	z-index:0;
	overflow: hidden;
}



/* 비쥬얼그래픽 */
.vg_inner {width:100%;height:775px;position: relative;clear:both;}

.vg_title {width:1200px;position: absolute;top:25%;left:50%;margin-top:0;margin-left:-600px;z-index: 555;text-align: center;}
.vg_title h2 {font-size:64px;color:#ffffff;margin:10px 0 20px 0;font-weight: 900;text-transform: uppercase;font-style: italic;}
.vg_title h2 em {color:#ea381b;}
.vg_title div.vg_bottom_line {width:142px;height:4px;background: #fff;margin:20px 0 0;}
.vg_title p {font-size:20px;color:#ffffff;margin:0 0 0;letter-spacing: -1px}
.vg_title small {font-size:30px;color:#ffffff;margin:0 0 0;font-weight: 500;}


.vg_tit_box {margin:0;height:auto;overflow: hidden;}
.vg_title h2 span,
.vg_title p span {opacity: 0;}
/*
.vg_down {position: absolute;bottom: 200px;left: 50%;margin-left: -112px;width: 225px;height:50px;text-align: center;}
.vg_down a#go_service {display: block;padding:16px 50px;border:1px solid #fff;}
.vg_down a#go_service span {color:#fff;font-size:18px;}
.vg_down a#go_service:hover {border:1px solid #b00c01;background: #b00c01}
*/

/* */
div#vg_wrap_sub	{background:url(../img/main_vg.jpg) no-repeat 50% 0; text-align:center; clear:both;position: relative;}
div#vg_sub	{height:287px; width:1200px;margin: 0 auto; text-align:left;}



.subNavWrap {position: relative;	width: 100%;	min-width:1200px;background-color: #006cda;height:62px; display: block}
.subNavWrap div.subNavInner {position:relative;width: 1200px;margin: 0 auto;}
.subNavWrap .btn_home {display:block;float:left;border-left:1px solid #4d98e5;border-right:1px solid #4d98e5;width:62px;height:62px;background: url(../img/sub_home.png) no-repeat center;}

.subNav1st {display:block;float:left;zoom:1;font-size:14px;list-style:none;    margin-left: -1px;}
.subNav1st:after {display:block;clear:both;content:''}
.subNav1st > .navi_dp1 {float:left;position:relative;padding:0;width:254px;height:62px;border-right:1px solid #4d98e5;}
.subNav1st > .navi_dp1 h2,
.subNav1st > .navi_dp1 h3 {margin:0;line-height:62px;}
.subNav1st > .navi_dp1 a.dp1 {position:relative;display:block;padding:0 30px 0 30px;text-decoration:none;font-size:17px;line-height:62px;color:#fff;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop {position:absolute;top:50%;right:30px;margin-top:-5px;width:14px;height:9px;}
.subNav1st > .navi_dp1 a.dp1 span.sub_drop.bg {background: url(../img/sub_drop.png) no-repeat;background-position: center;}

/*.subNav1st > .navi_dp1:hover > ul.subNav2nd {display:block;}*/

.subNav2nd {list-style:none;display:none;position:relative;    background-color: #006cda;z-index:10;}
.subNav2nd > .navi_dp2 {display: table;width: 100%;}
.subNav2nd > .navi_dp2 > a {display:table-cell;padding:10px 30px;text-decoration:none;border:solid #4d98e5;border-width:0;font-size:17px;color:#fff;vertical-align: middle;}
.subNav2nd > .navi_dp2 > a:hover, 
.subNav2nd > .navi_dp2 > a:active, 
.subNav2nd > .navi_dp2 > a:focus,
.subNav2nd > .navi_dp2.active > a {color:#000000;}
.subNav2nd > .navi_dp2:last-child > a {border-width:0;}
#m_breadcrumbs_wrap {display: none}

#subPage {padding: 0 0 100px 0;}



/* 사이드바 */
div.left_wrap	{width:220px;float:left;position:relative;min-height: 1000px; }
div.left_inner {position: absolute;top:-45px;left:0;width:221px;}
div.left_top	{position:relative;width:100%;margin:0;background:#0069d2;}
div.left_top h2 {margin:0;font-size:34px;font-weight:bold;color:#ffffff;text-align: center;padding:40px 20px;}
div.left_top h2 span {}

.sidebar	{text-align:left; padding:0; margin:0; list-style-type:none;}
.sidebar > li {
	display:block;
	position: relative;
	text-align:left;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.sidebar > li > a {position:relative;display:block;height:100%;line-height:47px; font-size:16px;color:#818181;padding-left:25px;letter-spacing: -1px;}
.sidebar > li > a.selected,
.sidebar > li > a:hover {background:#f7f7f7;color:#0069d2;}
.sidebar > li > a:hover:after,
.sidebar > li > a.selected:after {position:absolute;content:'';top:50%;right:20px;margin-top:-4px;background: url(../img/bg_sidebar.png) no-repeat;background-position: center;width:5px;height:9px;}



.sidebar > li > ul.sub2_sidebar	{text-align:left; padding:0 0; margin:0; list-style-type:none; background:#f8f8f8;}
.sidebar > li > ul.sub2_sidebar > li {}
.sidebar > li > ul.sub2_sidebar > li > a {position:relative;display:block;height:100%;line-height:20px; font-size:14px;color:#818181;padding-left:30px;letter-spacing: -1px;}
.sidebar > li > ul.sub2_sidebar > li > a.selected {color:#0069d2;}
		


div.left_wrap .cs_center {border: solid #dddddd;border-width:0 1px 1px;padding:30px 25px 0;margin-bottom: 170px;background-color: #f7f7f7;background-image: url(../img/ic_cs.png);background-repeat:no-repeat;background-position: 106% -9px;}
div.left_wrap .cs_center h4 {color:#818181;font-size:16px;line-height: 1.5;margin-bottom: 10px;}
div.left_wrap .cs_center div.cs1 {margin-bottom: 25px;}
div.left_wrap .cs_center div.cs1 p.center {color:#9a9a9a;font-size:14px;line-height: 1.5;}
div.left_wrap .cs_center div.cs1 p.tel {color:#011627;font-size:24px;line-height: 1.2;font-weight: 700}
div.left_wrap .cs_center div.cs1 p.fax {color:#858585;font-size:16px;line-height: 1.2;}




/* 컨텐츠영역 */
div.contents_wrap {width:920px; float:right;margin-left:60px;    padding:0;}



/* 타이틀영역 */
.title_wrap {overflow:hidden;padding-bottom: 80px;position: relative;}
.title_wrap h2.title {font-size:34px;    line-height: 50px;color: #011627;display: inline-block;margin: 0;padding-right: 0;font-weight: 700}
.title_wrap .breadcrum {background:url(../img/icon_home.png) no-repeat;     background-position: left center;padding-left:15px; margin-top:0;position: absolute;top:45px;left:0;color:#9d9d9d;font-size:0.75rem;}

.sub_vg_title{position : relative;width: 100%;margin:70px 0 0;padding:0 0 20px 0;clear:both;border-bottom: 1px solid #dddddd}
.sub_arrow{font-size:32px;display: inline-block;    line-height: 50px;color:#dc060e}
.sub_left_arrow{float: left;height:100%;}
.sub_right_arrow{float: right;height:100%;}
.sub_vg_title_line{width: 100%;height: 1px;background: #d8d8d8;display:block;position : relative;}

.parallax-init-pc {transform: translate3d(0, 100px, 0);transition: transform 3.6s cubic-bezier(0.165, 0.84, 0.44, 1);}
.parallax-init-pc.add-stage {transform: translate3d(0, 0, 0) scale(1) rotate(0) !important;}





div.customerInner {position: absolute;top:-40px;clear:both;width:100%;padding:20px;overflow: hidden;background:#fff;z-index:999;}

div.customerInner div.customer_center {position:relative;padding:33px;width:373px;height:250px;float:left;margin-right:20px;}
div.customerInner div.customer_center:last-child {margin-right:0;}
div.customerInner div.customer_center h3.title {font-size: 30px;color:#ffffff;width:100%;text-align:left;margin: 0 0 10px 0;font-weight:500;}
div.customerInner div.customer_center p.content {font-size:17px;color:#ffffff;width:100%;line-height: 21px;text-align:left;}
div.customerInner div.customer_center a {position:absolute;bottom:35px;cursor:pointer;left:33px;display:block;width:186px;height:42px;color:#ffffff;border:1px solid #ffffff;line-height:42px;font-size:14px;text-align:center;}
div.customerInner div.customer_center a:hover {color:#f5c06c;border:1px solid #f5c06c;}
div.customerInner div.customer_center a span.right_arrow {display: inline-block;padding-left: 20px;}

div.customerInner div.customer_center.cus01 {background:url(../img/cus01.png); background-repeat: no-repeat;}
div.customerInner div.customer_center.cus02 {background:url(../img/cus02.png); background-repeat: no-repeat;}
div.customerInner div.customer_center.cus03 {background:url(../img/cus03.png); background-repeat: no-repeat;}




#service_section {background: #f6f6f6}



div.serviceInner {position: relative;clear:both;width:100%;padding:50px 0;overflow: hidden;}

div.serviceInner div.tech_center {position:relative;width:300px;float:left;}
div.serviceInner div.tech_center a {background: url(../img/tech_center.png);display: block;position: relative;height:367px;}
div.serviceInner div.tech_center a span {display:block;padding-top:114px;color:#ffffff;line-height:30px;font-size:26px;font-weight: 700;text-align: center;}
div.serviceInner div.tech_center a:hover {background: url(../img/tech_center_on.png);}
div.serviceInner div.tech_center a:hover span {color:#fbbd24;}




.hover-shadow{
    -webkit-transition: box-shadow .6s;
    transition: box-shadow .6s;
}
.hover-shadow:hover{
    -webkit-box-shadow: 0 3px 15px 0 rgba(0,0,0,0.1);
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.1);
}
.hover-float{
    -webkit-transition: transform .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform .6s cubic-bezier(0.77, 0, 0.175, 1);
}
.hover-float:hover{
    -webkit-transform: translateY(-8%);
    transform: translateY(-8%);
}




.csInner {padding:70px 0;clear: both;overflow: hidden;}
.csInner div.info_col {width: 366px;height: 230px;float: left;margin: 0 50px 0 0;overflow: hidden;position: relative;}
.csInner div.info_col:nth-child(2n) {border-bottom: 1px solid #e5e5e5;}
.csInner div.info_col:nth-child(3n) {margin:0 0 0 0;}
.csInner div.info_col h4 {font-size: 20px;font-weight: 500;margin: 0 0 20px 0;padding-bottom: 15px;padding-left:3px;color: #333333;border-bottom: 1px solid #6f6f6f}
.csInner div.info_col.last h4 {margin:0;}

.help-tel {margin-bottom: 10px}
.help-tel span {color:#000000;font-size:20px;font-weight: 300;display: inline-block;vertical-align: top;padding-top:5px;}
.help-tel span.tel {color:#0068b7;font-size:24px;line-height:1.3;font-weight: 500;display: inline-block;padding-top:0;padding-left:20px;}

.help-block {color:#999999;font-size:15px;font-weight: 300;line-height: 26px;}

.help-event {position: absolute;bottom: 0}
.help-event a {display: inline-block;width:176px;line-height: 38px;text-align: center;margin-right:10px;color:#fff;font-weight: 300;font-size:16px;background: #7b7a7c;}
.help-event a:hover {background: #0068b7;}
.help-event a:last-child{margin-right:0;}




.lt {position:relative;width:100%;overflow:hidden;}
.lt ul {margin:14px 0 0;padding:0;list-style:none;clear:both;}
.lt li {padding:0;}
.lt li a.lt_a {display: block;overflow: hidden;clear: both;}
.lt li a.lt_a h5 {position:relative;color:#999999;font-size:15px;line-height: 34px;font-weight: 300;float: left;padding-left:10px;}
.lt li a.lt_a h5:before {content: '';position: absolute;width:3px;height:3px;top:50%;margin-top:-1px;left:0;background: #9a9a9a;}
.lt li a.lt_a div.lt_date {color:#999999;font-size:16px;line-height: 34px;font-weight: 300;float: right;}

.lt .lt_more {display: inline-block;overflow: hidden;position: absolute;top:0;right:0;width: 58px;height: 58px;}
.lt .lt_more a {background:url(../images/lt_arrow.png) no-repeat center;display: block;width:100%;height:100%;line-height:50px;margin: 0;padding: 0;text-indent:-9999px;}



.widget-box {overflow: hidden;}
a.catalogue {display: block;width:100%;height:182px;text-align: center;background: url(../img/bg_catalog.png) no-repeat;
transform:scale(1.2);
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
-o-transform:scale(1.2);

}
a.catalogue img {padding:40px 0 20px 0;}
a.catalogue span {display: block;font-size: 20px;color:#fff;font-weight: 300;}
a.catalogue:hover {transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1);}