@charset "utf-8";

/* 전체적용 */
body {font-family:'Nanum Gothic', 'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;color:#222;background: #e7e7e7;}


/* 링크 */
a, a:link	{color:#222; text-decoration:none;} 
a:visited	{color:#222; text-decoration:none;}
a:hover		{color:#222; text-decoration:none;}
a:active	{color:#222; text-decoration:none;} 
a:focus		{color:#222; text-decoration:none;}


/*  */
#wrap {height:4193px;word-break: keep-all; padding:0 0;background: url(../images/main.jpg) no-repeat;background-size:cover;background-position: top center;}


#m_menu {background: url(http://www.ilyangexpress.com/images/m_menu.gif); display: none; position: absolute; top: 40%; right: 10px; width: 35px; height: 25px;}
/*top*/
header {position: relative; width: 100%;}
header.m-fixed {top: 0;position: fixed;}
.header_wrap {width: 100%; height: 107px; border-bottom:1px solid #96bae0;background: transparent; z-index: 9999;}
.headerBox {position: relative;}
.header_wrap div.logo {position: absolute; top:0;left:100px;}
.header_wrap h1 a {    display: block;    height: 107px;    line-height: 107px;}
.header_wrap h1 a img {max-width: 100%;max-height: 100%;vertical-align: middle;}
.header_wrap .lang {position: absolute; top:0;right:100px;}
.header_wrap .lang a {position:relative;display: block;width:64px;height: 107px;line-height: 107px;background: url(../images/lang_en.png) no-repeat;background-position: center center;}
.header_wrap .lang a span {color:transparent;}

.header_inner {clear: both; width: 100%; text-align: center; height: 100%;display: block;}
#gnb {}
#gnb ul.gnb_list {overflow: hidden;}
#gnb ul.gnb_list > li {display: inline-block;height: 107px;width:232px;}
#gnb ul.gnb_list > li > a {display:block;color: #ffffff; font-size: 17px; font-weight: bold;line-height: 107px;}
#gnb ul.gnb_list > li > a:hover {background: #163f8c;}

.header_wrap.active {background: #ffffff;}
.header_wrap.active .lang a,
.header_wrap.active .lang a:hover {background: url(../images/lang_en_ov.png) no-repeat;background-position: center center;}
.header_wrap.active #gnb ul.gnb_list > li > a {color: #424242;}
.header_wrap.active #gnb ul.gnb_list > li > a:hover {color: #ffffff;}

#gnb ul.subNavi {position: absolute;width:232px;padding: 25px 0;overflow:hidden;display:none;z-index:100;border-right:1px solid #f0f0f0;}
#gnb ul.subNavi li {width: 100%; display: block;font-size: 14px;color: #333;margin-bottom: 15px;}
#gnb ul.subNavi li a {color:#333333; font-size: 12pt; display: block; text-align:center;  font-weight: bold;}
#gnb ul.subNavi li a:hover {color:#f4ef65;text-decoration: underline;}
#gnb ul.subNavi.on {background:#722967}
#gnb ul.subNavi.on li a {color:#ffffff;}
#gnb ul.subNavi.on li a:hover {color:#f4ef65;text-decoration: underline;}

.subMenuBg {position:fixed;left:0;top:107px;width:100%;background:#ccc;background-position:80px bottom; border-bottom:1px solid #ccc; padding: 25px 0;z-index:99;display:none;height:0; }


/*모바일메뉴*/
.m_menu_h {position: fixed; top: 0; right: 0; z-index: 99999; background: #064ea3; width: 310px; height: 100%;overflow-y: auto;}
.nav-top {border-bottom: 1px solid #1565c3;}
.btn-x {text-align: right; padding: 23px 20px;}
.m-nav > li {border-bottom: 1px solid #1565c3; padding: 20px 0 20px 20px; background: url(http://www.ilyangexpress.com/images/ko/common/mobile_down.png) no-repeat 270px 30px;}
.m-nav > li.mmli_up {background: url(http://www.ilyangexpress.com/images/ko/common/mobile_up.png) no-repeat 270px 30px;}
.m-nav > li > a {color: #fff; font-size: 16px; font-weight: bold;}
.m-nav > li > a > img {margin-top: 7px; float: right; padding-right: 20px;}
.sub_menu {margin-top: 10px;display: none}
.sub_menu > li {line-height: 35px;}
.sub_menu > li > a {color: #a7b5c7;}
.subm_lan {padding: 0 20px; margin-top: 40px;}
.subm_lan ul {overflow: hidden; width: 100%; box-sizing: border-box; border: 1px solid #1c72d7;}
.subm_lan ul li {width: 50%; float: left; text-align: center; box-sizing: border-box; background: #064ea3; }
.subm_lan ul li.tabon {background: #1c72d7; }
.subm_lan ul li a {color: #fff; font-size: 14px; padding: 12px 0; display: block; width: 100%;}
.m_menu_h p {color: #1c72d7; font-size: 13px; letter-spacing: 0; padding-left: 20px; margin-top: 20px;}
.dim {position: fixed; width: 100%; max-width: 996px; height: 100%; background: #000; opacity: 0.5; top: 0;}
.dimwrap {position: fixed; display: none; top: 0; left: 0; right: 0; max-width: 996px; width: 100%; height: 100%; margin: 0 auto; z-index: 9999; overflow-y: auto;}

/* */
.quickWrap {position: relative;width: 1100px;margin: 0 auto;clear: both;}
.leftQuick {z-index:9999;position:absolute;top: 10px;left: -170px;width:167px;height:329px;}
.leftQuick.m-fixed {top:10px;}
.quick_list {}
.quick_list li {width:100%;height:49px;margin-bottom:7px;}
.quick_list li.last {margin-bottom:0;}
.quick_list li a {display:block;height:100%;}

.quick_list li a#q1 {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick1.png); background-repeat:no-repeat;}
.quick_list li a#q2 {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick2.png); background-repeat:no-repeat;}
.quick_list li a#q3 {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick3.png); background-repeat:no-repeat;}
.quick_list li a#q4 {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick4.png); background-repeat:no-repeat;}
.quick_list li a#q5 {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick5.png); background-repeat:no-repeat;}
.quick_list li a#q6 {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick6.png); background-repeat:no-repeat;}

.quick_list li a#q1:hover,
.quick_list li a#q1.active {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick1ov.png); background-repeat:no-repeat;}
.quick_list li a#q2:hover,
.quick_list li a#q2.active {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick2ov.png); background-repeat:no-repeat;}
.quick_list li a#q3:hover,
.quick_list li a#q3.active {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick3ov.png); background-repeat:no-repeat;}
.quick_list li a#q4:hover,
.quick_list li a#q4.active {background:url(http://www.dmcleanmall.co.kr/theme/dawon/img/quick4ov.png); background-repeat:no-repeat;}


@media screen and (max-width: 996px){
	.header_wrap div.logo {left:10px;}
	#gnb ul {display: none;}	
	#m_menu {display: block;}
	.lang {display: none;}
	.header_inner h1 {padding-left: 15px;}
	.section {padding: 80px 10px; width: auto;}
	.en .section {padding: 35px 10px; width: auto;}
	.slider .bx-controls-direction {display: none;}
	.bx-wrapper .main_slide .slide_text .big_text {font-size: 50px;}
	.bx-wrapper .main_slide .slide_text .small_text {font-size: 15px;}
	.susang ul li .s_text p {font-size: 18px;}
	.susang ul li .s_text p span {font-size: 12px;}
	.susang ul li .s_text p:last-child {font-size: 14px;}
	.family ul li {width: 23.7%;}
	.en .systembox .graybox {width: 100%;}
	.systembox .graybox {width: 100%;}
	.en .systembox .graybox li {width: 25%;}
	.systembox .graybox li {margin-left: 0; width: 30%;}
	.systembox .graybox li.right_blit {width: 5%;}
	.systembox {padding: 75px 10px 0 10px;}
	#system2 {padding: 75px 10px 0px;}
	#system3 {padding: 75px 10px 0;}
	#system4 {padding: 5px 10px;}
	#system5 {padding: 5px 10px;}
	#system6 {padding: 5px 10px;}
	#system7 {padding: 75px 10px;}
	.subconbox2 {padding: 75px 10px;}
	.footer_tbox {text-align: center;}

}
/* 비쥬얼그래픽 */

.vg_wrap {position: relative;min-width:1200px;margin:0 auto;height:540px;padding:0;}
.vg_inner {width:100%;height:100%;position: relative;clear:both;background: url(../images/vg.png); background-repeat: no-repeat;background-position: top center;background-size: cover;}
.vg_title {width:1200px;position: absolute;top:50%;left:50%;margin-top:-104px;margin-left:-600px;z-index: 555;}
.vg_title h3 {font-size:60px;color:#ffffff;margin:0;text-align:center;font-family: 'Nanum Brush Script';line-height: 70px;}
.vg_title h2 {font-size:56px;color:#ffffff;margin:0;text-align:center;font-weight:bold;line-height: 70px;}
.vg_title p {font-size:20px;color:#ffffff;letter-spacing: -2px;line-height: 30px;text-align:center;margin-top:30px;}

.bg_info {background: url(../images/bg_info.png); background-repeat: no-repeat;background-position: center center;background-size: cover;}
div.business_wrap {width:100%;overflow:hidden;position: relative;margin:0 auto;}
div.business_inner {position: relative;clear:both;width:100%;margin:0;padding:0;overflow: hidden;}
div.business_inner div.inner {height:310px;width:50%;float:left;background:transparent;}
div.business_inner div.inner a.banner {display: block;height: 100%;position: relative;}
div.business_inner div.inner a.banner h3.title {font-weight:bold;font-size: 30px;color:#ffffff;width:100%;height: 30px;line-height: 30px;text-align:center;position:absolute;top:21%;margin: 0;}
div.business_inner div.inner a.banner p.content {font-size:16px;color:#ffffff;width:100%;text-align:center;position:absolute;top:37%;}
div.business_inner div.inner a.banner div.btn {width:168px;height:56px;position:absolute;bottom:64px;left:50%;margin-left:-100px;border:1px solid #ffffff;line-height:56px;color:#ffffff;font-size:16px;padding-left:30px;background: url(../images/btn_more.png); background-repeat: no-repeat;background-position:148px center;}
div.business_inner div.inner a.banner:hover div.btn {color:#3c3c3c;background:#ffffff url(../images/btn_more_ov.png); background-repeat: no-repeat;background-position:148px center;}

div.bg_lt {background: #f5f5f5;}
div.lt_wrap {width:100%;height:437px;overflow:hidden;position: relative;margin:0 auto;padding:64px 0;}
div.lt_wrap div.lt_header_bar {width:2px;height:37px;margin:0 auto;background: #000000;}
div.lt_wrap div.lt_header {}
div.lt_wrap div.lt_header h4 {font-size:30px;color:#131313;text-align: center;line-height: 30px;font-weight: bold;margin:20px 0;}
div.lt_wrap div.lt_header p {font-size:20px;color:#939393;line-height: 25px;letter-spacing: -1px;text-align: center;}
div.lt_wrap div.lt_inner {width:100%;height:258px;clear:both;overflow: hidden;position: relative;margin-top:40px;}
div.lt_wrap div.lt_inner div.lt_box {width:381px;height: 256px;border:1px solid #dddddd;float:left;margin-right: 25px;background:#ffffff;}
div.lt_wrap div.lt_inner div.lt_box.last {margin-right: 0;}

.mapBox {width:100%; height:424px; padding:60px 0;position: relative;}
.mapBox iframe { border:none; width:100%; height:430px; margin:0px; padding:0px; }
.mapBox .map_info {position: absolute;top:60px;right:0;width:303px;height:430px;background: #255bab;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.mapBox .map_info .map_info_inner {padding:100px 30px;}
.mapBox .map_info .map_info_inner dl {}
.mapBox .map_info .map_info_inner dl dt {font-weight:bold;font-size:34px;line-height: 34px;color:#ffffff;margin-bottom:30px;}
.mapBox .map_info .map_info_inner dl dd {margin:0;font-size:16px;line-height:24px;color:#ffffff;letter-spacing: -1px;margin-bottom:20px;padding-left:30px;}
.mapBox .map_info .map_info_inner dl dd.addr {background: url(../images/ico_location.png); background-repeat: no-repeat;}
.mapBox .map_info .map_info_inner dl dd.tel {background: url(../images/ico_phone.png); background-repeat: no-repeat;}
.mapBox .map_info .map_info_inner dl dd.fax {background: url(../images/ico_fax.png); background-repeat: no-repeat;}


.box_wrap {position:relative;width:1200px;margin:0 auto;clear:both;}
#quickB {position:absolute;top:60px;left:915px;width:240px;height:240px;background: #fff;z-index: 9999998;}
#quickB a {display:block;height:240px;}
#quickB.m-fixed {top:10px;}

/*#quickMenu {position:absolute;top:105px;left:1310px;width:129px;height:499px;z-index: 9999999;}
#quickMenu ul {width:127px;margin:0 auto;}
#quickMenu ul li {display: block;line-height:58px;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;border-bottom:1px solid #d0d0d0;background: #ffffff;}
#quickMenu ul li a {font-size:15px;color:#222222;font-weight: bold;} 
#quickMenu ul li.title, 
#quickMenu ul li.last {background:#2b1eb5;color:#ffffff;font-size:15px;font-weight: bold;}
#quickMenu ul li.last {line-height: 1.4;height:145px;background:#2b1eb5 url(../images/quick_shadow.png) no-repeat;background-position:bottom center;}
#quickMenu ul li.last div.ico {padding:22px 0 15px 0;}*/

#subQuickMenu {position:absolute;top:250px;left:1200px;width:127px;height:265px;z-index: 9999999;border:1px solid #dddddd;}
#subQuickMenu.m-fixed {top:250px;}
#subQuickMenu ul {width:127px;margin:0 auto;background: #ffffff;}
#subQuickMenu ul li {display: block;line-height:22px;color:#464646;font-size:18px;letter-spacing: -1px;}
#subQuickMenu ul li.title {padding:10px 0;}
#subQuickMenu ul li.tel {color:#255bab;font-weight: bold;padding:10px 0;}
#subQuickMenu ul li.mm {padding:0;}
#subQuickMenu ul li.mm a {margin: 0 5px;padding:5px 0;background: #ffffff url(../images/bg_line.png) repeat-x top;display: block;line-height:22px;color:#464646;font-size:18px;letter-spacing: -1px;}