@charset "utf-8";

/*!
 * 아키웹 (http://shinhwa.archiweb.kr/)
 */

/* 0. IMPORT */
@import url("./default.css");
@import url("./font.css");

/* 1. BASIC */
body {font-family:'notokr-demilight', 'NanumGothic','Dotum',' gulim', 'Helvetica', 'sans-serif';}
.ac_bg_primary {background-color:#00a0e9;}
.ac_bg_sub {background-color:#90c31f;}

.ac_font1 {color:#4a4a4a;}
.ac_font2 {color:#7b7b7b;}
.ac_font3 {color:#9a9a9a;}

.ac_line {background-color:#d4d4d4;}

.img-responsive {display: block;max-width: 100%;height: auto;}

.black_bg {width:100%;height:100%; position:absolute;  left:0px;top:0px;z-index:1000;background-color:#000;}
.opa50 {filter:alpha(opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';opacity:.5;}
#layer_bg {z-index:100;}
#layer_contents {z-index:101;width:auto;height:auto;position:absolute;left:35%;top:100px;background:#fff;}


/* 2. HEADER */
.gnb_top {background-color:#f6f6f6;}
.gnb_top_menu {clear:both;overflow:hidden;}
.gnb_top_menu ul.gnb_login {width:210px;float:right;background: url(../img/main/bg_login.jpg); background-repeat:no-repeat;}
.gnb_top_menu ul.gnb_login li {line-height: 34px;position: relative;float: left;}
.gnb_top_menu ul.gnb_login li {text-align: center;}
.gnb_top_menu ul.gnb_login li.first {width:115px;}
.gnb_top_menu ul.gnb_login li.second {width:80px;}
.gnb_top_menu ul.gnb_login li a {font-family:'Dotum';color:#ffffff;font-size:13px;font-weight:bold;text-transform: uppercase;}
.gnb_top_menu ul.gnb_login li a:active, .gnb_top_menu ul li a:hover {text-decoration:underline;}

.gnb_top_menu ul.gnb_logout {width: 320px;float:right;background: url(../img/main/bg_login.jpg); background-repeat:no-repeat; background-position: right center;}
.gnb_top_menu ul.gnb_logout li {line-height: 34px;position: relative;float: left;}
.gnb_top_menu ul.gnb_logout li {text-align: center;}
.gnb_top_menu ul.gnb_logout li.in {width:110px;background: url(../img/main/ico_in.jpg); background-repeat:no-repeat; background-position: left center;}
.gnb_top_menu ul.gnb_logout li.in a {font-family:'Dotum';color:#666666;font-size:13px;font-weight:bold;text-transform: uppercase;}
.gnb_top_menu ul.gnb_logout li.first {width:115px;}
.gnb_top_menu ul.gnb_logout li.second {width:80px;}
.gnb_top_menu ul.gnb_logout li a {font-family:'Dotum';color:#ffffff;font-size:13px;font-weight:bold;text-transform: uppercase;}
.gnb_top_menu ul.gnb_logout li a:active, .gnb_top_menu ul li a:hover {text-decoration:underline;}


.gnb_bottom {clear:both;height:90px;background:#ffffff;position: relative;border-bottom:1px solid #cbcbcb;}
.gnb_bottom h1.logo {width:276px;float:left;line-height:90px;background: url(../img/main/img_logo.png);background-repeat:no-repeat;text-indent: -9999px;}
.gnb_bottom h1.logo a {display:block;}
.gnb_bottom .gnb_nav {width:679px;float:right; }
.gnb_bottom .gnb_nav .nav_1st {overflow:hidden;}
.gnb_bottom .gnb_nav .nav_1st li.menu_list {width:113px;height:90px;float:left;padding:0 0;text-align:center;}
.gnb_bottom .gnb_nav .nav_1st li.menu_list a.menu_link {font-family: 'notokr-medium';font-size:17px;height:90px;line-height:90px;color:#4a4a4a;display: block;overflow: hidden;}
.gnb_bottom .gnb_nav .nav_1st li.menu_list a.menu_link.on {height:87px;border-bottom:3px solid #00a0e9;}

.gnb_bottom .gnb_nav .nav_2nd {position: absolute;width: 120px;padding: 20px 0;overflow:hidden;display:none;z-index:100;}
.gnb_bottom .gnb_nav .nav_2nd.left {left: 230px;}
.gnb_bottom .gnb_nav .nav_2nd.right {}
.gnb_bottom .gnb_nav .nav_2nd li.menu2_list {width: 120px;height: 25px;text-align:left;}
.gnb_bottom .gnb_nav .nav_2nd li.menu2_list a.menu2_link {font-size:14px;line-height: 25px;color:#ffffff;display:inline-block;padding-left:27px;text-align:left;}
.gnb_bottom .gnb_nav .nav_2nd li.menu2_list a.menu2_link:active,
.gnb_bottom .gnb_nav .nav_2nd li.menu2_list a.menu2_link:hover {font-family: 'notokr-bold';}


.gnb_bottom .gnb_nav_bg  {position:absolute;top:91px;display:block;height:0;left:0;width:100%;background: url(../img/main/bg_drop.jpg);background-repeat:no-repeat;z-index: 90;}
.gnb_bottom .gnb_nav_bg .line_break {position:absolute;bottom:2px;width:100%;z-index:91;display:block;margin:0;border-bottom:2px solid #d12b38;}

/* 3. FOOTER */
.footer_top {position:relative;clear:both;overflow:hidden;background-color:#ffffff;border-top:1px solid #cbcbcb;}
.footer_widget_list {overflow:hidden;clear:both;}
.footer_widget_list li {float:left;width:219px;line-height:64px;background: url(../img/main/line_footer.jpg) no-repeat;background-position: left center;}
.footer_widget_list li.none {background:none;}
.footer_widget_list li a {font-family: 'notokr-medium';font-size:15px;color:#4a4a4a;display:block;text-align:center;}
.footer_bg {width:50%;height:4px;float:left;}


.footer_bottom {background-color:#3d3d3d;}
.footer_widget_1 {float:left;font-family: 'notokr-medium';}
.footer_widget_1 .footer_into {clear:both;overflow:hidden;margin-top:40px;}
.footer_widget_1 .footer_into li {float:left;font-size:13px;line-height:18px;color:#ffffff;padding-left: 14px;padding-right: 14px;background: url(../img/main/line_footer.jpg) no-repeat;background-position: left center;}
.footer_widget_1 .footer_into li.none {padding-left:0;background:none;}
.footer_widget_1 .copyright {font-size:13px;line-height:18px;color:#ffffff;}

.footer_widget_2 {float:right;width:227px;height:117px;background: url(../img/main/img_footer.png); background-repeat:no-repeat;text-indent: -9999px;}


/* 4. MAIN */
.main_section_1 {overflow:hidden;margin-top:16px;height:400px;border:1px solid #cbcbcb;position:relative;}
.main_section_2 {overflow:hidden;margin-top:17px;width:270px;height:260px;float:left;background: url(../img/main/bg_main02.jpg); background-repeat:no-repeat;} 
.main_section_3 {overflow:hidden;margin-top:17px;width:523px;height:258px;float:left;margin-left:18px;border:1px solid #cbcbcb;}
.main_section_4 {overflow:hidden;margin-top:17px;width:268px;height:258px;float:left;margin-left:17px;border:1px solid #cbcbcb;}
.main_section_5 {overflow:hidden;margin-top:17px;width:813px;height:260px;float:left;}
.main_section_6 {overflow:hidden;margin-top:17px;width:270px;height:260px;float:left;margin-left:17px;background: url(../img/main/bg_main06.jpg); background-repeat:no-repeat;}
.main_section_7 {overflow:hidden;height:301px;margin-top:16px;background: url(../img/main/bg_main07.jpg); background-repeat:no-repeat;}

/*  4-1. SECTION 1 */


/*  4-2. SECTION 2 */
.section2_widget {clear:both;overflow:hidden;position:relative;height: 100%;}
.section2_widget .tit_box {position:absolute;top: 24px;left:18px;}
.section2_widget .tit_box h3 {font-family: 'notokr-medium';font-weight:normal;font-size:15px;color:#ffffff;}
.section2_widget p {position:absolute;top: 52px;left:18px;font-size:14px;color:#ffffff;}
.section2_widget a.widget_more {position:absolute;top: 105px;left:18px;display: inline-block;overflow: hidden;width: 63px;height: 25px;font-size: 12px;background: url(../img/main/btn_main02.jpg); background-repeat:no-repeat;text-indent: -9999px;}


/*  4-3. SECTION 3 */
.section3_widget {position:relative;clear:both;overflow:hidden;padding:15px 18px 0 19px;}
.section3_widget .tit_box {padding-top:6px;}
.section3_widget .tit_box h3 {font-family: 'notokr-medium';font-weight:normal;font-size:15px;color:#4a4a4a;}
.section3_widget a.widget_more {position:absolute;top: 15px;right:18px;display: inline-block;overflow: hidden;width: 25px;height: 25px;font-size: 12px;background: url(../img/main/ico_plus.jpg); background-repeat:no-repeat;text-indent: -9999px;}
.section3_widget p {font-size:14px;color:#4a4a4a;margin-top:15px;}
.section3_widget .article_list {clear:both;overflow:hidden;margin-top:40px;}
.section3_widget .article_list li {position: relative;line-height: 24px;font-size:12px;clear:both;background: url(../img/main/ico_dot.jpg);background-repeat:no-repeat;background-position: center left;letter-spacing:-1px;padding-left: 10px;}
.section3_widget .article_list li a {font-family:'Dotum';color:#6a6a6a;}
.section3_widget .article_list li span.aricle_date {float:right;color:#b4b4b4;}


/*  4-4. SECTION 4 */
.section4_widget {position:relative;clear:both;overflow:hidden;padding:15px 18px 0 19px;}
.section4_widget .tit_box {padding-top:6px;}
.section4_widget .tit_box h3 {font-family: 'notokr-medium';font-weight:normal;font-size:15px;color:#4a4a4a;}

.slider_outer_wrap {position:relative;padding-top:16px;}


/*  4-5. SECTION 5 */
.section5_widget {position:relative;clear:both;overflow:hidden;padding:25px 18px 6px 19px;background:#f1f1f1;}
.section5_widget .tit_box h3 {font-family: 'notokr-medium';font-weight:normal;font-size:15px;color:#4a4a4a;}
.section5_widget a.widget_more {position:absolute;top: 15px;right:18px;display: inline-block;overflow: hidden;width: 25px;height: 25px;font-size: 12px;background: url(../img/main/ico_plus.jpg); background-repeat:no-repeat;text-indent: -9999px;}
.section5_widget .cbuild_list {clear:both;overflow:hidden;margin-top:17px;}
.section5_widget .cbuild_list li {float:left;}
.section5_widget .cbuild_list li.middle {margin:0 30px 0 29px;}
.section5_widget .cbuild_list li .thumb a {display:block;}
.section5_widget .cbuild_list li .expert {font-size:12px;color:#6a6a6a;margin-top:10px;font-family:'Dotum';}
.section5_widget .cbuild_list li .expert h5 {font-weight:bold;}

/*  4-6. SECTION 6 */
.section6_widget {clear:both;overflow:hidden;position:relative;height: 100%;}
.section6_widget .tit_box {position:absolute;top: 26px;left:18px;}
.section6_widget .tit_box h3 {font-family: 'notokr-medium';font-weight:normal;font-size:15px;color:#4a4a4a;}
.section6_widget p {position:absolute;top: 58px;left:18px;font-size:14px;color:#4a4a4a;}
.section6_widget a.widget_more {position:absolute;top: 90px;left:18px;display: inline-block;overflow: hidden;width: 63px;height: 25px;font-size: 12px;background: url(../img/main/btn_main06.jpg); background-repeat:no-repeat;text-indent: -9999px;}


/*  4-7. SECTION 7 */
.section7_widget {position:relative;clear:both;height:301px;}
.ss_title {float:left;margin-top:34px;width:184px;height:236px;}
.ss_title.ss_bg1 {background: url(../img/main/bg_main07_01.jpg); background-repeat:no-repeat;}
.ss_title h3 {font-family: 'notokr-medium';font-weight:normal;font-size:25px;color:#ffffff;margin:40px 0 0 23px;font-weight:normal;}
.ss_content {position:relative;float:left;margin:34px 0 0 17px;width:212px;height:236px;}
.ss_content a {display:block;width:212px;height:236px;}
.ss_content .ss_line {width:31px;height:1px;background:#2b2b2b;position:absolute;bottom:94px;left:21px;}
.ss_content h3 {font-family: 'notokr-medium';font-weight:normal;font-size:13px;color:#4a4a4a;position:absolute;bottom:73px;left:21px;}
.ss_content p {font-size:11px;color:#444444;position:absolute;bottom:21px;left:21px;}
.ss_content.ss_bg2 {background: url(../img/main/bg_main07_02.jpg); background-repeat:no-repeat;}
.ss_content.ss_bg3 {background: url(../img/main/bg_main07_03.jpg); background-repeat:no-repeat;}
.ss_content.ss_bg4 {background: url(../img/main/bg_main07_04.jpg); background-repeat:no-repeat;}
.ss_content.ss_bg5 {background: url(../img/main/bg_main07_05.jpg); background-repeat:no-repeat;}


/* 5 SUB */
.sub_title_bg01 {background: url(../img/sub/bg_sub_page01.jpg); background-repeat:no-repeat;}
.sub_title_bg02 {background: url(../img/sub/bg_sub_page02.jpg); background-repeat:no-repeat;}
.sub_title_bg03 {background: url(../img/sub/bg_sub_page03.jpg); background-repeat:no-repeat;}
.sub_title_bg04 {background: url(../img/sub/bg_sub_page04.jpg); background-repeat:no-repeat;}
.sub_title_bg05 {background: url(../img/sub/bg_sub_page05.jpg); background-repeat:no-repeat;}
.sub_title_bg06 {background: url(../img/sub/bg_sub_page06.jpg); background-repeat:no-repeat;}
.sub_title_bg07 {background: url(../img/sub/bg_sub_page07.jpg); background-repeat:no-repeat;}

.sub_page_title {height:200px;}
.sub_page_title h1 {font-family: 'notokr-medium';font-size:30px;color:#ffffff;text-align:center;width: 1300px;position:absolute;top:180px;font-weight: normal;}
.sub_page_title p {font-family: 'notokr-demilight';font-size:20px;color:#ffffff;text-align:center;width: 1300px;position:absolute;top:180px;}

.left_menu {width:172px; position:absolute; top:-118px; float:left; }
.left_menu .left_menu_title {width:172px;height:93px;background: url(../img/sub/bg_left_title.jpg); background-repeat:no-repeat;}
.left_menu .left_menu_title h2 {font-family: 'notokr-regular';font-size:20px;color:#ffffff;text-align:center;line-height:93px;}
.left_menu  .left_menu_list {margin-top:2px;border:1px solid #dadada;width:170px;background: #ffffff;}
.left_menu  .left_menu_list.bg {height:303px;background: url(../img/sub/bg_left_menu.jpg); background-repeat:no-repeat;}
.left_menu  .left_menu_list.bg2 {height:305px;background: url(../img/sub/join_left.jpg); background-repeat:no-repeat;}
.left_menu  .left_menu_list li {width:154px;height:41px;line-height:41px;padding:0 8px;}
.left_menu  .left_menu_list li a {display:block;height:40px;line-height:40px;font-size:13px;color:#9a9a9a;font-family: 'notokr-demilight';border-bottom:1px solid #dadada;padding-left: 15px;}
.left_menu  .left_menu_list li a.last {border-bottom:0 none;}
.left_menu  .left_menu_list li.on {background:#00a0e9;}
.left_menu  .left_menu_list li.on a {color:#ffffff;border-bottom:0 none;height:41px;line-height:41px;}

.right_content {float:right; width:883px; min-height:800px;position:relative;padding:35px 0 90px 45px;}

.page_title {width:100%;margin-bottom:60px;}
.page_title .txt_title {overflow:hidden;clear:both;text-align:center;}
.page_title .txt_title .img_logo {display:inline-block;width:35px;height:30px;line-height:30px;vertical-align: middle;padding-right:9px;}
.page_title .txt_title h3 {padding-left:9px;font-family: 'notokr-light';font-size:20px;color:#4a4a4a;}
.page_title .txt_title h3 strong {font-family: 'notokr-medium';font-size:20px;color:#002d42;}

.page_body {clear:both;margin-bottom:100px;}

/* 5-1-1. company */
.company_left {float:left;width:439px;}
.table_company th {height:42px;line-height:42px;font-size:13px;color:#4a4a4a;font-family: 'notokr-demilight';border-top:1px solid #dadada;text-align:left;padding-left:14px;width:106px;}
.table_company td {height:42px;line-height:42px;font-size:13px;color:#7b7b7b;font-family: 'notokr-light';border-top:1px solid #dadada;border-left:1px solid #efefef;padding-left:32px;width:205px}
.table_company th.last, .table_company td.last {border-bottom:1px solid #dadada;}

.company_right {float:left;width:443px;height:349px;background: url(../img/sub/img_company.jpg);background-repeat: no-repeat;color:transparent;}

/* 5-1-2. ceo  */
.ceo_img {width:882px;height:635px;background: url(../img/sub/img_ceo.jpg);background-repeat: no-repeat;color:transparent;}

/* 5-1-3. policies  */
.policies_img {width:882px;height:880px;background: url(../img/sub/img_policies.jpg);background-repeat: no-repeat;color:transparent;}


/* 5-1-4. nomination */
.nomination_img {position:relative;width:882px;height:479px;background: url(../img/sub/img_nomination.jpg);background-repeat: no-repeat;color:transparent;}

.dlc_btn {
	display: inline-block;
	margin: 0;
	padding: 0;
	border-radius: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: transparent;
	outline: 0;
	vertical-align: middle;
	font-family: 'notokr-light';
	font-size: 13px;
	color:#ffffff;
	text-decoration: none;
	text-align:center;
	white-space: nowrap;
	cursor: pointer;
	width:204px;
	height:38px;
	line-height:38px;
}
.dlc_btn.blue {position:absolute;;left:0;top:203px;}
.dlc_btn.blue,
.dlc_btn.blue:link,
.dlc_btn.blue:visited {background: #002d42;}
.dlc_btn.blue:focus,
.dlc_btn.blue:hover {background: #002d42;}
.dlc_btn.blue:active,
.dlc_btn.blue.active {background: #002d42;}
.dlc_btn.gray {position:absolute;;left:0;top:249px;}
.dlc_btn.gray,
.dlc_btn.gray:link,
.dlc_btn.gray:visited {background: #7f96a0;}
.dlc_btn.gray:focus,
.dlc_btn.gray:hover {background: #7f96a0;}
.dlc_btn.gray:active,
.dlc_btn.gray.active {background: #7f96a0;}

/* 5-1-5. organization */
.organization_img {position:relative;width:882px;height:479px;background: url(../img/sub/img_organization.png);background-repeat: no-repeat;color:transparent;}

/* 5-1-6. history */
.history_img {position:relative;width:882px;height:915px;background: url(../img/sub/img_history.jpg);background-repeat: no-repeat;color:transparent;}

/* 5-1-7. location */
.location_content .location_addr {float:left;height:79px;width:379px;border:1px solid #9c9c9c;}
.location_content .location_tel {float:left;height:79px;width:367px;margin-left:7px;border:1px solid #9c9c9c;}
.location_content .location_link {float:left;height:81px;width:118px;margin-left:7px;background:#00a0e9;position:relative;}
.location_content .location_link a {display:block;overflow:hidden;height:81px;}
.txt_addr {display: inline-block;overflow: hidden;position:relative;line-height:79px;padding-left:12px;float: left;color:#4a4a4a;font-family: 'notokr-demilight';font-size:13px;}
.txt_tel {display: inline-block;overflow: hidden;position:relative;line-height:79px;padding-left:12px;float: left;color:#4a4a4a;font-family: 'notokr-demilight';font-size:13px;}
.txt_map {display: inline-block;overflow: hidden;position:absolute;top:54px;left:50%;margin-left:-25px;width:50px;color:#ffffff;font-family: 'notokr-medium';font-size:13px;}

.ico_addr {position:relative;width:42px;height:42px;background: url(../img/sub/ico_addr.png);background-repeat: no-repeat;text-indent:-9999px;display: inline-block;overflow: hidden;margin:18px 0 0 15px;    float: left;}
.ico_tel {position:relative;width:42px;height:42px;background: url(../img/sub/ico_tel.png);background-repeat: no-repeat;text-indent:-9999px;display: inline-block;overflow: hidden;margin:18px 0 0 15px;float:left;}
.ico_map {position:absolute;top:12px;left:50%;margin-left:-15px;width:31px;height:35px;background: url(../img/sub/ico_map.png);background-repeat: no-repeat;text-indent:-9999px;display: inline-block;overflow: hidden;}

.mapBox {width:100%; height:376px; border:1px solid #e2e2e2; margin-bottom:100px;}
.mapBox iframe { border:none; width:100%; height:376px; margin:0px; padding:0px; }



/* 5-2-1. buildProcess */
.bp_content p {color:#4a4a4a;font-family: 'notokr-light';font-size:13px;}
.bp_content .title_ico {background:url(../img/sub/logo_ico.gif) no-repeat 0 5px; padding-left:20px; margin-bottom:33px; font-family: 'notokr-regular';font-size:16px;}
.bp01 {margin-top:50px;clear:both;overflow:hidden;}
.bp02 {margin-top:50px;clear:both;overflow:hidden;}
.bp03 {margin-top:50px;clear:both;overflow:hidden;}
.bp03 span {font-family: 'notokr-medium';margin-bottom:10px;display:inline-block;}


.process_left {float:left;margin-right:35px;width:160px;border:solid #ce1f2c;border-width:3px 0 0 3px;padding: 25px 0 0 22px;}
.process_left h3 {font-size:18px;line-height: 30px;font-weight:normal;width:145px;}
.process_right {float:left;width:880px;}
.process_right p {font-size:14px;line-height:28px;}
.process_right .img_process {padding:45px 0 100px 0;}

/* 5-2-2. buildStudyAZ */
.az_list {position:relative;clear:both;overflow:hidden;height:715px;background: url(../img/sub/bak_az_list.png);background-repeat: no-repeat;margin-bottom: 70px;}
.az_list dl {position:absolute;}
.az_list dl.az_p1 {top:54px;left:23px;}
.az_list dl.az_p2 {top:54px;left:243px;}
.az_list dl.az_p3 {top:54px;left:467px;}
.az_list dl.az_p4 {top:54px;right:9px;}
.az_list dl.az_p5 {top:316px;left:23px;}
.az_list dl.az_p6 {top:458px;left:243px;}
.az_list dl.az_p7 {top:458px;left:467px;}
.az_list dl.az_p8 {top:458px;right:20px;}
.az_list dl dt {height:40px;padding:0 0 0 30px;font-size:16px;font-family: 'notokr-regular';color:#4a4a4a;background: url(../img/sub/logo_ico.gif) no-repeat 10px 5px;}
.az_list dl dd {}
.az_list dl dd a {line-height:25px;font-size:13px;font-family: 'notokr-light';color:#4a4a4a;}
.az_list dl dd a:hover,
.az_list dl dd a:active,
.az_list dl dd a:focus {color:#bb0311;}

.az_board {margin-top:15px;clear:both;overflow:hidden;}
.az_board .search_form {float:right;width:233px;height:37px;padding: 4px 0 21px 0;}
.az_board .search_form .input_wrap {display:block;width:231px;height:35px;border:1px solid #bbbbbb;}
.az_board .search_form .input_wrap .input_search {width:177px;border:0 none;line-height:35px;height:35px;font-size:13px;padding-left:14px;}

.az_board .board_list {clear:both;overflow:hidden;}
.az_board .board_list .list_table {width:100%;border:1px solid #bbbbbb;}
.az_board .board_list .list_table th {font-weight:normal;}
.az_board .board_list .list_table th, 
.az_board .board_list .list_table td {border:1px solid #bbbbbb;font-size:14px;color:#494949;line-height:45px;text-align:center;}
.az_board .board_list .list_table td.title {text-align:left;padding-left:39px;}
.az_board .board_list .list_table td.no_data {border:0 none;}

.az_board .paging_area {clear: both;overflow:hidden;margin-top:50px;}
.az_board .paging_area .pagination {float:left;overflow:hidden;text-align:center;}
.az_board .paging_area .pagination a {display:block;float:left;vertical-align: top;overflow: hidden;}
.az_board .paging_area .pagination .pg_img span {text-indent:-9999px;display: block;position: relative;padding: 0;height: 37px;background: url(../img/sub/btn_paging.png) no-repeat;}
.az_board .paging_area .pagination .pg_start span {background-position: 0px 0px;width: 36px;}
.az_board .paging_area .pagination .pg_prev span {background-position: -36px 0px;width: 37px;}
.az_board .paging_area .pagination .pg_next span {background-position: -73px 0px;width: 37px;}
.az_board .paging_area .pagination .pg_end span {background-position: -110px 0px;width: 36px;}
.az_board .paging_area .pagination span.pg_num, .pagination strong.pg_curpage {display: inline-block;width:35px;height: 35px;font-size: 14px;color:#959595;line-height: 37px;}
.az_board .paging_area .pagination span.pg_num {border:1px solid #ffffff;}
.az_board .paging_area .pagination strong.pg_curpage {float:left;color: #333333;font-size:14px;border:1px solid #bbbbbb;}

.az_board .paging_area .write_area {float: right;overflow: hidden;}

/* 5-2-3. buildStudy */
/* 5-2-4. reviewCilent */
/* 5-2-5. cmStory */
.content_story {position:relative;height:602px;background: url(../img/sub/bg_cmstory.gif);background-repeat: no-repeat;}
.content_story div.story_desc {position:absolute;top:135px;right:10px;}
.content_story div.story_desc p {font-size:14px;line-height:24px;}
.content_story div.story_btn {position:absolute;top:75px;right:158px;}
.content_story div.story_btn a {display:block;width:148px;height:40px;line-height:40px;text-align:center;background:#90c31f;color:#ffffff;font-family: 'notokr-medium';font-size:15px;}


/* 5-2-6. cmGallery */


/* 5-4-4. system */
.system_content p {color:#4a4a4a;font-family: 'notokr-light';font-size:13px;}

.system_wrap {margin-top:55px; }
.title_ico {background:url(../img/sub/logo_ico.gif) no-repeat 0 2px; padding-left:20px; margin-bottom:33px; clear:both; color:#4a4a4a;font-family: 'notokr-regular';font-size:16px;}

.sys02 {margin-top:50px;clear:both;overflow:hidden;}
.sys02 .left {float:left;margin-right:3px;}
.sys02 .right {float:left;}
.sys02 p.sys_txt02 {margin-top:50px;padding: 17px 0 0 15px;color:#7b7b7b}
.sys02 p.sys_txt02 span {font-family: 'notokr-regular';font-size:16px;}
.sys03 {margin-top:50px;clear:both;overflow:hidden;}
.sys03 p {font-family: 'notokr-regular';font-size:16px;}
.sys04 {margin-top:50px;}
.sys04 p {margin-top:30px;}
.sys05 {margin-top:50px;}
.sys05 p {margin-top:55px;}
.sys05 p span {font-size:16px;}
.sys06 {margin-top:50px;}




/* 5-6-1. business01 */
.table_cb {margin-top:60px;width:100%;}
.table_cb th.title {font-family: 'notokr-medium';font-size:16px;color:#fefefe;font-weight:normal;line-height:58px;background:#00a8ec;border-right:1px solid #ffffff;}
.table_cb th.num {font-family: 'notokr-medium';font-size:16px;color:#333333;font-weight:normal;border:1px solid #cdcccd;}
.table_cb td {font-family: 'notokr-regular';font-size:13px;color:#4a4a4a;line-height:49px;border:1px solid #cdcccd;text-align:center;}


/* 5-7-1. agreement */
/* 5-7-2. policy */
/* 5-7-3. refuse */
.policyTitle { font-size:15px;line-height:22px; font-weight:bold; color:#555; }
.policyBox { width:100%; height:623px; border:solid 1px #dddddd; overflow-y:scroll; padding:20px; margin:5px 0 5px 0; color:#555; line-height:22px; font-family:"Dotum" ; font-size:12px; }
.refuseBox { width:100%; height:410px; border:solid 1px #dddddd; overflow-y:scroll; padding:20px; margin:5px 0 5px 0; color:#555; line-height:22px; font-family:"Dotum" ; font-size:12px;}


.policy{width:722px; height:100%; min-width:722px; margin-bottom:30px; }
.H100% { height:100%; }
.txtCenter { text-align:center; }
.MT50 {margin-top:50px; }
.Mb80 {margin-bottom:80px;}
.PL13 { padding-left:13px; }
.Mb120 {margin-bottom:120px;}
.PL37 { padding-left:37px; }

/* 리스트 게시판 - 리스트 */
.searchWrap { width:100%; height:37px; }
.searchBox { float:right; width:231px; height:35px; border:solid 1px #dddddd; }
.searchBox img { float:right; }
.searchBox .inputSearch { width:169px; line-height:32px; height:25px; border:solid 0px #FFF; padding:2px 13px 2px 13px; font-size:12px; }
.listTable { width:100%; height:100%; margin-top:12px; }
.listTable tr th, .listTable tr td {font-weight:normal;    border: 1px solid #bbb;    height: 40px;    font-size: 14px; }
.listTable .titWIDTH { width:20%; background:#fbfbfb; }
.listTable .subWIDTH { width:80%; }
.PL { padding-left:13px; }
.listTable td { font-size:13px; }
.btnList { text-align:right; height:37px; margin-top:12px; }
.write_titBox { width:430px; height:29px; line-height:29px; border:solid 1px #dddddd; background:#fbfbfb; padding:0 13px 0 13px; color:#959595; font-size:12px;}
.write_nameBox { width:192px; height:29px; line-height:29px; border:solid 1px #dddddd; background:#fbfbfb; padding:0 13px 0 13px; }


/* 리스트 게시판 - 뷰 */
.listBG { background:#fbfbfb; }
.viewTable { width:100%; height:100%; margin-top:12px;  table-layout:fixed; }
.viewTable td { font-size:13px; }
.viewTable tr th, .viewTable tr td {font-weight:normal;    border: 1px solid #bbb;    height: 40px; }
.viewBox { width:100%; padding:39px 37px 39px 37px; line-height:25px; }
.viewBtn { text-align:right;  margin-top:32px; margin-bottom:32px; }
.filedown { margin-top:60px; color:#0b9ad0; }
.filedown img { margin-right:6px; }

/* 리스트 게시판 - 수정 */
.writeWrap { height:350px; }
.writeWrap .padding { padding:13px }
.writeWrap textarea { width:100%; height:324px; display:none; }


/* 페이지 컨트롤러 */
.paging { height:37px; width:100%; margin:80px 0; clear:both; }
.paging .frame { float:left; width:80%; height:37px; text-align:center;  }
.paging .frame_right { float:right; width:20%; text-align:right; }
.paging .frame2 { float:right; width:539px; height:37px; text-align:center;}
.paging .prev { float:left; width:50px; height:37px; margin-right:3px; text-align:left; }
.paging .next { float:left; width:50px; height:37px; margin-left:3px; text-align:right; }
.paging .number { float:left; width:37px; height:37px; margin:0 3px 0 3px; line-height:34px; }
.paging .number_over { float:left; width:35px; height:35px; margin:0 3px 0 3px; line-height:34px; border:solid 1px #dedede; background:#fbfbfb; }


/*댓글*/
.talkBox { width:100%; height:161px; border:solid 1px #dddddd; margin-top:34px; }
.talkBox .input { margin:20px; height:119px; border:solid 1px #dddddd; }
.talkBox .inputLeft { float:left; height:119px; border-right:solid 1px #dddddd; }
.talkBox .inputRight { float:right; width:110px; height:110px; padding:9px 0 0 10px; }
.joininput{width:762px; padding-top:12px;}
.joinBox { width:100%; height:200px; border:solid 1px #dddddd; overflow-y:scroll; padding:20px; margin:5px 0 5px 0; color:#555; line-height:22px; font-family:"Dotum" ; font-size:12px;}

.tableWrap { clear:both; width:100%; min-height:358px; }
.tableWrap td, .tableWrap th {border:1px solid #dddddd; height:40px; font-size:14px; }
.tableWrap td { padding-left:13px; font-size:13px; }
.tableWrap td:first-child { text-align:center; padding-left:0px; }
.tableWrap .padding { padding:13px; }
.tableWrap .textarea_box { height:268px; }
.tableWrap .textarea_box textarea { border:solid 1px #ccc; width:99%; height:242px; }

.tableWrap2 { width:100%;min-height:288px;  margin-top:39px; }
.tableWrap2 td, .tableWrap2 th {border:1px solid #dddddd; height:40px; font-size:14px; }
.tableWrap2 .tit { background:#fbfbfb; padding-left:32px; font-size:13px; }
.tableWrap2 .tit img { margin-right:12px; }
.tableWrap2 .content { padding-left:13px; font-size:13px; }
.tableWrap2 .tit2 { background:#fbfbfb; padding-left:52px; font-size:13px; }

.tableWrap3 { width:100%; min-height:246px;  margin-top:39px; height:226px; margin-bottom:32px;  }
.tableWrap3 td, .tableWrap3 th {border:1px solid #dddddd; height:40px; font-size:14px; }
.tableWrap3 td { padding:13px; font-size:13px; }
.tableWrap3 td:first-child { text-align:center; line-height:25px; background:#fbfbfb; }


.btnWrap { text-align:center; clear:both; margin:0 auto; margin-top:32px; }


.joinTitTxt { font-size:15px;line-height:22px; font-weight:bold; color:#555; }

#join {width:100%; margin-top:10px; border-top:2px solid #c3162d; border-left:none; border-right:none;  }
#join td{ font-size:13px; height:50px; border-bottom:1px solid #bbb; border-left:none; border-right:none;}
#join td .write_titBox {width: 280px;}
#join .titWIDTH { width:17%; background:#fbfbfb; }
#join .subWIDTH { width:83%; }
#join .join_tit { padding-left:50px;  font-size:13px;  border-right:0px solid #bbb;}
#join .join_tit2 { padding-left:60px;  font-size:13px;  border-right:0px solid #bbb;}
#join .join_content { padding-left:30px;  font-size:13px; }

.join_write_titBox { width:280px; height:29px; line-height:29px; border:solid 1px #ddd;  padding:0 13px 0 13px; }

/*회원가입*/
.check_box input {float:left;  width:18px; margin-top:4px;  }
.check_box p {float:left; margin-left:3px;  }
.btnAgreement > img {cursor: pointer;}

/* 공사견적 */
#Request{min-height:945px; }
#Request td { font-size:12px; }
#Request td, #Request th {border:1px solid #dddddd; height:40px; }
#Request .titWIDTH { width:17%; background:#fbfbfb; }
#Request .subWIDTH { width:83%; }
#Request .txtStyle { line-height:25px; padding:7px 0; }
#Request textarea { width:100%; border:none; height:350px; }
#Request input { font-size:12px; }


/* 갤러리 */
.galleryWrap { width:100%;clear:both;overflow:hidden; }
.galleryBox { float:left; width:206px; height:260px; padding:15px; border:solid 1px #dadada; margin-left:24px; }
.galleryBox:first-child {margin-left:0; }
.galleryBox .imgBox { width:204px; height:168px;  border:solid 1px #dfdfdf; }
.galleryBox .txtBox { width:206px; height:89px; }
.galleryBox .galleryTit { font-size:15px; height:30px; border-bottom:solid 1px #dadada; padding-top:20px; }
.galleryBox .subTxt { font-size:11px; color:#999999;  float:left; padding-top:22px; width:206px; }
.galleryBox .data { float:left;  width:135px; }
.galleryBox .hit { float:right; }

/* 시공현장 */
.ingTable {width: 415px;height: 516px;margin-bottom: 55px;margin-right:20px;float: left;}
.ingTable .ingIMG {width: 415px;height: 256px;}
.ingTable .ingIMG img {width: 415px;height: 256px;}
.ingTable .ingLIST {font-size:13px;padding-top: 29px;}
.ingTable .ingLIST div.ingTitle {position:relative;}
.ingTable .ingLIST div.ingTitle > a  {position:absolute;top:0;right:0;display:block;width:25px;height:25px;text-indent:-9999px;background: url(../img/sub/btn_ing.jpg);background-repeat: no-repeat;}
.ingTable .ingLIST h3{ font-size:16px;font-family:"notokr-light" ;color:#4a4a4a; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding-bottom:14px; border-bottom:1px solid #dadada;}
.ingTable .ingLIST table { margin-top:20px;width:100%;}
.ingTable .ingLIST table tr td{  }
.ingTable .ingLIST table .TITwidth { width:68px;}
.ingTable .ingLIST table .SUBwidth { width:auto; }
.ingTable .ingLIST table .ingTXT { padding-left:13px; color:#9a9a9a;font-family:"notokr-light" ;  font-size:13px; background: url(../img/sub/ing_line.jpg);background-repeat: no-repeat;background-position:0 4px;} 
.ingTable .ingLIST table .ingTIT {text-align:left; color:#4a4a4a;font-family:"notokr-demilight" ;  font-size:13px;  }


.ingTable .ingBTN { float:left;  height:40px; font-size:15px; text-align:center;}
.ingTable .ingBTN ul { margin-top:11px; text-align:center;}
.ingTable .ingBTN .smartBtn {width:204px; height:38px;   line-height:38px; background:#002d42; float:left; margin-left:7px;cursor:pointer;}
.ingTable .ingBTN .smartBtn p {text-align:center;   line-height:38px; font-family:"notokr-light" ; font-size:13px;color:#ffffff;}
.ingTable .ingBTN .btnPopupProfile  {width: 204px;height: 38px;line-height: 38px;background:#7f96a0; float:left;cursor:pointer;}
.ingTable .ingBTN .btnPopupProfile p {text-align:center;   line-height:38px;font-family:"notokr-light" ; font-size:13px;color:#ffffff; }
.btnMore {width:148px; margin:0 auto; margin-bottom:80px;     clear: both;}
.btnMore .sysMore {font-size:15px;  line-height:33px; width:148px; height:33px; border:1px solid #959595; text-align:center; }
.noData { clear:both; height:230px; margin-bottom:50px; text-align:center; line-height:30px; padding-top:20px; color:#787878; }

#ingViewTit { width:100%; height:51px; margin-bottom:17px;clear:both; }
#ingViewTit .tit {float:left; width:131px; height:51px; background:#303030; text-align:center; line-height:51px; font-size:16px; color:#d3d3d3; }
#ingViewTit .titTxt {float:left; width:716px; height:49px; font-size:24px; border:solid 1px #959595; border-left:none; line-height:49px; padding:0px 17px; }
#ingViewTit .titTxt .date { float:left; font-size:14px; margin-left:2px; }
#ingViewTit .titTxt .name { float:left; max-width:550px; font-weight:bold; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
#ingViewTable { clear:both; height:236px; }
#ingViewTable .ingIMG { float:left; width:383px; height:236px; }
#ingViewTable .ingIMG img {width:383px; height:236px; }
#ingViewTable .ingLIST{float:right; width:380px;  margin-left:34px; border-top:1px solid #959595; padding-top:18px; }
#ingViewTable .ingLIST table tr td{border:1px solid #959595; }
#ingViewTable .ingLIST table .TITwidth {  width:77px; background:#002d42; }
#ingViewTable .ingLIST table .SUBwidth { width:260px; }
#ingViewTable .ingLIST table .ingTXT {width:289px;  padding-left:13px;  font-size:13px; height:35px; border-left:none; }
#ingViewTable .ingLIST table .ingTIT {text-align:center; color:#fff;  font-size:13px; height:35px; border-top:1px solid #ffffff; border-left:none; border-bottom:1px solid #fff; border-right:none; }
#ingViewTable .ingLIST table .ingTIT_1 {text-align:center; color:#fff;  font-size:13px; height:35px;  border-left:none; border-bottom:1px solid #fff; border-right:none;}
#ingViewTable .ingLIST table .ingTIT_2 {text-align:center; color:#fff;  font-size:13px; height:35px; border-bottom:1px solid #ffffff; border-left:none; border-right:none;}

#ingSubMenu { clear:both; height:49px; border:solid 1px #959595; border-top:none; text-align:center; margin-bottom:30px; }
#ingSubMenu li { width:149px; line-height:49px; margin-bottom:10px; font-size:13px; border-right:solid 1px #959595; float:left;}
#ingSubMenu li:hover { background:#f6f6f6; }
#ingSubMenu .over { background:#f6f6f6; }
#ingSubMenu .last { border-right:none; width:129px; }
.SubLine { width:100%; height:3px; background:#303030; margin-top:46px; }

.ingviewBtn { width:100%; height:37px; margin-top:35px; }
.ingviewBtn .txt { float:left; width:80%; color:#adadad; line-height:21px; }
.ingviewBtn .btn { float:right; width:20%; text-align:right; }

.ingviewList { width:100%; height:188px; margin-top:40px; margin-bottom:80px; }
.ingviewList .imgDate { float:left; width:227px; height:188px; }
.ingviewList .IMG { width:227px; height:161px; }
.ingviewList .IMG img {width:227px; height:161px;}
.ingviewList .DATE { width:225px; height:26px; border:solid 1px #959595; border-top:none; text-align:center; font-size:12px; line-height:26px; }
.ingviewList .TXT { float:left; width:326px; height:186px; border:solid 1px #959595; border-left:none; }
.ingviewList .TIT { width:100%; height:35px; border-bottom:solid 1px #959595; background:#f5f5f5; line-height:35px; text-align:center; }
.ingviewList .CONTENT { width:218px; height:102px; padding:24px; font-size:12px; }
.ingviewList .TXT2 { float:left; width:326px; height:186px; border:solid 1px #959595; border-left:none; }

.ingview_subTit { font-size:15px;  clear:both; }
.ingview_subTxt { color:#999; margin-left:5px; }
.ingview_controller {  width:881px; height:44px; border:solid 1px #959595; margin:20px 0 ; overflow:hidden;  }
.ingview_controller .btnBox { width:15%; height:44px; line-height:44px;  vertical-align:middle; float:left; text-align:center;  }
.ingview_controller .btnBox img { vertical-align:middle;}
.ingview_controller .DATE { float:left; width:70%; height:44px; font-size:16px; line-height:44px; text-align:center; }
.paleFont { color:#999; }

.ingview_list {padding-top:30px; }
.ingview_list td {border:1px solid #959595; }
.ingview_list .listTit { text-align:center; font-size:14px; font-weight:bold; width: 300px; }
.ingview_list .list { padding:30px ; vertical-align:top; line-height:1.8; }
.ingview_memo {  width:883px;  padding:30px 0; border-bottom:solid 1px #959595; }
.ingview_img { display:inline-block; width:100%; height:auto; margin-bottom:40px; clear:both; }
.ingview_img .imgBox {  width:436px; height:279px; margin:20px 5px 0 0; float:left;}
.ingview_img .imgBox img {  width:436px; height:236px;  }
.ingview_img .imgBox .IMG {  width:436px; height:236px;  }
.ingview_img .imgBox .TXT {width:417px; height:41px; border:solid 1px #959595; border-top:none; line-height:41px; padding-left:17px; }
.ingview_listbtn {float:right;}

.completeview_img { width:761px; height:150px; }
.completeview_img .imgBox02 { width:185px; height:114px; margin:20px 0; float:left;  margin-left:6px; }
.completeview_img .imgBox02:first-child{margin-left:0; }
.completeview_img .imgBox02 img { width:185px; height:114px;float:left; }