@charset "utf-8";

/* 전체적용 */
body {font-family:'Nanum Gothic', 'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;color:#222;}
/* 링크 */
a, a:link	{color:#222; text-decoration:none;} 
a:visited	{color:#222; text-decoration:none;}
a:hover		{color:#222; text-decoration:none;}
a:active	{color:#222; text-decoration:none;} 
a:focus		{color:#222; text-decoration:none;}



/* head */
div#head_wrap	{position:relative;text-align:center; min-width: 1000px;background: #ffffff;}
div#head		{width:1000px; height:108px;margin:0 auto;}
div#head_line {position:absolute;bottom:-13px;clear:both;height:12px;width:100%;min-width: 1000px;background: #dc060e}

/* logo */
h1.logo	{float:left;padding:0; margin:0;height:100%;}
h1.logo	a {display: block;width:100%;line-height:108px;}
h1.logo	a img {vertical-align: middle;max-width:100%; max-height:100%;}
div.menu_wrap	{float:right;}

/* 메뉴보조 */
div.menu_aid	{font-size:8px;line-height:11px;height:11px;color:#a1a1a1;text-align:right; clear:both;margin-top:13px;}
div.menu_aid a, .menu_aid a:link, .menu_aid a:visited 	{padding:0 2px; color:#464545; font-size:11px;}
div.menu_aid a:hover, .menu_aid a:active, .menu_aid a:focus	{color:#00378d;}
div.menu_aid img	{vertical-align: middle; margin:0 3px 0 0;}

/* 메뉴 */
div.menu	{text-align:center; padding:0; margin:0;}	
div.menu ul	{padding:0; margin:0; list-style-type:none;clear:both;z-index: 99999;}
div.menu li	{height:83px; float:left;padding:0; margin:0px; margin-right:50px;}
div.menu li a {display:block;height:100%;line-height:83px;font-size: 18px;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;color:#464545;text-align:center;}
div.menu li.lang {width:64px;margin-right:25px;}
div.menu li.last,
div.menu li:last-child {margin-right:0;}
/*div.menu li.lang a, div.menu li.last a {overflow:hidden; line-height:0; font-size:0; text-indent:-9999px;}
div.menu li.lang a {background:url(../images/lang_kr.png) no-repeat 0 36px;}*/
/*div.menu li.last a {background:url(../images/menu.png) no-repeat 0 36px;}*/
div.menu .selected_menu{color: #00378d;}


/* 드롭메뉴 */
div#menudrop_warp	{text-align:center; position: relative;}
h3#menudrop_1, h3#menudrop_2, h3#menudrop_3, h3#menudrop_4, h3#menudrop_5, h3#menudrop_6	{	
	left:50%; top:42px;
	position:absolute;
	z-index:1;
	text-align:center;
	visibility:hidden;
}
h3#menudrop_1			{margin-left:-170px;}
div.menudrop_arrow_1 	{text-align:left; padding-left:30px;}
h3#menudrop_2			{margin-left:-60px;}
div.menudrop_arrow_2 	{text-align:left; padding-left:62px;}
h3#menudrop_3			{margin-left:115px;}
div.menudrop_arrow_3 	{text-align:left; padding-left:30px;}
h3#menudrop_4			{margin-left:85px;}
div.menudrop_arrow_4 	{text-align:left; padding-left:30px;}
h3#menudrop_5			{margin-left:215px;}
div.menudrop_arrow_5 	{text-align:left; padding-left:30px;}
h3#menudrop_6			{margin-left:350px;}
div.menudrop_arrow_6 	{text-align:left; padding-left:30px;}

.menudrop	{margin:0;background:#444;}
.menudrop ul	{padding:0 10px 0 10px; margin:0;list-style-type:none;}
.menudrop li	{
	padding:0;
	margin:9px 12px 5px 12px;
	display:inline; float:left;
}
.menudrop li a, .menudrop li a:link, .menudrop li a:visited 	{
	color:#464545;
}
.menudrop li a:hover, .menudrop li a:active, .menudrop li a:focus	{
	color:#00378d;
}
.selected_item a {color:#00378d !important;}
.menu_sub_ul{
	position : absolute !important;
	display: none;
	margin:0;
	padding:0;
}
.menu_sub_ul a:LINK li, .menu_sub_ul a:VISITED li {font-size: 16px; text-align : left; min-width: 125px; width: 125px; padding-left: 35px; padding-right: 20px; margin-top: 0px;color: #616161; display: block; float: none; background-color: #fff;}
.menu_sub_ul{margin:0;padding:0;}
.menu_sub_ul li{
	height:25px !important;
	line-height: 25px; 
	padding: 15px 0px;
	border: 1px solid #EEEEEE;
	border-top: none;
}
.menu_sub_ul a:first-child li{
	border-top: 1px solid #EEEEEE;
}
.menu_sub_ul li:last-child{
	padding: 18px 0px;
}
.menu_sub_ul a:hover li {
	color: #00378d;
}
.menu_sub_li:hover a{
	color:#00378d !important;
}

#lang_btn{
	cursor : pointer;
}
#lang_bg{
	position :fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	left: 0px;
	top : 0px;
	z-index: 999;
	display: none;
}
.lang_wrap{
	width: 1200px;
	margin: 0 auto;
	position : relative;
}
.lang_nemo{
	width: 140px;
	height: 95px;
	background-color: #fff;
	display: inline-block;
	float: right;
	border-radius: 3px;
	margin-top : 100px;
	position : relative;
	left: 46px;
}
.lang_semo{
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
	position : relative;
	margin : 0 auto;
	top : -15px;
}
.lang_nemo a{
	position : relative;
	padding: 5px 30px;
	font-size: 16px;
	color: #666;
	display: block;
	text-align: left;

}
.lang_nemo a span{
	content : "";
	display: none;
	position : absolute;
	width: 30px;
	height: 1px; right: 30px;
	background-color: #d41814;
	top : 16px;
}
.lang_active {
	color : #d41814 !important;
}
.lang_active span{
	display: block !important;
}

/* vg */
div#vg_wrap_sub	{background:url(../images/sub_vg.jpg) no-repeat 50% 0; text-align:center; clear:both; min-width: 1000px;}
div#vg_sub	{height:191px; width:1000px; margin:0 auto; text-align:left;}
div#vg_wrap_main	{background:url(../images/main_vg.jpg) no-repeat 50% 0; text-align:center; clear:both;}
div#vg_wrap_main_mobi	{background:url(../images/main_Vg.jpg) no-repeat 50% 0; text-align:center; clear:both;}
div#vg_main	{height:389px; width:1000px; margin:0 auto; text-align:left;}


/* middle */
div#middle_wrap	{width:100%;min-height:215px;clear:both;min-width: 1000px;background: #ffffff;}
div.middle_main	{width:1000px;height:215px;margin:0 auto;position: relative;clear:both;}
div.product_wrap {width:100%;position: absolute;bottom:26px;left:0;}
div.product_inner {width:100%;position: relative;clear:both;}
div.product_inner div.product {width:238px;height:213px;border:1px solid #efefef;float:left;margin-right:12px;}
div.product_inner div.product a {display: block;height:100%;}
div.product_inner div.product a h4, div.product_inner div.product a p {margin:0;padding:0;}
div.product_inner div.product a h4 {position:relative;font-size: 17px;color:#5e5e5e;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;padding-top:17px;padding-left:17px;}
div.product_inner div.product a h4 span {position: absolute;display: inline-block;width:15px;height:15px;background:url(../images/btn_more.jpg) no-repeat;top:15px;right:11px;text-indent:100%;white-space: nowrap;overflow: hidden;}
div.product_inner div.product a p {font-size:12px;color:#9a9a9a;font-family:'dotum', sans-serif;padding-top:10px;padding-left:17px;letter-spacing: -2px;}
div.product_inner div.product.last {margin-right:0;}

div.intro_wrap {width:100%;height:107px;padding-top:24px;background: #cedae6;position: absolute;bottom:0;left:0;}
div.intro_wrap div.intro_contact {color:#40648e;float:left;margin-left:25px;}
div.intro_wrap div.intro_contact h4 {margin:0;padding:0;font-family:'myriad';color:#40648e;font-size:18px;line-height: 20px;margin-bottom:10px;}
div.intro_wrap div.intro_contact div.content {background:url(../images/ico_contact.png) no-repeat;}
div.intro_wrap div.intro_contact div.content p {font-family:'myriad';color:#40648e;font-size:24px;padding-left:73px;}


div.intro_wrap div.intro_content_wrap {float:right;}
div.intro_wrap div.intro_content {float:left;width:180px;height:100%;padding:0;}
div.intro_wrap div.intro_content a {width:100%;display: block;}
div.intro_wrap div.intro_content div.ico {width:100%;height:65px;text-align:center;}
div.intro_wrap div.intro_content h4 {text-align:center;margin:0;font-size:16px;line-height:20px;color:#636363;}
div.intro_wrap div.intro_content p {font-size:16px;line-height:22px;color:#626262;text-align:center;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;}
div.intro_wrap div.line {float:left;width:1px;height:100%;background:url(../images/dot.png) no-repeat;margin:0;}

/* 컨텐츠영역 좌측 */
div.left_wrap	{width:200px;float:left;position:relative; }
div.left_top	{position:relative;width:100%;height:100px;margin:0;}
div.left_top h2 {margin:0;font-size:30px;font-weight:bold;color:#444444;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;text-align: left;line-height:110px;padding-left:20px;}
/* 서브메뉴 */
.sub_menu	{text-align:left; padding:0; margin:0; list-style-type:none;border-top:3px solid #022876;}

.sub_menu_li, .sub_menu_li_r 	{
	display:block;
	position: relative;
	text-align:left;
	cursor:pointer;
	height:47px; 
	border-bottom: 1px solid #dddddd;
}
.sub_menu_li a, .sub_menu_li_r a {display:block;height:100%;line-height:47px; font-size:16px;color:#828282;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;padding-left:20px;letter-spacing: -1px;}
.sub_menu_li_r 	a {background:url(../images/submenu_bg_r.png) no-repeat 180px 17px;color:#022876;}


/* 서브2메뉴 */
.sub2_menu	{text-align:left; padding:5px 0 8px 0; margin:0; list-style-type:none; background:#f8f8f8;}

.sub2_menu_li, .sub2_menu_li_r 	{
	display:block;
	text-align:left;
	cursor:pointer;
	height:25px; line-height:25px; font-size:13px; padding:0 0 0 20px;
	color:#888;
	}
.sub2_menu_li_r 	{color:#da1523;}

/* 배너영역 */
.left_banner	{margin:85px 0 65px 0;}
.left_banner div.ico {text-align: center;}
.left_banner h4 {margin:8px 0;padding:0 0 8px 0;color:#575f6f;font-size:18px;line-height: 18px;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;font-weight: bold;text-align: center;border-bottom: 1px solid #202962;letter-spacing: -1px;}
.left_banner p {font-family:'notosans';font-weight: bold;text-align: center;}
.left_banner p.tel {font-size:24px;color:#555555;}
.left_banner p.fax {font-size:19px;color:#7e7e7e;line-height: 1.5;}

.left_estimate {width:100%;height:61px;background:url(../images/bg_estimate.png) no-repeat;background-size: 100%;clear:both;}
.left_estimate div.ico_estimate {float:left;width:40px;height:40px;padding:10px 0 10px 20px;}
.left_estimate div.txt_estimate {float:left;padding:10px 0 10px 15px;}
.left_estimate div.txt_estimate h4 {margin:0;padding:0;font-family:'notosans';font-size:16px;line-height:1.5;color:#353535;font-weight: bold;}
.left_estimate div.txt_estimate p {margin:0;padding:0;font-family:'notosans';font-size:12px;color:#777777;}

/* 타이틀영역 */
.title_wrap {overflow:hidden; height:100px;border-bottom:1px solid #dddddd; }
.title_wrap .position {float:right;background:url(../images/icon_home.png) no-repeat;     background-position: 0 45px;padding-left:15px; margin-top:0;line-height:100px;}
.title_wrap h2.title {float:left;color:#444444; font-size:34px;line-height:100px;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;}
.title_wrap .title_slogan {margin:-20px 0 10px 0; font-size:13px; color:#8e8e8e; }


h3.title2 {color:#000000; font-size:18px; line-height:23px; font-weight:600; margin-top:30px; }


.sub_vg_title{
	position : relative;
	width: 100%;
	margin: 0;
	height: 23px;
	padding:0;
	text-align: center;
}
.sub_vg_title h2 {background:url(../images/sub_title_line.png) no-repeat;padding-left:17px;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;font-weight:bold;font-size: 22px;color: #464646;letter-spacing: -1px;margin:0;text-align: left;}

	/* 컨텐츠영역 */
	div.contents_wrap {width:770px; float:right;margin-left:30px;}
	.contents	{margin:20px 0 70px 0; vertical-align:top;  }

	

/* footer */
div#footer_wrap	{position:relative;clear:both;min-width: 1000px;height:87px;padding:0;background: #ffffff;}
/* 카피라이트 */
div.copyright_wrap	{width:1000px; margin:0 auto;padding:15px 0; overflow:hidden;clear:both;position: relative;}
.copy_logo	{margin:0;padding:0;height:50px;line-height:50px;width:219px;float:left;overflow: hidden;}
.copy_logo img {    vertical-align: middle;    max-width: 100%;    max-height: 100%;}
address	{float:left; display:inline;color:#a0a0a0;font-size:13px;line-height:20px; padding:0 0 0 20px;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;font-style:normal;}
.copy_by	{position: absolute;bottom:15px; right:0;}


/* 사이트맵 */
	.sitemap	{
		width:170px;
		float:left;
		display:inline;
		margin:0 0 70px 20px;
		}
	.sitemap_cate	{
		border-top:1px #999 solid;
		border-bottom:1px #666 solid;
		text-align:center;
		padding:13px 0 10px 0;
		background:#fafafa;
		}
	.sitemap_cate_text	{
		color:#006fbc; font-size:14px; font-weight:bold;
		}
	.sitemap_text ul	{
		margin:0;
		list-style-type:none;
		padding:0;
		}
	.sitemap_text ul li	{
		padding:12px 0 8px 0;
		border-bottom:1px #ddd solid;
		}
	.sitemap_text ul li div	{
		padding:0 0 0 10px;
		}
	.sitemap_text ul li div a, .sitemap_text ul li div a:link, .sitemap_text ul li div a:visited 	{
		}
	.sitemap_text ul li div a:hover, .sitemap_text ul li div a:active 	{
		color:blue;
		}




#container {
	width: 100%;
	height:552px;
	background:url(../images/vg.png) no-repeat;
	background-size: cover;
	background-position: center center;
	padding:0;
	margin:0;
	position:relative;
	overflow: hidden;
}
#container div.vg_text {position:relative;width:1000px;margin:150px auto 0;text-align: right;clear:both;}
#container div.vg_more {width:209px;margin:45px 0 0;position: absolute;top:100px;right:0;}
#container div.vg_more a {display:block;width:209px;line-height:48px;background: #174383 url(../images/more_slogan.png) no-repeat;background-position:168px 17px;text-align: left;}
#container div.vg_more a span {display: inline-block;padding:0 25px;font-size:16px;color:#ffffff;font-family:'Noto Sans KR', 'Nanum Barun Gothic', 'dotum', sans-serif;}


#sub_container {
	width: 100%;
	height:232px;
	line-height: 0;
	padding:0;
	margin:0;
	position:relative;
	overflow: hidden;
	background:url(../images/sub_bg.png) no-repeat;
	background-size: cover;
}

#sub_container div.sub_text {width:1000px;margin:0 auto;padding-top:65px;text-align: right;}


.sub_wrap {width:1000px;min-height:500px;margin: 0 auto;clear:both;overflow: hidden;}
.sub_inner {clear:both;}

#example {
	width: 2300px;
	height: 883px;
	position:relative;
}

#slides {
	position:absolute;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:90px;
	left:5px;
	width:35px;
	height:35px;
	display:block;
	z-index:101;
}

#slides .next {
	left:493px;
	margin-left:-40px;
}

.slides_container {
	width: 2300px;
	height: 883px;
	overflow:hidden;
	position:relative;
}

.pagination {
	position:absolute;
	text-align: center;
	z-index:666;
	top:260px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}

.pagination li {
	display: inline-block;
	margin:0 5px;
	list-style: none;
}

.pagination li a {
	display:inline-block;
	width: 18px;
	height:20px;
	background-image : url("../images/page.png");
	overflow:hidden;
}

.pagination li.current a {
	background-image : url("../images/page_current.png");
}
.stop_btn{
	position : absolute;
	top: 260px;
	z-index: 999;
	left:90px;
	right: 0px;
	margin: 0 auto;
	width: 20px;
	cursor : pointer;
	display: inline-block;
}
.main_vg_img{
	position : relative;
	height: 883px;
	min-width: 2300px;
	background-size: cover;
	background-position : center 0px;
}
