@charset "UTF-8";

/* 
** reset 
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
table{border-collapse:collapse;border-spacing:0}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {position:relative;background:#fff;-webkit-text-size-adjust: none}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;color:#333}
a {color:#3577e8;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}

/*
** headings
*/
h1, h2, h3, h4, h5, h6 {margin:0;line-height:1.25em;}
h1 {font-size:2.5em;}
h2 {font-size:2.0em;}
h3 {font-size:1.5em;}
h4 {font-size:1.25em;}
h5 {font-size:1.0em;}
h6 {font-size:0.8em;}
h1 img {margin:0;vertical-align:middle;}


/* 
** global class 
*/
.ir-pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen-hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */

.f-l {float:left !important;}
.f-r {float:right !important;}

.cl-b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}

.align-left {text-align:left;}
.align-center {text-align:center;}
.align-right {text-align:right;}


/*
** Layout style 
*/
.fd-page {position:relative;width:978px;min-width:978px;margin:0 1.5em;clear:both;}
.fd-page:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.fd-page.type_center {margin:0 auto;}

.fd-wrap {display:block;*width:100%;clear:both;}
.fd-wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

.fd-container {position:relative;width:1000px;min-width:1000px;margin:0;padding:0;clear:both;}
.fd-container:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.fd-container.type-center {margin:0 auto;}

/* 
** grid 
*/

.grid-5 {width:5%;}
.grid-10 {width:10%;}
.grid-15 {width:15%;}
.grid-20 {width:20%;}
.grid-25 {width:25%;}
.grid-30 {width:30%;}
.grid-35 {width:35%;}
.grid-40 {width:40%;}
.grid-45 {width:45%;}
.grid-50 {width:50%;}
.grid-55 {width:55%;}
.grid-60 {width:60%;}
.grid-65 {width:65%;}
.grid-70 {width:70%;}
.grid-75 {width:75%;}
.grid-80 {width:80%;}
.grid-85 {width:85%;}
.grid-90 {width:90%;}
.grid-95 {width:95%;}