@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess */
/*

font-weight: 400;  NanumGothic-Regular
font-weight: 700;  NanumGothic-Bold
font-weight: 800;  NanumGothic-ExtraBold

*/

/* KoPub Dotum */
@font-face {
	font-family: 'KoPub Dotum';
	font-style: normal;
	font-weight: 300;
	src: url(font/KoPubDotum-Light.eot);
	src: url(font/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
	   url(font/KoPubDotum-Light.woff) format('woff'),
	   url(font/KoPubDotum-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'KoPub Dotum';
	font-style: normal;
	font-weight: 400;
	src: url(font/KoPubDotum-Medium.eot);
	src: url(font/KoPubDotum-Medium.eot?#iefix) format('embedded-opentype'),
	url(font/KoPubDotum-Medium.woff) format('woff'),
	url(font/KoPubDotum-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'KoPub Dotum';
	font-style: normal;
	font-weight: 700;
	src: url(font/KoPubDotum-Bold.eot);
	src: url(font/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
			url(font/KoPubDotum-Bold.woff) format('woff'),
			url(font/KoPubDotum-Bold.ttf) format('truetype');
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {position:relative;background:#ffffff;-webkit-text-size-adjust: none; font-family:'Nanum Gothic', 'KoPub Dotum', 'Dotum';font-style: normal;font-weight: 400;}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1;color:#313131}
a {color:#313131;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
table {border-spacing: 0;border-collapse: collapse;}
table caption {display:none;}



.bg_primary {background-color:#00283d;}
.bg_sub {}

.fontPrimary {color:#313131;}
.grayNormal {color:#8a8989 ;}
.grayLight {color:#c8c8c8;}
.greenNormal {color:#48af49;}
.greenLight {color:#6abb6b;}
.greenButton {color:#a0c53d}


/*
폰트사이즈
25 로고?
20 1차메뉴
18
16  서브타이틀, 버튼, 2차메뉴
14  기본
10
*/ 
.fontLight {font-weight: 300;}
.fontBold {font-weight: 700;}


.m_auto {margin:0 auto !important}
.f_left {float:left !important;}
.f_right {float:right !important;}

/* 
** Layer popup  
*/

.black_bg {width:100%;height:100%; position:absolute;  left:0px;top:0px;z-index:1000;background-color:#3b3b3b;}
.opa50 {filter:alpha(opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';opacity:.5;}
#layer_bg {z-index:100;}
#layer_contents {z-index:101;width:auto;height:auto;position:absolute;left:35%;top:550px;}

/* 
** button  
*/
.btn {
	display: inline-block;
	position:relative;
	margin: 0;
	padding: 0;
	border:0 none; 
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: transparent;
	outline: 0;
	vertical-align: middle;
	font-size: 16px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	text-align:center;
	height:33px;
	line-height:33px;
} 
.btn.full {display:block;}
.btn.inline {display:inline-block;width:154px;}
.btn.greenBasic {background: #ffffff;border:1px solid #a0c53d;}
.btn.greenBasic span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#a0c53d;}
.btn.greenBasic span.txt.on {color:#ffffff;}
.btn.greenBasic span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#a0c53d;}

.btn.greenBasic2 {background: #ffffff;border:2px solid #a0c53d;}
.btn.greenBasic2 span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#a0c53d;}
.btn.greenBasic2 span.txt.on {color:#ffffff;}
.btn.greenBasic2 span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#a0c53d;}
 

.btn.greenSecond {background: #ffffff;border:1px solid #48af49;}
.btn.greenSecond span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#48af49;}
.btn.greenSecond span.txt.on {color:#ffffff;}
.btn.greenSecond span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#48af49;}

.btn.basic {background: #ffffff;border:2px solid #a0c53d;height:31px;line-height:31px;}
.btn.basic span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#a0c53d;}
.btn.basic span.txt.on {color:#ffffff;}
.btn.basic span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#a0c53d;}

.btn.secondary {background: transparent;border:2px solid #ffffff;height:31px;line-height:31px;}
.btn.secondary span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#ffffff;}
.btn.secondary span.txt.on {color:#a0c53d;}
.btn.secondary span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#ffffff;}


.btn.introGreen {background: transparent;border:2px solid #d4e6a4;height:31px;line-height:31px;}
.btn.introGreen span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#ffffff;}
.btn.introGreen span.txt.on {color:#ffffff;}
.btn.introGreen span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#d4e6a4;}

.btn.introBrown {background: transparent;border:2px solid #b18c46;height:31px;line-height:31px;}
.btn.introBrown span.txt {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;color:#ffffff;}
.btn.introBrown span.txt.on {color:#ffffff;}
.btn.introBrown span.animateBG {display:block;position:absolute;top:0;left:0;width:0;height:100%;z-index:1;background:#b18c46;}






/* 
** opacity 
*/
.opacity_0	 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity: 0;filter: alpha(opacity=0);zoom:1;}
.opacity_10 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";opacity: 0.1;filter: alpha(opacity=10);zoom:1;}
.opacity_15 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";opacity: 0.15;filter: alpha(opacity=15);zoom:1;}
.opacity_20 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity: 0.2;filter: alpha(opacity=20);zoom:1;}
.opacity_25 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";opacity: 0.25;filter: alpha(opacity=25);zoom:1;}
.opacity_30 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity: 0.3;filter: alpha(opacity=30);zoom:1;}
.opacity_35 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";opacity: 0.35;filter: alpha(opacity=35);zoom:1;}
.opacity_40 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity: 0.4;filter: alpha(opacity=40);zoom:1;}
.opacity_45 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";opacity: 0.45;filter: alpha(opacity=45);zoom:1;}
.opacity_50 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.5;filter: alpha(opacity=50);zoom:1;}
.opacity_55 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";opacity: 0.55;filter: alpha(opacity=55);zoom:1;}
.opacity_60 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity: 0.6;filter: alpha(opacity=60);zoom:1;}
.opacity_65 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity: 0.65;filter: alpha(opacity=65);zoom:1;}
.opacity_70 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity: 0.7;filter: alpha(opacity=70);zoom:1;}
.opacity_75 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";opacity: 0.75;filter: alpha(opacity=75);zoom:1;}
.opacity_80 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: 0.8;filter: alpha(opacity=80);zoom:1;}
.opacity_85 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";opacity: 0.85;filter: alpha(opacity=85);zoom:1;}
.opacity_90 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity: 0.9;filter: alpha(opacity=90);zoom:1;}
.opacity_95 {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";opacity: 0.95;filter: alpha(opacity=95);zoom:1;}


