.clsBannerScreen {overflow: hidden;position: relative;height:354px;width: 828px; border:0; cursor:pointer; clear:both;}
.clsBannerScreen .images {position:absolute; display:none; }
.clsBannerButton {position:absolute;width:212px; height:354px; cursor:pointer;border:0;top:0px;margin-left:828px;padding:0;margin-bottom:0;list-style:none;}
.clsBannerButton li { line-height:0% }
.clsBannerButton li img { line-height:0% }
.clsBannerButton li.labelOverClass {}